<div class="modal-application-view-v5 modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title modal__title--nb">
    <div class="modal__title-cap">
      <h2>Выберите банк</h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
  <div class="modal__view">
    <div class="modal__subview">
       <div id="grid-app-view-v5" class="datagrid"></div>
    </div>
  </div> 
</div>


  <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Ok</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>
</template>
