<div class="wrap__w918">
<div class="step-block__sep--blank">
	//= ../request/request-readonly/basic-info/basic-info.html
</div>
<div class="step-block__sep--blank">
 	//= ../request/request-readonly/party/party-01.html
</div>
 <div class="step-block__sep--blank">
  	//= ../request/request-readonly/customs-clearance/customs-clearance-agreement.html
 </div>
<div class="step-block__sep--blank">
	//= ../request/request-readonly/calc-performer/calc-performer.html
</div>
<div class="step-block__sep--blank">
	//= ../request/request-readonly/doc-credit/doc-credit.html
</div>
<div class="step-block__sep--blank">
	//= cargo-exam/cargo-exam.html
	//= exam-place-send/exam-place-send-r.html
</div>
<div class="step-block__sep--blank">	
	//= goods-exam/goods-exam.html
	//= exam-place-send/exam-place-send-r-v2.html
	//= exam-place-dest/exam-place-dest-r.html
</div>
<div class="step-block__sep--blank">
	//= cargo-insure-choice/cargo-insure-choice.html
</div>
 <div class="step-block__sep--blank">
	//= cargo-escort/cargo-escort-hbl.html
	//= track-from/track-from-r.html
	//= track-to/track-to-r.html
</div>

//= HBL/HBL-r.html
//= delivery-cond/delivery-cond-r-v2.html

<div class="step-block__capsep step-block__capsep-b30">
 	<h2 class="step-block__sep-cap">Участники перевозки</h2>
 	<div class="step-block__sep-line"></div>
</div>
<div class="step-block__sep--blank">
//= sender-info/sender-info.html
</div>
<div class="step-block__sep--blank">
	//= recipient-info/recipient-info.html
</div>
<div class="step-block__sep--blank">
	//= notification/notification.html
</div>
</div>