<div class="wrap__w918">

<div class="step-block__sep--blank">
	//= ../request/request-readonly/basic-info/basic-info.html
</div>
<div class="step-block__sep--blank">
 	//= ../request/request-readonly/party/party-01.html
</div>
 <div class="step-block__sep--blank">
  	//= ../request/request-readonly/customs-clearance/customs-clearance-agreement.html
 </div>
<div class="step-block__sep--blank">
	//= ../request/request-readonly/calc-performer/calc-performer.html
</div>
<div class="step-block__sep--blank">
	//= ../request/request-readonly/doc-credit/doc-credit.html
</div>
<div class="step-block__sep--blank">
	//= cargo-exam/cargo-exam.html
	//= exam-place-send/exam-place-send.html
</div>
<div class="step-block__sep--blank">	
	//= goods-exam/goods-exam.html
	//= exam-place-send/exam-place-send-v2.html
	//= exam-place-dest/exam-place-dest.html
</div>
<div class="step-block__sep--blank">
	//= ../request/request-readonly/cargo-insure-choice/cargo-insure-choice.html
</div>
<div class="step-block__sep--blank">
	//= cargo-escort/cargo-escort.html
	//= route/route.html
	//= route/route-v2.html
</div>
<!-- <div class="step-block__sep--blank"> -->
	//= HBL/HBL.html
	//= delivery-cond/delivery-cond.html
<!-- </div> -->
<div class="step-block__capsep step-block__capsep-b30">
 	<h2 class="step-block__sep-cap">Участники перевозки</h2>
 	<div class="step-block__sep-line"></div>
</div>
//= sender-info/sender-info.html
<!-- 
 <div class="step-block__sep--blank">
  	//= ../request/request-readonly/party/party-02-agreement.html
 	//= ../request/request-readonly/container/container20.html
 	//= ../request/request-readonly/container/container40.html
 	//= ../request/request-readonly/total/total.html
 </div>

 	//= ../request/request-readonly/incoterms-2010/incoterms-2010.html
 	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/party-goods/party-goods.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/party-goods/party-goods-02.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/certificate/certificate.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/customs-transit/customs-transit.html
	<div class="step-block__sep--blank"></div>





	
	<div class="spoiler">
		<div class="spoiler__cap  app-lnk">
			<img src="/img/icn-show-hide.svg" class="svg">
			<div class="spoiler__cap-t"></div>
		</div>	
	</div> -->
</div>