<footer class="footer">
	<div class="footer__wr">
	<div class="footer__wr-lf">
		<button id="footer__button-prev" class="button basic-button button-prev footer__button"><img class="button-prev__arrow" src="img/button-prev__arrow.svg">Назад</button>
		<button class="button red-button footer__button">Отменить запрос</button>
	</div>
	<div class="footer__wr-rg">
		<button class="button basic-button footer__button icn icn__edit--pr">Внести изменения</button>
		<button class="button green-button footer__button icn icn__create">Сохранить</button>
	</div>
	</div>
</footer>