<field-set class="field-set field-set--tween-bottom">
<legend class="field-set__cap">
	Условия вашей поставки по контракту
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Incoterms 2010:</td>
		    <td>FAS</td> 
		  </tr>
		  <tr>
		    <td>Место:</td>
		    <td>Konstanz, Германия</td>  
		  </tr>
		  <tr>
		    <td>Как распорядиться:</td>
		    <td>Собрать</td>  
		  </tr>
		  <tr>
		    <td>Представитель:</td>
		    <td>Банк, ООО «Наименование банка-представителя»</td>  
		  </tr>
		  <tr>
		    <td>Где собрать:</td>
		    <td>Konstanz, Германия</td>  
		  </tr>
		  <tr>
		    <td>Количество оригиналов:</td>
		    <td>Два оригинала</td>  
		  </tr>
		  <tr>
		    <td>Копия HB/L:</td>
		    <td><a href="#" class="app-lnk">hbl-copy-file.pdf</a></td>  
		  </tr>
		</table>
	</div>		
</div>
</field-set>