<field-set class="field-set field-set--tween-bottom">
<legend class="field-set__cap">
	Условия вашей поставки по контракту
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
			<div class="input-field" style="width: 221px;">
			    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
			    <div class="input-field__label">
			        <label for="pseudoClassSelectBox__id">Incoterms-2010:</label> 
			    </div>        
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Место:</label> 
                </div>
            </div>
		</div>
		<div class="block__row">
			<div id="delivery-cond2-radio" class="radiogroup"></div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field" style="width: 221px;">
			    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
			    <div class="input-field__label">
			        <label for="pseudoClassSelectBox__id">Представитель:</label> 
			    </div>        
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Где:</label> 
                </div>
            </div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Укажите представителя:</label> 
			    </div>
			</div>
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Контактное лицо представителя:</label> 
			    </div>
			</div>
		</div>
	</div>		
</div>
</field-set>