<div class="wrap__w918">
        <field-set class="field-set">
          <legend class="field-set__cap">
                Общая информация по счёту
          </legend>
          <div class="field-set__items field-set__items-r">
              <div class="block__cont block__cont-r"> 
                  <table>
                    <tr>
                      <td>Тип счёта:</td>
                      <td>Доплата по сделке</td> 
                    </tr>
                     <tr>
                      <td>Счёт выставлен:</td>
                      <td>20.06.2019</td> 
                    </tr>
                    <tr>
                      <td>Доп. соглашение:</td>
                      <td>Отсутствует</td> 
                    </tr>
                    <tr>
                      <td>Услуга:</td>
                      <td>Транспортно-экспедиторское обслуживание по маршруту Осака, Япония - Владивосток, Россия</td> 
                    </tr>
                    <tr>
                      <td>Счёт включает:</td>
                      <td>Контейнер No MSKU0234684 MBL No MCB843092, HBL No E1903052502; плёнка; 0,155м3; 79,1кг.; кол-во мест: 3</td> 
                    </tr>
                    <tr>
                        <td>Сумма НДС:</td>
                        <td>0 %</td>
                    </tr>
                    <tr>
                        <td>Общая сумма к оплате:</td>
                        <td><img src="/img/icn-checkmark--gr.svg">999 999, 99$</td>
                    </tr>
                  </table>
              </div>		
          </div>
          </field-set>
    </div>