<div class="dg-filter">
	<div class="dg-filter__group">
		<div class="dg-filter__cont">
		  <input type="radio" checked="checked" name="dg-filter-group1">
		  <span class="dg-filter__item"><label class="app-dash-lnk">Показать все счета</label></span>
		</div>
		<div class="dg-filter__cont">
		  <input type="radio" name="dg-filter-group1">
		  <span class="dg-filter__item"><label class="app-dash-lnk">Оплаченные (подтвержденные)</label></span>
        </div>
        <div class="dg-filter__cont">
            <input type="radio" name="dg-filter-group1">
            <span class="dg-filter__item"><label class="app-dash-lnk">Оплаченные (ждут подтверждения)</label></span>
        </div>
        <div class="dg-filter__cont">
            <input type="radio" name="dg-filter-group1">
            <span class="dg-filter__item"><label class="app-dash-lnk">Неоплаченные</label></span>
        </div>
	</div>
</div>
<div style="width: 1550px;">
	<div id="dataGridBills" class="datagrid"></div>
</div>
