<footer class="footer">
	<div class="footer__wr">
	<div class="footer__wr-lf">
		<button id="footer__button-prev" class="button basic-button button-prev footer__button"><img class="button-prev__arrow" src="img/button-prev__arrow.svg">Назад</button>
	</div>
	<div class="footer__wr-rg">
        <button class="btn__rnd btn__rnd--add footer__button app-lnk">
                    <img src="img/icn-print.svg" class="svg">
                    <span class="btn__rnd-cap btn__rnd-cap--nodash btn__rnd-cap--icn-left">Распечатать/просмотреть pdf-версию</span>
        </button>
		<button class="button basic-button footer__button">Экспортировать счёт</button>
		<button class="button green-button footer__button icn icn__credit">Оплатить счёт</button>
	</div>
	</div>
</footer>