.dx-datebox-calendar .dx-dropdowneditor-icon:before {
    content: url(#{$imgFolder}input-field__btn-calendar.svg);
}

.dx-datebox-calendar .dx-dropdowneditor-icon:hover::before {
   	 content: url(#{$imgFolder}input-field__btn-calendar--hover.svg);
    }
.input-field__icn-calendar .dx-dropdowneditor-icon{
		background-color: $clr-grey-v4;
	}