.dx-fileuploader {
	    border: 1px dashed #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
	    background-color: $clr-grey-v4;
		 @include font-lucida ($clr-dark-light, 13px, normal);


	    & .dx-fileuploader-input-container {
			width: 310px;

	    }

	    &.dx-fileuploader-dragover {
	    	background: #ECF4FA;
			border: 1px dashed #5C2D91;
	    }

}

.dx-fileuploader-input-label:before {
	width: 38px;
	height: 26px;
	content: url(#{$imgFolder}fileupload-downloadbox.svg);
	position: relative;
	top: 0;
	padding-right: 20px;
	overflow: visible;
}
.dx-fileuploader-wrapper {
     padding: 20px 27px; 
}
.dx-fileuploader-input-wrapper {
	display: block;
    padding: 0;
    border: 3px dashed transparent;
    position: relative;
}

.dx-fileuploader-button {
	border-radius: 0px; 
    border-width: 0px; 
    border-style: none;
    padding: 0;
    color: $clr-blue;
    position: absolute;
    top: 17.7px;
    right: 183px;
    z-index: 1;
	font-size: 13px;


    & .dx-button-content {
    	padding: 0;
    }

    & .dx-button-text{
    	border-bottom: 1px dashed $clr-blue;
    	background-color: $clr-grey-v4;
    	&:hover {
    		color: $clr-purple;
    		border-bottom: 1px dashed $clr-purple;
    	}	
    }

    &.dx-button-mode-contained.dx-state-hover {
    	background-color: $clr-white;
    }
}


.dx-fileuploader-input-label {
    display: flex;
    align-items: center;
    white-space: normal;
    padding: 0;
}

//drugover
.dx-fileuploader-dragover .dx-fileuploader-input-wrapper {
  border: 3px dashed transparent;
  padding: 0;
}
.dx-fileuploader-dragover .dx-fileuploader-input-wrapper .dx-fileuploader-button {
  display: block;
}
.dx-fileuploader-dragover .dx-fileuploader-input-label {
  text-align: left;
  padding: 0;
}
.dx-fileuploader-dragover .dx-fileuploader-input-container {
  display: block;
  border: none;
  width: 310px;
}

.dx-fileuploader-dragover .dx-fileuploader-input {
  display: block;
  width: 100%;
  padding: 7px 0;
  margin: 0px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.dx-fileuploader-dragover .dx-fileuploader-input-label:before {
	content: url(#{$imgFolder}fileupload-downloadbox--hover.svg);
}

.dx-button-normal.dx-state-hover .dx-button-content,
.dx-button-back.dx-state-hover .dx-button-content {
  background-color: transparent;
  border-radius: 0px;
}

//загруженные файлы
.dx-fileuploader-files-container {
	padding: 0;
	& .dx-fileuploader-file-name {
		color: $clr-blue;
		display: flex;
   		 align-items: center;
	}
}
.dx-fileuploader-file-name:before {
	content: url(#{$imgFolder}fileupload__clip.svg);
	padding-right: 15px;
}

.dx-fileuploader-show-file-list .dx-fileuploader-files-container {
    padding-top: 0px;
}

.dx-fileuploader-file-info {
	display: flex;
    align-items: center;
}

.dx-fileuploader-file-status-message,
.dx-fileuploader-file-size {
  color: #AAAAAA;
  font-size: 13px;
}

//progress bar 
.dx-fileuploader-file {
	& .dx-progressbar-container {
		  height: 2px;
		  border: 1px solid #ddd;
		  background-color: #dddddd;
		  border-radius: 2px;
		}
	& .dx-progressbar-range {
		  position: relative;
		  border: 1px solid #02BE96;
		  background-color: #02BE96;
		  margin-top: -1px;
		  -webkit-box-sizing: content-box;
		  box-sizing: content-box;
		  -moz-border-top-left-radius: 2px;
		  border-top-left-radius: 2px;
		  -moz-border-bottom-left-radius: 2px;
		  border-bottom-left-radius: 2px;
		}	
	& .dx-progressbar-animating-container {
  		 height: 2px;
 		 background-color: #dddddd;
 		 background-size: 90% 5px;
 		 border: 1px solid #ddd;
 		 border-radius: 2px;
 		 animation: loader 2s linear infinite;
 		 background-repeat: no-repeat;
         background-color: #02BE96;
  		 background-repeat: repeat;
		}	


}