<div class="wrap__w918">
	//= ../request-readonly/basic-info/basic-info.html
	<div class="spoiler spoiler--show">
		<div class="spoiler__cap  app-lnk">
			<img src="/img/icn-show-hide.svg" class="svg">
			<div class="spoiler__cap-t"></div>
		</div>	
	</div>
</div>

<div class="step-block__sep40--blank"></div>

<div class="flx-r">
<field-set class="field-set req-price" style="width: 444px;">
<legend class="field-set__cap">
	Вариант 1
</legend>
<div class="field-set__items req-price__wr">
	<div class="req-price__bl"> 
		<label class="radiogr-ct">
		  <input type="radio" name="radiogroup">
		  <span class="radiogr-ct__chmrk"></span>
		  <div class="radiogr-ct__lb">296 771,61 ₽</div>
		</label>
		<span class="req-price__adate">Цена сделки валидна до 03.05.2019</span>
	</div>
	<div class="req-price__bl req-price__bl-el"> 
		<dir>Маршрут</dir>
		<div class="req-price__route"><img src="/img/flg-china.svg">Шанхай, Китай →</div>
		<div class="req-price__route"><img src="/img/flg-korea.svg">Пусан, Южная Корея →</div>
		<div class="req-price__route"><img src="/img/flg-russia.svg">Владивосток, Россия →</div>
		<div class="req-price__route"><img src="/img/flg-russia.svg">→ Новосибирск, Россия</div>
	</div>

	<div class="req-price__bl"> 
	<div class="req-price__list req-price__list--hide"> 
		<div class="req-price__list-h">
		<div class="app-lnk__clhd">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Показать включённые операции</div>
			</div>
		</div>	
		<div class="req-price__list-cnt">
			<ol> 
				<li>Погрузо-разгрузочные работы Погрузка</li>
				<li>Крепление</li>
				<li>Морской фрахт</li>
				<li>Терминальная обработка груза</li>
				<li>Изготовление схем погрузки</li>
				<li>Морской фрахт</li>
				<li>Терминальная обработка груза</li>
				<li>Оформление документов</li>
				<li>Погрузо-разгрузочные работы</li>
				<li>Услуги порта / склада ( СВХ )</li>
				<li>Железнодорожная перевозка</li>
				<li>Погрузо-разгрузочные работы Выгрузка</li>
			</ol>
			
		</div>
	</div>
	<div class="req-price__list req-price__list--hide"> 
		<div class="req-price__list-h">
		<div class="app-lnk__clhd">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Показать невключённые операции</div>
			</div>
		</div>	
		<div class="req-price__list-cnt">
			<ol> 
				<li>Хранение </li>
				<li>Слежение за вагонами / контейнерами</li>
				<li>Хранение</li>
			</ol>
			
		</div>
	</div>
	</div>		
</div>
</field-set>
<field-set class="field-set req-price" style="width: 444px;">
<legend class="field-set__cap">
	Вариант 2
</legend>
<div class="field-set__items req-price__wr">
	<div class="req-price__bl"> 
		<label class="radiogr-ct">
		  <input type="radio" name="radiogroup">
		  <span class="radiogr-ct__chmrk"></span>
		  <div class="radiogr-ct__lb">296 771,61 ₽</div>
		</label>
		<span class="req-price__adate">Цена сделки валидна до 03.05.2019</span>
	</div>
	<div class="req-price__bl req-price__bl-el"> 
		<dir>Маршрут</dir>
		<div class="req-price__route"><img src="/img/flg-china.svg">Шанхай, Китай →</div>
		<div class="req-price__route"><img src="/img/flg-korea.svg">Пусан, Южная Корея →</div>
		<div class="req-price__route"><img src="/img/flg-russia.svg">Владивосток, Россия →</div>
		<div class="req-price__route"><img src="/img/flg-russia.svg">→ Новосибирск, Россия</div>
	</div>

	<div class="req-price__bl"> 
	<div class="req-price__list req-price__list--hide"> 
		<div class="req-price__list-h">
		<div class="app-lnk__clhd">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Показать включённые операции</div>
			</div>
		</div>	
		<div class="req-price__list-cnt">
			<ol> 
				<li>Погрузо-разгрузочные работы Погрузка</li>
				<li>Крепление</li>
				<li>Морской фрахт</li>
				<li>Терминальная обработка груза</li>
				<li>Изготовление схем погрузки</li>
				<li>Морской фрахт</li>
				<li>Терминальная обработка груза</li>
				<li>Оформление документов</li>
				<li>Погрузо-разгрузочные работы</li>
				<li>Услуги порта / склада ( СВХ )</li>
				<li>Железнодорожная перевозка</li>
				<li>Погрузо-разгрузочные работы Выгрузка</li>
			</ol>
			
		</div>
	</div>
	<div class="req-price__list req-price__list--hide"> 
		<div class="req-price__list-h">
		<div class="app-lnk__clhd">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Показать невключённые операции</div>
			</div>
		</div>	
		<div class="req-price__list-cnt">
			<ol> 
				<li>Хранение </li>
				<li>Слежение за вагонами / контейнерами</li>
				<li>Хранение</li>
			</ol>
			
		</div>
	</div>
	</div>		
</div>
</field-set>
