<field-set class="field-set" style="width: 790px;">
	<legend class="field-set__cap">
		Общая информация о юридическом лице
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field" style="min-width: 461px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Полное название организации:</label> 
				    </div>
				</div>
				<div class="input-field input-field--blank">
				    <div id="customer-endind-radio" class="radiogroup"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Именуем__ в дальнейшем «Заказчик»:</label> 
				    </div>
				</div>
				
				</div>
				<div class="block__row block__row--gap20">
				<div class="input-field" style="width: 266px;">
				    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
				    <div class="input-field__label">
				        <label for="pseudoClassSelectBox__id">Организационно-правовая форма: </label> 
				    </div>        
				</div>
				<div class="input-field" style="width: 266px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Краткое наименование:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Организационно-правовая форма, полное наименование:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Адрес регистрации:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Почтовый адрес (местонахождение):</label> 
				    </div>
				</div>
				</div>
		</div>
	</div>
</field-set>