.dx-fileuploader {
	    border: 1px dashed #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
	    background-color: $clr-grey-v4;

	    & .dx-fileuploader-input-container {
			width: 320px;

	    }

}

.dx-fileuploader-input-label:before {
	content: url(#{$imgFolder}fileupload-downloadbox.svg);
	position: relative;
	top: 0;
	padding-right: 20px;
	overflow: visible;
}
.dx-fileuploader-wrapper {
     padding: 20px 27px; 
}
.dx-fileuploader-input-wrapper {
	display: block;
    padding: 0;
    border: 3px dashed transparent;
    position: relative;
}

.dx-fileuploader-button {
	border-radius: 0px; 
    border-width: 0px; 
    border-style: none;
    padding: 0;
    color: $clr-blue;
    position: absolute;
    top: 17.2px;
    right: 165px;
    z-index: 1;



    & .dx-button-content {
    	padding: 0;
    }

    & .dx-button-text{
    	border-bottom: 1px dashed $clr-blue;
    	background-color: $clr-grey-v4;
    	&:hover {
    		color: $clr-purple;
    	}	
    }

    &.dx-button-mode-contained.dx-state-hover {
    	background-color: $clr-white;
    }
}


.dx-fileuploader-input-label {
    display: flex;
    align-items: center;
    white-space: normal;
}