.popup__info-newmsg {
	@include font-lucida (#000000, 15px, normal);
	position: absolute;
	right: 30px;
	top: 30%;
	width: 375px;
	background: #FFFFFF;
	border: 1px solid #D5D7E1;
	box-sizing: border-box;
	box-shadow: 0px 8px 30px rgba(55, 63, 81, 0.2);
	border-radius: 3px;
	display: flex;
	align-items: center;
	// padding: 15px;

	&-img {
		flex: 1 0 56px;
		border-right: 1px solid $clr-grey-v2;
		 padding: 17px;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&-text {
		padding: 10px;
	}	

}