.input-field {
	position: relative;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

	&__label {
		@include font-lucida ($clr-dark-light, 13px, normal);
		margin-bottom: 6px;
		display: flex;
		flex-direction: row;
		width: 100%;
		order: -1;



		&--err:before{
			content: url(#{$imgFolder}input-field-err.svg);
			margin-right: 5px;

		}
	}

	&__cont{
		height: 36px;
		flex: 1 0 auto;
		// border-radius: 3px !important;

		border: 1px solid $clr-grey-v4; //перекрываем свойство dexpr
		&.dx-invalid{
			border: 1px solid #E63946 !important;
		}

	}

	&__value{
		background: $clr-grey-v4;
		// /border: 1px solid $clr-grey-v4; 
		@include font-lucida ($clr-dark-light, 15px, normal);
		padding-left: 10px !important;

		&:focus{
			background: rgba(243, 243, 243, 0.4); 
			// border: 1px solid $clr-grey-v2; 
			box-sizing: border-box; 
			border-radius: 3px;	
		}

		&:hover {

		}
	}

	&__remark {
		@include font-lucida ($clr-dark-light, 12px, normal);
		margin-top: 6px;
		align-self: flex-end;
	}


	&__requestName {
		display: flex;
    	flex-direction: column;
    	width: 602px;
    	margin-top: 20px;
	}

	&__destName,&__departName {
		flex: 1 0 627px;
		max-width: 627px;
	}


	&__condition {
		flex: 1 0 221px;
		max-width: 221px;
	}

	&__btn {
		width: 36px;
		height: 36px;
		background-color: #FFFFFF;
		border: 1px solid #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
    	cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;

		&-img{
			background: url(#{$imgFolder}input-field__btn-world.svg);;
    		width: 22px;
			height: 22px;
   			&:hover {
   				background: url(#{$imgFolder}input-field__btn-world--hover.svg);
   			}
		}
	}

	&__currency-calc {
		width: 480px;
		margin-top: 30px;
	}


}

.dx-state-disabled + .input-field__label {
			color:rgba(0, 23, 31, 0.6);;
		}




