.header-sticky__main {
	// flex: 0 0 112px;
	// max-height: 112px;
	height: 112px;
	display: flex;
	///align-items: stretch;
	align-items: center;

	&-logo {
		// content: url(#{$imgFolder}hs-estiw_logo.svg);
		min-width: 203px;
		// height: 64px;
		margin: 0 161px 0 30px;
		display: flex;
		flex-direction: column;
    	flex: 0 1 156px;
    	align-self: center;
	}
	
	&-timezone {
		height: 70px;
		flex: 1 0 272px;
		max-width: 272px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		margin-right: 30px;
		
	}

	&-people {
		// height: 100%;
		flex: 1 0 auto;
		max-height: 80px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// align-items: center;
		justify-content: space-around;
		margin: 0 30px;

	}
}

