.radiogroup {
	&__2line {
	 height: 54px;
	 & .dx-radiobutton {
		padding-bottom: 10px !important;
	}	
}
}

.radiogr-ct {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  & input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}

  &__chmrk {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  width: 20px;
	  height: 20px;
	  background: linear-gradient(0deg, rgba(19, 119, 191, 0.08), rgba(19, 119, 191, 0.08)), #F6F6F6;
	  border-radius: 50%;
	}
	&:hover input ~ &__chmrk {
  		border: 1px solid #0073BE;
	}
	& input:checked ~ &__chmrk {
  		background-color: $clr-blue;
	}

	&__chmrk:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	& input:checked ~ &__chmrk:after {
 		 display: block;
	}

	& &__chmrk:after {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: white;
	}

	&__lb {
		@include font-lucida (rgba(0, 23, 31, 0.6),22px,26px);
		margin-left: 12px;
	}
	& input:checked ~ &__lb {
  		color: #00171F;
	}	
}
