<field-set class="field-set field-set--tween-top">
<legend class="field-set__cap">
	Выпуск HB/L: Необходимо выпустить
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row ft-common--1416">
				<div style="width: 579px;">Укажите ваши распоряжения касательно распределения оригиналов коносамента для удовлетворения требований всех сторон по поставке.</div>
		</div>
		<div class="block__row">
			<div id="hbl-app-radio" class="radiogroup"></div>
		</div>
		<div class="block__row">
			<div id="hbl2-app-radio" class="radiogroup"></div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование отправителя</label> 
			    </div>
			</div>
			<div class="input-field">
                <div class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Пункт отправления:</label> 
                </div>
            </div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field" style="max-width: 424px;">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование отправителя:</label> 
			    </div>
			</div>
			<div id="hbl3-app-radio" class="radiogroup mt30"></div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование получателя:</label> 
			    </div>
			</div>
			<div class="input-field">
                <div class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Пункт назначения:</label> 
                </div>
            </div>
		</div>
	</div>		
</div>
</field-set>