  <div class="modal-change-pass modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Восстановление пароля: введите новый пароль </h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
      <div class="modal__view modal__subview">
      <div class="block__row block__row--gapb30"> 
        <div class="input-field" style="width: 320px;">
            <div id="auth-login" class="input-field__cont pseudoClassTextEditor"></div>
            <button class="input-field__show-pass"><img src="img/input-field__pass-show.svg" class="svg"></button>
            <div class="input-field__label">
              <label for="pseudoElementTextEditor__id">Новый пароль:</label> 
            </div>
        </div>
      </div> 
      <div class="block__row">  
        <div class="input-field" style="width: 320px;">
            <div id="auth-login" class="input-field__cont pseudoClassTextEditor"></div>
            <button class="input-field__show-pass"><img src="img/input-field__pass-show.svg" class="svg"></button>
            <div class="input-field__label">
              <label for="pseudoElementTextEditor__id">Подтвердите пароль:</label> 
            </div>
        </div>
      </div>  
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center">
        <button class="button basic-button purple-button" role="button" tabindex="0">
          <div class="dx-button-content">Изменить пароль</div>
        </button>
      </div>
    </div>
</template>
