<field-set class="field-set" style="width: 790px;">
	<legend class="field-set__cap">
		Уполномоченное лицо
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Наименование должности уполномоченного лица:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Фамилия уполномоченного лица:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
				    <div class="input-field__label">
				        <label for="pseudoClassSelectBox__id">Имя уполномоченного лица:</label> 
				    </div>        
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Отчество уполномоченного лица:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Должность уполномоченного лица и его ФИО полностью (в Родительном падеже): </label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field" style="width: 360px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Действующего на основании:</label> 
				    </div>
				</div>
				</div>
		</div>
	</div>
</field-set>