<div class="dg-filter">
	<div class="dg-filter__group">

		<div class="dg-filter__cont">
		  <input type="radio" checked="checked" name="dg-filter-group1">
		  <span class="dg-filter__item"><label class="app-dash-lnk">РФ (Внутренациональная)</label></span>
		</div>
		<div class="dg-filter__cont">
		  <input type="radio" name="dg-filter-group1">
		  <span class="dg-filter__item"><label class="app-dash-lnk">ВЭД (Международная)</label></span>
		</div>

	</div>
	<div class="dg-filter__group">
		<div class="dg-filter__cont">
		  <input type="radio" checked="checked" name="dg-filter-group2">
		  <span class="dg-filter__item"><label class="app-dash-lnk">Любой объём</label></span>
		</div>
		<div class="dg-filter__cont">
		  <input type="radio" name="dg-filter-group2">
		  <span class="dg-filter__item"><label class="app-dash-lnk">До 5 м²</label></span>
		</div>
		<div class="dg-filter__cont">
		  <input type="radio" name="dg-filter-group2">
		  <span class="dg-filter__item"><label class="app-dash-lnk">Свыше 5 м²</label></span>
		</div>	
	</div>
	<div class="dg-filter__group">
		<span class="dg-filter__item"><div id="requestall__filter-checkbox" class="checkbox"></div></span>
		<span class="dg-filter__item"><div id="requestall__filter-checkbox1" class="checkbox"></div></span>
	</div>

</div>
<div id="dataGridRequestAllConnected" class="datagrid datagrid--remove"></div>