<h2>Предварительный выбор условий будущей сделки</h2>

<div class="input-field input-field__requestName">
    <div id="requestName" class="input-field__cont" tooltip="Наименование запроса" flow="right"></div>
    <div class="input-field__label">
    	<label for="requestName__id">Наименование запроса:</label> 
    </div>
    <div class="input-field__remark"">Обозначьте название для сделки, чтобы её легко можно было найти позднее</div>
</div>

 <div class="step-block__sep">
 	<div class="step-block__sep-line"></div>
 </div>

<div class="step-block__type-need-volume">
	<field-set id="field-set__type-deal" class="field-set field-set__type-deal">
		<legend class="field-set__cap">
			Тип сделки
		</legend>
		<div class="field-set__items">
			<div id="type-deal__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>

	<field-set id="field-set__what-need" class="field-set field-set__what-need">
		<legend class="field-set__cap">
			Что требуется
		</legend>
		<div class="field-set__items checkbox-items">
			<div id="deliver-cargo__checkbox" class="checkbox"></div>	
			<div id="bay-cargo__checkbox" class="checkbox"></div>
			<div id="law-cargo__checkbox" class="checkbox"></div>		
		</div>
	</field-set>

	<field-set id="field-set__volume-cargo" class="field-set field-set__volume-cargo">
		<legend class="field-set__cap">
			Обьем груза
		</legend>
		<div class="field-set__items">
			<div id="volume-cargo__radioGroup" class="radiogroup" tooltip="Наименование запроса" flow="right"></div>
		</div>
	</field-set>		
</div>

 <div class="step-block__sep">
 	<div class="step-block__sep-line"></div>
 </div>

<div class="step-block__depart-destination">
	<field-set class="field-set field-set--tween-top field-set__depart">
		<legend class="field-set__cap">
			Отправление <img src="img/field-set__cap-arrow.svg">
		</legend>
		<div class="field-set__items">

			<div class="input-field input-field__departName">
			    <div id="departName" class="input-field__cont"></div>
			    <!-- <button class="input-field__btn" onclick=""><div class="input-field__btn-img app-lnk-img"></div></button> -->
			    <div id="departButton" class="input-field__btn dex-button__earth"></div>
			    <div class="input-field__label">
			    	<label for="departName__id">Выберите пункт отправления:</label> 
			    </div>
			</div>

			<div class="input-field input-field__condition">
			    <div id="conditionDepart" class="input-field__cont input-field__icn-dropdown"></div>			
				<div class="input-field__label">
			    	<label for="conditionDepart__id">Выберите условия:</label> 
			    </div>        
			</div>

		</div>

	</field-set>
	<field-set class="field-set field-set--tween-bottom field-set__destination">
		<legend class="field-set__cap">
			<img src="img/field-set__cap-arrow.svg"> Назначение
		</legend>
		<div class="field-set__items">
			<div class="input-field input-field__destName">
			    <div id="destName" class="input-field__cont"></div>
			    <!-- <button class="input-field__btn" onclick=""><div class="input-field__btn-img app-lnk-img"></div></button> -->
			    <div id="destButton" class="input-field__btn dex-button__earth"></div>
			    <div class="input-field__label">
			    	<label for="desttName__id">Выберите пункт отправления:</label> 
			    </div>			    
			</div>

			<div class="input-field input-field__condition">
			    <div id="conditionDest" class="input-field__cont input-field__icn-dropdown"></div>
			    <div class="input-field__label">
			    	<label for="conditionDest__id">Выберите условия:</label> 
			    </div>
			</div>
		</div>
	</field-set>
</div>

 <div class="step-block__sep">
 	<div class="step-block__sep-line"></div>
 </div>

<field-set id="field-set__cargo-receiver" class="field-set field-set__cargo-receiver">
	<legend class="field-set__cap">
		Получатель груза
	</legend>
	<div class="field-set__items">
		<div id="cargo-receiver__radioGroup" class="radiogroup"></div>
	</div>
</field-set>

 <div class="step-block__sep">
 	<div class="step-block__sep-line"></div>
 </div>

<field-set class="field-set field-set__cargo-ready">
	<legend class="field-set__cap">
		Готовность груза
	</legend>
	<div class="field-set__items">
		<div class="switch">
			<div id="period__switch"></div>
			<p class="switch__title">Укажите вторую дату, если груз будет готов в период</p>
		</div>

		<div class="field-set__period-begin-exp">
		<div class="input-field input-field__datebox">
			    <div id="cargoBeginDate" class="input-field__cont input-field__icn-calendar"></div>
			    <div class="input-field__label">
			    	<label for="cargoBeginDate__id">Выберите дату:</label> 
			    </div>
		</div>
		<img src="img/field-set__period-begin-exp.svg" class="field-set__period-begin-exp-img">
		<div class="input-field input-field__datebox">
			    
			    <div id="cargoExpDate" class="input-field__cont input-field__icn-calendar"></div>
			    <div class="input-field__label">
			    	<label for="cargoExpDate__id">Выберите дату:</label> 
			    </div>
		</div>		
		</div>		
	</div>
</field-set>

<div class="input-field input-field__currency-calc">
    <div id="currency-calc" class="input-field__cont input-field__icn-dropdown"></div>
    <div class="input-field__label">
    	<label for="currency-calc__id">В какой валлюте расчитать:</label> 
    </div>
</div>
<section class="consignment">
 <div class="step-block__capsep">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>
 	<field-set id="field-set__cargo-cheracter" class="field-set field-set__cargo-cheracter">
		<legend class="field-set__cap">
			Характеристики груза
		</legend>
		<div class="field-set__items">
			<div id="cargo-cheracter__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
		<field-set id="field-set__transport-mod" class="field-set field-set__transport-mod">
		<legend class="field-set__cap">
			Способ перевозки
		</legend>
		<div class="field-set__items">
			<div id="transport-mod__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
		<field-set id="field-set__special-conditions" class="field-set field-set__special-conditions">
		<legend class="field-set__cap">
			Особые условия хранения и перевозки
		</legend>
		<div class="field-set__items">
			<div id="special-conditions__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
	<field-set id="field-set__additional-character" class="field-set field-set__additional-character">
		<legend class="field-set__cap">
			Дополнительные характеристики
		</legend>
		<div class="field-set__items checkbox-items">
			<div id="danger-cargo__checkbox" class="checkbox"></div>	
			<div id="oversize-cargo__checkbox" class="checkbox"></div>
			<div id="humane-cargo__checkbox" class="checkbox"></div>
			<div id="home-cargo__checkbox" class="checkbox"></div>
			<div id="used-cargo__checkbox" class="checkbox"></div>		
		</div>
	</field-set>
</section>

 <div class="step-block__sep">
 	<h2 class="step-block__sep-cap--add">Добавить партию</h2>
 	<div class="step-block__sep-btn-add"></div>
 	<div class="step-block__sep-line"></div>
 </div>

<div class="summary-error">
	<h2 class="summary-error__cap">Пожалуйста, исправте ошибки</h2>
	<div class="summary-error__items"></div>
	<div class="summary-error__custom-items"></div>
</div>



