<div id="modal-location" class="modal modal-location"></div>

<template class="modal__title-templ">
<div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Выберите пункт отправления</h2>
    </div>
    <div class="modal__title-cont block__cont">
      <div class="block__row block__row--clmn">
        <div class="input-field">
            <div class="input-field__cont input-field__search"></div>
        </div>
		<div class='modal-location__search-err'>Такого населенного пункта нет в нашей базе. Пожалуйста, выберите ближайшее к нему местоположение</div>
      </div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
<div class="modal__view">
	<div class='modal__step-container'>
		<div class='modal__step'>
			<div class='modal__block-cap'>Наиболее популярные направления:</div>
			<ul class='modal__block-items'>
				<li class='modal__block-item'><a class='modal__block-tx'>Россия</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Китай (КНР)</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Республика Корея</a></li>
			</ul>
			<div class='modal__block-cap'>Части света:</div>
			<ul class='modal__block-items'>
				<li class='modal__block-item'><a class='modal__block-tx'>Европа</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Азия</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Америка</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Африка</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Австралия</a></li>
				<li class='modal__block-item'><a class='modal__block-tx'>Андарктида</a></li>
			</ul>
		</div>
		<div class='modal__step'>
			<div class='modal__block-cap'>
				<img src="img/modal-city--next-btn.svg" class="modal__block-prev svg">
				<a class='modal__block-back'>Европа</a>
			</div>
			<div class="block__cont" style="padding:20px 120px 0 20px">
	       	 <div class="block__row">
				<div class='input-field input-field__country-list'>
					<div id='modal__country-list' class='input-field__cont input-field__icn-dropdown'></div>
					<div class='input-field__label'><label for='modal__country-list__id'>Страна:</label> </div>
				</div> 
			</div>
			<div class="block__row">
				<div class='input-field input-field__region-list'>
					<div id='modal__region-list' class='input-field__cont input-field__icn-dropdown'></div>
					<div class='input-field__label'>
						<label for='modal__region-list__id'>Край, район, область, штат:</label> 
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class='input-field input-field__modal-location'>
					<div id='modallocation' class='input-field__cont'></div>
					<div class='input-field__label'>
						<label for='modallocation__id'>Город, населенный пункт::</label> 
					</div>  
				</div> 
			</div>
		   </div>
		</div> 
	</div> 
</div>
 <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Ok</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>
</template>


