<div class="modal-fs-helper-view modal"></div>

<template class="modal__title-templ">
    <div class='modal__btn-close'>&times;</div>
    <div class="modal__title">
      <div class="modal__title-cap mb30">
        <h2>Назначение: транспортные условия сделки </h2>
      </div>
    </div>
  </template>
  
  <template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview">
        <field-set class="field-set step-block__sep--blank">
          <legend class="field-set__cap">
                Место приёма/передачи груза получателю
          </legend>
          <div class="field-set__items">
              <div id="place-take-cargo-radiogroup" class="radiogroup"></div>
          </div>
        </field-set>
        <field-set class="field-set step-block__sep--blank">
            <legend class="field-set__cap">
                    Место размещения груза для передачи получателю
            </legend>
            <div class="field-set__items">
                <div id="place-sorage-cargo-radiogroup" class="radiogroup"></div>
            </div>
        </field-set>
        <field-set class="field-set">
              <legend class="field-set__cap">
                    Последняя финансовая операция до передачи получателю
              </legend>
              <div class="field-set__items">
                  <div id="last-finance-operation-radiogroup" class="radiogroup"></div>
              </div>
          </field-set>
      </div>
      </div>
      <div class="modal__foo">
        <div class="block__row block__row--gap20 block__row--center">
          <button class="button purple-button" role="button" tabindex="0">
            <div class="dx-button-content">Отправить</div>
          </button>
          <button class="button basic-button" role="button" tabindex="0">
            <div class="dx-button-content">Отмена</div>
          </button>
          <div class="ft-form ft-dark-light" style="margin-left:20px;">Выбранное условие: TWH</div>
        </div>
      </div>
  
  </template>