.contract {

	& ol {
		list-style-type: none;
	 	counter-reset: item;
	 	margin: 0;
	 	padding: 0;	
		@include font-lucida (rgba(0, 0, 0, 0.7), 14px, 21px);
	  	font-style: normal; 
	  	font-weight: normal; 
	  	width: 1148px;

		& li {
			
			display: flex;
  			flex-wrap: wrap;
  			counter-increment: item;

			&:before {
   				content: counters(item, ".") ". ";
   				flex: 0 0 76px;  
   				// margin-bottom: 18px; 
  			}

			& span {
				color: #000000;
			}

		}

		& li:first-child {
			// margin-top: 30px;
   //  		display: inline-block;

		}

		& li > p{
			flex: 1 1 calc(100% - 76px);
		}

	}

	.contract__body {
		color: #000000;

	}
	
}