.contract {
	font-family: Lucida Grande; 
  	font-style: normal; 
  	font-weight: normal; 
  	line-height: 21px; 
  	font-size: 14px; 
  	color: rgba(0, 0, 0, 0.7); 
  	width: 1148px;

& ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}


&__par {
  display: flex;
  flex-wrap: wrap;
  counter-increment: item;

  &:hover:not(&-cap) {
    background-color: yellow;
  }
 
  &:before {
   content: counters(item, ".") ". ";
   flex: 0 0 76px;   
  }

  &-cap {
    margin-bottom: 30px;

    &:before {
     flex: 0 1 auto;
     margin-right: 5px;
     margin-bottom: 20px;
    }
  }

  &-tx{
    flex: 1 1 calc(100% - 76px);
    margin-bottom: 10px;
  }
}

  &__requisites {
    display: flex;
    width: 100%;
  } 

  &__executive{
    margin-left: 30px;
  }


  &--edit {

    &__par {

    &:hover:not(&-cap) {
      background-color: yellow;
    }

  }

  }

}
