  <div class="modal-request-del modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Удалить запрос №0001?</h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
      <div class="modal__view modal__subview">
      <div class="font-common">Вы уверены, что хотите удалить запрос «Мой новый запрос »? После удаления запрос будет доступен в архиве в течении 30 дней</div> 
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center">
        <button class="button basic-button red-button" role="button" tabindex="0">
          <div class="dx-button-content">Удалить</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

   
 
<!-- </div> -->



</template>
