.summary-error {
    color: $clr-red;
    border: none;
    border-left: solid 2px $clr-red;
    padding-left: 10px;
  }

.summary-error__href {
  color: $clr-red;
  font-size: 15px;
  // text-decoration: none;
  border-bottom: 1px dashed;
}

.dx-validationsummary-item {
	font-size: 15px;
    color: $clr-red;
}