.modal-location {
  &__search {
 
     &-err {
      @include font-lucida (#999999, 12px, normal);
      padding: 6px 0px 0px 0px;
      display: none;

      &--show {
        display: block;
      }
    }
  }
}


.modal {
  &__btn-close {
    color: $clr-dark-light;
    // float: right;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: 17px;
    top: 17px;

    &:hover,&:focus {
      color: $clr-purple;
      text-decoration: none;
      cursor: pointer;
    }
  }
 
  &__title {
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #D5D7E1;
    &-cont{
      margin-bottom: 30px;

      &--mb12{
        margin-bottom: 12px;
      }
    }


    &-cap {
      padding-bottom: 30px;
    }
  }

  &__title--nb{
    border-bottom: none;
  }

  &__view {
    // padding: 20px 20px 30px 20px;
    flex: 1 1 auto;
    // overflow: auto;
    min-height: 100px;
    height: 100%;
  }
  &__subview {
    padding: 30px 20px 30px 20px;
  }
    
  &__foo{
    border-top: 1px solid #D5D7E1;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex: 0 0 76px;
    max-height: 76px;
  }  
  
  & .dx-popup-content {
    display: flex;
    flex-direction: column;
  }

   &__step-container {
       display: block;
       transition: .5s ease-in-out;
       height: 100%;
       display: flex;
   }

   &__block {

      &-cap{
         height: 50px;
         min-height: 50px;
         background: #F2F3FB;
         @include font-lucida ($clr-dark-light, 13px, normal);
         display: flex;
         align-items: center;
         padding-left: 19px;
         border-top: 1px solid $clr-grey-v2;
         border-bottom: 1px solid $clr-grey-v2;
           &:first-child {
             border-top: none;
           }
           &--link{
             height: 50px;
             background: #F2F3FB;
             display: flex;
             align-items: center;
             padding-left: 19px;
             border-top: 1px solid $clr-grey-v2;
             border-bottom: 1px solid $clr-grey-v2;
             cursor: pointer;
             @include font-lucida ($clr-blue, 15px, normal);
             &:hover {
               color: $clr-purple;
             }
           }
         }

         &-item {
             height: 44px;
             background-color: $clr-white;
             border-bottom: 1px solid $clr-grey-v2;
             display: flex;
             align-items: center;
             justify-content: space-between;
             @include font-lucida ($clr-blue, 15px, normal);
             cursor: pointer;
             padding: 0 28px 0 20px;
             position: relative;
               &:hover {
                 color: $clr-purple;
               }

               &:last-child{
                border-bottom:none;
               }
          }

          &-tx {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;       

              &:after {
                content: url(#{$imgFolder}modal-city--next-btn.svg);
                float: right;
             }
             &:hover::after{
                content: url(#{$imgFolder}modal-city--next-btn--hov.svg);
             }
          }

        &-prev {
          transform: rotate(180deg);
          margin-right: 18px;

          &:hover path{
            fill: $clr-purple;
          }
        }
   }

   &__modal__dash-lnk {
    cursor: pointer;
    @include font-lucida ($clr-blue, 15px, normal);
   }

   &__step {
    display: flex;
    flex-direction: column;
   }

   &__pers-info {
    @include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
   }


   &-change-pass {
    & .modal__title {
      border-bottom: none;
    }
   }
}

