<div class="filters--req filters">
    <div class="dg-filter__group">
        <div class="dg-filter__cont">
          <input type="radio" checked="checked" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Согласованный запрос</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Проект приложения</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Приложение</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Счета</label></span>
        </div>
    </div>   
</div>
<div class="wrap__w918">
	//= ../request/request-readonly/basic-info/basic-info.html
<div class="step-block__sep--blank"></div>
 	//= ../request/request-readonly/party/party-01.html
 	<div class="step-block__sep--blank"></div>
 	//= ../request/request-readonly/party/party-02.html
 	//= ../request/request-readonly/container/container20.html
 	//= ../request/request-readonly/container/container40.html
 	//= ../request/request-readonly/total/total.html
 	<div class="step-block__sep--blank"></div>
 	//= ../request/request-readonly/customs-clearance/customs-clearance.html
 	<div class="step-block__sep--blank"></div>
 	//= ../request/request-readonly/incoterms-2010/incoterms-2010.html
 	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/party-goods/party-goods.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/party-goods/party-goods-02.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/certificate/certificate.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/customs-transit/customs-transit.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/calc-performer/calc-performer.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/doc-credit/doc-credit.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/cargo-exam/cargo-exam.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/goods-exam/goods-exam.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/cargo-insure-choice/cargo-insure-choice.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/cargo-escort/cargo-escort.html
	<div class="step-block__sep--blank"></div>
	//= ../request/request-readonly/HBL/HBL.html
</div>