<div class="filters--bills filters">
    <div class="dg-filter__group">
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Согласованный запрос</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Проект приложения</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Приложение</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" checked="checked" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Счета</label></span>
        </div>
    </div>   
</div>


<div class="bills__num">1. <a href="#" class="app-lnk">Счёт №123465784 по сделке Перевозка тунца № L0012 (53) от 19.04.2019</a></div>
<div class="mb10">
	<p>Тип счёта: <span class="ft-common-bl">Предоплата по сделке</span></p>
	<p>Выставлен: <span class="ft-common-bl">28.12.2018</span></p>
	<p>Оплачен: <span class="ft-common-bl">30.12.2018</span></p>
</div>
<div class="bills__total-sum">Общая сумма к оплате: <span class="ft-common-bl">999 999,99 $</span></div>
 
<div class="bills__action">
    <button class="btn__rnd btn__rnd--add app-lnk">
        <img src="img/icn-print.svg" class="svg">
        <span class="btn__rnd-cap btn__rnd-cap--nodash btn__rnd-cap--icn-left">Распечатать/просмотреть pdf-версию</span>
    </button>
    <button class="button purple-button">Экспортироват счёт</button>
</div>

<div class="step-block__sep-line mb40"></div>

<div class="bills__num">1. <a href="#" class="app-lnk">Счёт №123465784 по сделке Перевозка тунца № L0012 (53) от 19.04.2019</a></div>
<div class="mb10">
	<p>Тип счёта: <span class="ft-common-bl">Доплата по сделке</span></p>
	<p>Выставлен: <span class="ft-common-bl">02.02.2019</span></p>
	<p>Статус: <span class="ft-common-bl">Ожидает оплаты</span></p>
</div>
<div class="bills__total-sum">Общая сумма к оплате: <span class="ft-common-bl">999 999,99 $</span></div>
 
<div class="bills__action">
    <button class="btn__rnd btn__rnd--add app-lnk">
        <img src="img/icn-print.svg" class="svg">
        <span class="btn__rnd-cap btn__rnd-cap--nodash btn__rnd-cap--icn-left">Распечатать/просмотреть pdf-версию</span>
    </button>
    <button class="button purple-button">Экспортироват счёт</button>
    <button class="button green-button footer__button icn icn__credit">Оплатить счёт</button>
</div>
<div class="step-block__sep-line"></div>