<div class="filters--req filters">
    <div class="dg-filter__group">
        <div class="dg-filter__cont">
          <input type="radio" checked="checked" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Согласованный запрос</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Проект приложения</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Приложение</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Счета</label></span>
        </div>
    </div>   
</div>
<div class="wrap__w918">
    <div class="step-block__sep--blank">
        //= ../applications/cargo-exam/cargo-exam.html
        //= ../applications/exam-place-send/exam-place-send-r.html
    </div>
    <div class="step-block__sep--blank">	
        //= ../applications/goods-exam/goods-exam.html
        //= ../applications/exam-place-send/exam-place-send-r-v2.html
        //= ../applications/exam-place-dest/exam-place-dest-r.html
    </div>
     <div class="step-block__sep--blank">
        //= ../applications/cargo-escort/cargo-escort-hbl.html
        //= ../applications/track-from/track-from-r.html
        //= ../applications/track-to/track-to-r.html
    </div>
    
    <div class="step-block__capsep step-block__capsep-b30">
         <h2 class="step-block__sep-cap">Участники перевозки</h2>
         <div class="step-block__sep-line"></div>
    </div>
    <div class="step-block__sep--blank">
    //= ../applications/sender-info/sender-info-r.html
    </div>
    <div class="step-block__sep--blank">
        //= ../applications/recipient-info/recipient-info-r.html
    </div>
    <div class="step-block__sep--blank">
        //= ../applications/notification/notification-r.html
    </div>
    </div>