.checkbox-items {
	display: flex;
	flex-direction: column;

}

.checkbox {
	padding-bottom: 10px;
	// padding-right: 10px;
	display: flex;

	&:last-child {
		padding-bottom: 0px;
	}

  &__rem {
    @include font-lucida (#999999, 12px, normal);
    line-height: 14px;
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
}



//for tree view checkbox

.chkbox-cont {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;



  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.chkbox-empty {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;

}

.chkbox-chkmrk {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.chkbox-cont :hover input ~ .chkbox-chkmrk {
  border: 1px solid $clr-blue;
}


.chkbox-cont input:checked ~ .chkbox-chkmrk {
  background-color: $clr-blue;
}



.chkbox-chkmrk:after {
  content: "";
  position: absolute;
  display: none;
}


.chkbox-cont  input:checked ~ .chkbox-chkmrk:after {
  display: block;
}


.chkbox-cont  .chkbox-chkmrk:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}