	<div class="header-main">
		<a href="http://estiw.ru" target="_blank" class="header-main-logo" title="На главную">
			<img src="img/hs-estiw_logo.svg">
		</a>
		<div class="timezone-popup-menu">
			
			<div class="timezone-popup-menu__title">
				<img class="timezone-popup-menu__title-img" src="img/hs-clock.svg">
				<a href="javascript:void(0);" class="timezone-popup-menu__title-city timezone-popup-menu__title-btn app-lnk" title="Изменить часовой пояс">Владивосток</a>
				<div class="timezone-popup-menu__title-datetime">15:45, 24 ноября 2018</div>
			</div>	
			
			<div class="timezone-popup-menu__add">
				<ul>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Москва</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Иркутск</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Петропавлоск-Камчатский</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Новосибирск</a></li>
					<li class="timezone-popup-menu__city timezone-popup-menu__city--checked"><a href="javascript:void(0);" class="app-lnk">Владивосток</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Киев</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Сидней</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Rio de Janeiro</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">London</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Пекин</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Амстердам</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Дубаи</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Нью-Йорк</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Лос-Анджелес</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Сингапур</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Токио</a></li>
					<li class="timezone-popup-menu__city"><a href="javascript:void(0);" class="app-lnk">Мехико</a></li>
				</ul>
			</div>
			
		</div>

		<div class="header-main-people">
			<div class="user-popup-menu user-popup-menu-mngr">
				<div class="user-popup-menu__title">
					<div class="user-popup-menu__title-pic"><img  src="img/hs-manager.png"></div>
					<div class="user-popup-menu__title-info">
							<a href="javascript:void(0);" class="user-popup-menu__title-info-name user-popup-menu__title-btn app-lnk" title="Меню менеджера">Светлана Александровна Шманская</a>
						<div class="user-popup-menu__title-info-descript">Ваш персональные менеджер</div>
				    </div>			    
				</div>
				<div class="user-popup-menu__add">
					<div class="user-popup-menu__group">
						<a href="tel:+7(924)12345678" class="user-popup-menu__tel">+7 924 123 456 78</a>
					</div>
					<div class="user-popup-menu__group">
						<button class="basic-button user-popup-menu__ask-btn">Задать вопрос</button>
					</div>
				</div>
			</div>

				<div class="user-popup-menu user-popup-menu-user">
				<div class="user-popup-menu__title">
					<div class="user-popup-menu__title-pic">
						<img  src="img/hs-client.png">
						<a href="#" class="bounce-newmsg-cnt bounce-newmsg-cnt--abslt">2</a>
					</div>
					<div class="user-popup-menu__title-info">
							<a href="javascript:void(0);" class="user-popup-menu__title-info-name user-popup-menu__title-btn app-lnk" title="Меню пользователя">Константин Константинопольский</a>
						<div class="user-popup-menu__title-info-descript">Название организации</div>
					</div>	
				</div>

				<div class="user-popup-menu__add">
					<div class="user-popup-menu__group">
							<div class="user-popup-menu__msg-title">
								У вас 7 непрочитанных уведомлений
								<a href="" class="user-popup-menu__show-msg" title="Показать сообщения"></a>
							</div>

							<ul class="user-popup-menu__ul">
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 12:46</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Новое сообщение к запросу</a>
								</li>
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 11:34</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Заявка №1234567890 прошла модерацию</a>
								</li>
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 11:34</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Новый счёт к оплате</a>
								</li>
							</ul>
					</div>
					<div class="user-popup-menu__group user-popup-menu__group-settexit">
						<a href="" class="user-popup-menu__settings app-lnk">Настройка аккаунта</a>
						<a href="" class="user-popup-menu__exit app-lnk">Выход</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

