	<div class="header-progress">	
	<!-- <progress max="100" value="80"></progress>		 -->

	<h1>Мастер подачи запроса<span class="header-progress-percent">12%</span></h1>

	<div class="progress-bar">
		<div class="progress-bar__background"></div>
		<div class="progress-bar__status"></div>
		<div class="progress-bar__first-step progress-bar__step">
			<div class="progress-bar__step-border progress-bar__step-border--active"></div>
			<a href="#" class="progress-bar__step-link progress-bar__step-link--active">1</a>

		</div>
		<div class="progress-bar__second-step progress-bar__step">
			<div class="progress-bar__step-border"></div>
			<a href="#" class="progress-bar__step-link">2</a>
		</div>
		<div class="progress-bar__third-step progress-bar__step">
			<div class="progress-bar__step-border"></div>
			<a href="#" class="progress-bar__step-link">3</a>
		</div>
	</div>
	</div>