<nav class="navbar">

	<div class="navbar__header navbar__header-roll" title="Главное меню">
		<a href="javascript:void(0);" class="navbar__header-link navbar__header-main-menu navbar__header-main-menu-roll">
			<img class="navbar__header-icon" src="img/nav-main-menu.svg">
		</a>
		<p class="navbar__header-copyright navbar-el--hide">© Эстив 2008 - 2018</p>	
	</div>

	<div class="navbar__header navbar__header-sticky">
		<a href="javascript:void(0);" class="navbar__header-link navbar__header-main-menu navbar-el--hide" title="Главное меню">
			<img class="navbar__header-icon" src="img/nav-main-menu.svg">
		Главное меню
		</a>
		<a href="javascript:void(0);" class="navbar__header-link navbar__header-close-btn btn-rotate180" title="Свернуть/показать меню"></a>
	</div>

 <ul class="navbar-ul"> 

	

	<li class="navbar__item navbar__item-new-doc" title="Подать запрос">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-newdoc.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide"> Подать запрос</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>

		</div>
		 <div class="navbar__submenu"> 
			<a class="navbar__submenu-item" href="">Профессиональный запрос</a>
		 	<a class="navbar__submenu-item" href="">Поиск и приобретение товара</a>
		 	<a class="navbar__submenu-item" href="">Привезти любой груз более 10 т</a>
		 	<a class="navbar__submenu-item" href="">Привезти любой груз менее 10 т</a>
		</div>
	</li>
	
	<li class="navbar__item navbar__item-docs" title="Запросы">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-docs.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Запросы</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>

		</div>
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Неотправленные</a>
		 	<a class="navbar__submenu-item" href="">Отправленные</a>
		 	<a class="navbar__submenu-item" href="">Принятые</a>
		 	<a class="navbar__submenu-item" href="">Обработанные</a>
		 	<a class="navbar__submenu-item" href="">Отклоненные</a>
		 	<a class="navbar__submenu-item" href="">Мои шаблоны</a>
		 	<a class="navbar__submenu-item" href="">Архив запросов</a>
		</div>
		
	</li>
	<li class="navbar__item navbar__item-request" title="Заявки">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-request.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Заявки</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div>     
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Отправить заявку по приложению</a>
		 	<a class="navbar__submenu-item" href="">Созданные</a>
		 	<a class="navbar__submenu-item" href="">Отправленные</a>
		 	<a class="navbar__submenu-item" href="">Принятые</a>
		 	<a class="navbar__submenu-item" href="">Отклоненные</a>
		 	<a class="navbar__submenu-item" href="">Архив заявок</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-deal" title="Сделки">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-deal.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Сделки</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div>       
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Приложения на подпись</a>
		 	<a class="navbar__submenu-item" href="">В работе</a>
		 	<a class="navbar__submenu-item" href="">Приостановленные</a>
		 	<a class="navbar__submenu-item" href="">Претензии</a>
		 	<a class="navbar__submenu-item" href="">Завершенные</a>
		 	<a class="navbar__submenu-item" href="">Архив сделок</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-message" title="Сообщения">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-message.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Сообщения</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div>   
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Запросы</a>
		 	<a class="navbar__submenu-item" href="">Заявки</a>
		 	<a class="navbar__submenu-item" href="">Сделки</a>
		 	<a class="navbar__submenu-item" href="">Прочее</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-finance" title="Финансы">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-finance.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Финансы</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div>   
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Сделать предоплату</a>
		 	<a class="navbar__submenu-item" href="">Счета к оплате</a>
		 	<a class="navbar__submenu-item" href="">Оплачено</a>
		 	<a class="navbar__submenu-item" href="">Зачислено</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-statistic" title="Статистика">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-statistic.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Статистика</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div> 
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Настроить отчет</a>
		 	<a class="navbar__submenu-item" href="">Грузополучатели/отправители</a>
		 	<a class="navbar__submenu-item" href="">Номенклатура груза</a>
		 	<a class="navbar__submenu-item" href="">История платежей</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-contract" title="Договор">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-contract.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Договор</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div>		   
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Текущий договор</a>
		 	<a class="navbar__submenu-item" href="">Доп. соглашения</a>
		 	<a class="navbar__submenu-item" href="">Изменения и дополнения</a>
		 	<a class="navbar__submenu-item" href="">Приложения</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-settings" title="Настройки">
	
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-icon"><img src="img/nav-settings.svg"></a>	
			<div class="navbar__item-caption navbar-item-el--hide">Настройки</div>	
			<div class="navbar__item-btn-submenu navbar-item-el--hide"></div>
		</div> 
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Добавить пользователя</a>
		 	<a class="navbar__submenu-item" href="">Редактировать профиль</a>
		 	<a class="navbar__submenu-item" href="">Настройка уведомлений</a>
		 	<a class="navbar__submenu-item" href="">Управление пользователями</a>
		</div>
	</li>

</ul>
</nav>