<div class="messages-filter dg-filter">
        <div class="dg-filter__group">
    
            <div class="dg-filter__cont">
              <input type="radio" checked="checked" name="dg-filter-group1">
              <span class="dg-filter__item"><label class="app-dash-lnk">Все сообщения</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-filetext-bl.svg" alt="icn"><label class="app-dash-lnk">Запросы</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-note-rd.svg" alt="icn"><label class="app-dash-lnk">Заявки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-case-gr.svg" alt="icn"><label class="app-dash-lnk">Сделки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-mail-yl.svg" alt="icn"><label class="app-dash-lnk">Другие сообщения</label></span>
            </div>
        </div>   
    </div>