<div class="messages-filter dg-filter">
        <div class="dg-filter__group">
    
            <div class="dg-filter__cont">
              <input type="radio" checked="checked" name="dg-filter-group1">
              <span class="dg-filter__item"><label class="app-dash-lnk">Все сообщения</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-filetext-bl.svg" alt="icn"><label class="app-dash-lnk">Запросы</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-note-rd.svg" alt="icn"><label class="app-dash-lnk">Заявки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-case-gr.svg" alt="icn"><label class="app-dash-lnk">Сделки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-mail-yl.svg" alt="icn"><label class="app-dash-lnk">Другие сообщения</label></span>
            </div>
        </div>   
    </div>
    <div class="messages">
    <div class="messages__body">
    <div class="messages__header">
      <div class="input-field">
        <div class="input-field__cont input-field__search"></div>
        <div class="input-field__btn">
            <img src="/img/btn__search.svg" class="svg">
        </div>
      </div>
    </div>
    <div class="messages__dialog">
        <div class="messages__dialog-item">
            <div class="messages__dialog-title">
              <div class="messages__dialog-cap app-lnk">Тема сообщения по заявке (задается менеджером)</div>
              <div class="messages__dialog-time">11:15</div>
            </div>
            <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по заявкам</div>
            <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
        </div>
        <div class="messages__dialog-item">
                <div class="messages__dialog-title">
                  <div class="messages__dialog-cap app-lnk">Тема сообщения по заявке (задается менеджером)</div>
                  <div class="messages__dialog-time">11:15</div>
                </div>
                <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по заявкам</div>
                <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
            </div>
        <div class="messages__dialog-item">
            <div class="messages__dialog-title">
              <div class="messages__dialog-cap app-lnk">Тема сообщения по заявке </div>
              <div class="messages__dialog-time">11:15</div>
            </div>
            <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по заявкам</div>
            <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
        </div>
        <div class="messages__dialog-item">
            <div class="messages__dialog-title">
              <div class="messages__dialog-cap app-lnk">Неправильно оформлены адреса в проекте заявки</div>
              <div class="messages__dialog-time">11:15</div>
            </div>
            <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по заявкам</div>
            <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
        </div>
        <div class="messages__dialog-item messages__dialog-item--selected">
            <div class="messages__dialog-title">
              <div class="messages__dialog-cap app-lnk">Заявка №12345674837 принята в работу</div>
              <div class="messages__dialog-time">11:15</div>
            </div>
            <div class="messages__dialog-type messages__dialog-type--green">Вопросы/обсуждения по заявкам</div>
            <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
        </div>
    </div>
    <div class="messages__fotter">
      <button class="button basic-button icn-right icn-right__add--pr">Новый диалог</button>
    </div>
    </div>
    <div class="messages__chat">
        <div class="messages__chat-header">
          <div class="messages__chat-header-title">
            <div class="messages__chat-header-cap">Заявка №12345674837 принята в работу</div>
            <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по заявкам</div>
          </div>
          <div class="messages__chat-header-people">
              <img src="/img/img-chat-user-pic.png" class="messages__chat-header-people-pic">
                <div class="messages__chat-header-people-info">
                <a href="#" class="app-lnk messages__chat-header-people-name">Дмитриенко Ольга Ивановна</a>
                <div class="messages__chat-header-people-role">Ваш персональный эксперт</div>
              </div>
          </div>
          <div class="messages__chat-header-search">
            <div class="input-field">
                <div class="input-field__cont input-field__search"></div>
                    <div class="input-field__btn">
                    <img src="/img/btn__search.svg" class="svg">
                </div>
            </div>
          </div>
        </div>
        <div class="messages__chat-body">
            <div class="messages__chat-question messages__chat-row">
              <div class="messages__chat-person">Константин Константинопольский (вы)</div>
              <div class="messages__chat-text messages__chat-status messages__chat-status--read">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем в папке request.</div>
              <div class="messages__chat-time">14:56</div>
            </div>
          <div class="messages__chat-date">Понедельник, 25 февраля</div>
          <div class="messages__chat-answer messages__chat-row">
            <div class="messages__chat-person app-lnk">Иван Петрович</div>
            <div class="messages__chat-text">В структурной организации исходных кодов вёрстки выделить часть отвечающая за формирование Header, Footer, Menu. Собрать реализацию компонентов используемых в основной части страницы в одним каталог. Т.е. необходимо отделить компоненты стилей и js оформления Header, Footer, Menu от оформления контента.</div>
            <ul class="filelist filelist--chat">
                <li class="filelist__itm">
                  <a href="#" class="filelist__fname app-lnk">my_specification-file.pdf, </a>
                  <span class="filelist__sz">12 Мб</span>
                  <button class="btn__rnd--del btn__rnd filelist__btn-del"><img src="img/btn__rnd16--del.svg" class="svg"></button>
                </li>
                <li class="filelist__itm">
                  <a href="#" class="filelist__fname app-lnk">my_specification-file-picture.png,</a>
                  <span class="filelist__sz">555 Кб</span>
                  <button class="btn__rnd--del btn__rnd filelist__btn-del"><img src="img/btn__rnd16--del.svg" class="svg"></button>
                </li>
            </ul>
            <div class="messages__chat-time">13:56</div>
          </div>
          <div class="messages__chat-date">Сегодня</div>
          <div class="messages__chat-question messages__chat-row">
            <div class="messages__chat-person">Константин Константинопольский (вы)</div>
            <div class="messages__chat-text messages__chat-status messages__chat-status--inprogress">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем в папке request.</div>
            <div class="messages__chat-time">15:56</div>
          </div>
        
        </div>
        <div class="messages__chat-fotter">
          <div class="messages__chat-fotter-send">
            <button id="messages__fileuploader-btn" class="messages__fileuploader-btn button basic-button button-square"></button> 
                <div class="input-field">
                  <div class="input-field__cont input-field__cont--resize pseudoClassTextAriaAutoHeightMax108"></div>
                </div>
            <button class="button basic-button">Отправить</button>
          </div>
          <div class="messages__chat-fotter-fileuploader">
              <div class="input-field">
                  <div class="fileUploader--full"></div>
                  <div class="input-field__label">
                    <label for="pseudoElementTextEditor__id">Приложенные файлы:</label> 
                  </div>
              </div>
          </div>
            
    
        </div>
    </div>
    </div>
    