<div class="filters dg-filter">
    <div class="dg-filter__group">

        <div class="dg-filter__cont">
          <input type="radio" checked="checked" name="dg-filter-group1">
          <span class="dg-filter__item"><label class="app-dash-lnk">Все сообщения</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><img src="/img/icn-filetext-bl.svg" alt="icn"><label class="app-dash-lnk">Запросы</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><img src="/img/icn-note-rd.svg" alt="icn"><label class="app-dash-lnk">Заявки</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><img src="/img/icn-case-gr.svg" alt="icn"><label class="app-dash-lnk">Сделки</label></span>
        </div>
        <div class="dg-filter__cont">
          <input type="radio" name="dg-filter-group1">
          <span class="dg-filter__item"><img src="/img/icn-mail-yl.svg" alt="icn"><label class="app-dash-lnk">Другие сообщения</label></span>
        </div>
    </div>   
</div>
<div class="messages">
<div class="messages__body">
<div class="messages__header">
  <div class="input-field">
    <div class="input-field__cont input-field__search"></div>
    <div class="input-field__btn">
        <img src="/img/btn__search.svg" class="svg">
    </div>
  </div>
</div>
<div class="messages__dialog">
    <div class="messages__dialog-item">
        <div class="messages__dialog-title">
          <div class="newmsg-cnt messages__dialog-msg-cnt">1</div>
          <div class="messages__dialog-cap app-lnk">Формирование запроса на доставку шин</div>
          <div class="messages__dialog-time">11:15</div>
        </div>
        <div class="messages__dialog-type messages__dialog-type--blue">Вопросы/обсуждения по запросам</div>
        <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
    </div>
    <div class="messages__dialog-item">
        <div class="messages__dialog-title">
          <div class="newmsg-cnt messages__dialog-msg-cnt">2</div>
          <div class="messages__dialog-cap app-lnk">Заявка №1234567 принята в работу</div>
          <div class="messages__dialog-time">11:15</div>
        </div>
        <div class="messages__dialog-type messages__dialog-type--red">Вопросы/обсуждения по запросам</div>
        <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
    </div>
    <div class="messages__dialog-item">
        <div class="messages__dialog-title">
          <div class="messages__dialog-cap app-lnk">Корректировка участников перевозки</div>
          <div class="messages__dialog-time">11:15</div>
        </div>
        <div class="messages__dialog-type messages__dialog-type--green">Проект приложения № T0022 (38) от 05.02.2019</div>
        <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
    </div>
    <div class="messages__dialog-item">
        <div class="messages__dialog-title">
          <div class="messages__dialog-cap app-lnk">Запрос №00012: вопрос по температуре хранения</div>
          <div class="messages__dialog-time">11:15</div>
        </div>
        <div class="messages__dialog-type messages__dialog-type--blue">Вопросы/обсуждения по запросам</div>
        <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
    </div>
    <div class="messages__dialog-item messages__dialog-item--selected">
        <div class="messages__dialog-title">
          <div class="messages__dialog-cap app-lnk">Как оформить экспертизу груза?</div>
          <div class="messages__dialog-time">11:15</div>
        </div>
        <div class="messages__dialog-type messages__dialog-type--green">Проект приложения № ЖУ6372</div>
        <div class="messages__dialog-text">Фрагмент последнего сообщения (обрезается)...</div>
    </div>
    <div class="messages__dialog-item">
      <div class="messages__dialog-title">
        <div class="newmsg-cnt messages__dialog-msg-cnt">1</div>
        <div class="messages__dialog-cap app-lnk">Добро пожаловать на сервис MyEstiw!</div>
        <div class="messages__dialog-time">11:15</div>
      </div>
      <div class="messages__dialog-type messages__dialog-type--yellow">Служебное сообщение</div>
      <div class="messages__dialog-text">Рады приветствовать вас в рядах пользователей нашего...</div>
    </div>
</div>
<div class="messages__fotter">
  <button class="button basic-button icn-right icn-right__add--pr">Новый диалог</button>
</div>
</div>
<div class="messages__chat">
    <div class="messages__chat-header">
      <div class="messages__chat-header-title">
        <div class="messages__chat-header-cap">Как оформить экспертизу груза?</div>
        <div class="messages__dialog-type messages__dialog-type--green">Служебное сообщение</div>
      </div>
      <div class="messages__chat-header-people">
          <img src="/img/img-chat-user-pic.png" class="messages__chat-header-people-pic">
            <div class="messages__chat-header-people-info">
            <a href="#" class="app-lnk messages__chat-header-people-name">Дмитриенко Ольга Ивановна</a>
            <div class="messages__chat-header-people-role">Ваш персональный эксперт</div>
          </div>
      </div>
      <div class="messages__chat-header-search">
        <div class="input-field">
            <div class="input-field__cont input-field__search"></div>
                <div class="input-field__btn">
                <img src="/img/btn__search.svg" class="svg">
            </div>
        </div>
      </div>
    </div>
    <div class="messages__chat-body">
      <div class="messages__chat-date">Понедельник, 25 февраля</div>
      <div class="messages__chat-answer messages__chat-row">
        <div class="messages__chat-person app-lnk">Дмитриенко Ольга Ивановна</div>
        <div class="messages__chat-text">В структурной организации исходных кодов вёрстки выделить часть отвечающая за формирование Header, Footer, Menu. Собрать реализацию компонентов используемых в основной части страницы в одним каталог. Т.е. необходимо отделить компоненты стилей и js оформления Header, Footer, Menu от оформления контента.</div>
        <div class="messages__chat-time">13:56</div>
      </div>
      <div class="messages__chat-question messages__chat-row">
        <div class="messages__chat-person">Константин Константинопольский (вы)</div>
        <div class="messages__chat-text messages__chat-status messages__chat-status--read">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем в папке request.</div>
        <div class="messages__chat-time">14:56</div>
      </div>
      <div class="messages__chat-question messages__chat-row">
          <ul class="filelist filelist--chat messages__chat-status messages__chat-status--inprogress">
              <li class="filelist__itm">
                <a href="#" class="filelist__fname app-lnk">my_specification-file.pdf, </a>
                <span class="filelist__sz">12 Мб</span>
                <button class="btn__rnd--del btn__rnd filelist__btn-del"><img src="img/btn__rnd16--del.svg" class="svg"></button>
              </li>
              <li class="filelist__itm">
                <a href="#" class="filelist__fname app-lnk">my_specification-file-picture.png,</a>
                <span class="filelist__sz">555 Кб</span>
                <button class="btn__rnd--del btn__rnd filelist__btn-del"><img src="img/btn__rnd16--del.svg" class="svg"></button>
              </li>
              <li class="filelist__itm">
                  <a href="#" class="filelist__fname app-lnk">my-file.xls,</a>
                <span class="filelist__sz">1 Мб</span>
                <button class="btn__rnd--del btn__rnd filelist__btn-del"><img src="img/btn__rnd16--del.svg" class="svg"></button>
              </li>
          </ul>
          <div class="messages__chat-time">15:56</div>
      </div>
      

    </div>
    <div class="messages__chat-fotter">
      <div class="messages__chat-fotter-send">
        <button id="messages__fileuploader-btn" class="messages__fileuploader-btn button basic-button button-square"></button> 
            <div class="input-field">
              <div class="input-field__cont input-field__cont--resize pseudoClassTextAriaAutoHeightMax108"></div>
            </div>
        <button class="button basic-button">Отправить</button>
      </div>
      <div class="messages__chat-fotter-fileuploader">
          <div class="input-field">
              <div class="fileUploader--full"></div>
              <div class="input-field__label">
                <label for="pseudoElementTextEditor__id">Приложенные файлы:</label> 
              </div>
          </div>
      </div>
        

    </div>
</div>
</div>
