<div class="messages-filter dg-filter">
        <div class="dg-filter__group">
    
            <div class="dg-filter__cont">
              <input type="radio" checked="checked" name="dg-filter-group1">
              <span class="dg-filter__item"><label class="app-dash-lnk">Все сообщения</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-filetext-bl.svg" alt="icn"><label class="app-dash-lnk">Запросы</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-note-rd.svg" alt="icn"><label class="app-dash-lnk">Заявки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-case-gr.svg" alt="icn"><label class="app-dash-lnk">Сделки</label></span>
            </div>
            <div class="dg-filter__cont">
              <input type="radio" name="dg-filter-group1">
              <span class="dg-filter__item"><img src="/img/icn-mail-yl.svg" alt="icn"><label class="app-dash-lnk">Другие сообщения</label></span>
            </div>
        </div>   
    </div>
<div class="messages">
  <div class="messages__body">
    <div class="messages__header">
      <div class="input-field">
        <div class="input-field__cont input-field__search"></div>
        <div class="input-field__btn">
            <img src="/img/btn__search.svg" class="svg">
        </div>
      </div>
    </div>
    <div class="messages__dialog">
      <div class="messages__dialog-item">
          <div class="messages__dialog-title">
              <div class="newmsg-cnt messages__dialog-msg-cnt">251</div>
              <div class="messages__dialog-cap app-lnk">Формирование запроса!</div>
              <div class="messages__dialog-time">11:15</div>
            </div>
            <div class="messages__dialog-type messages__dialog-type--yellow">Служебное сообщение</div>
            <div class="messages__dialog-text">Рады приветствовать вас в рядах пользователей нашего...</div>
      </div>
      <div class="messages__dialog-item">
          <div class="messages__dialog-title">
            <div class="newmsg-cnt messages__dialog-msg-cnt">1</div>
            <div class="messages__dialog-cap app-lnk">Добро пожаловать на сервис MyEstiw!</div>
            <div class="messages__dialog-time">11:15</div>
          </div>
          <div class="messages__dialog-type messages__dialog-type--yellow">Служебное сообщение</div>
          <div class="messages__dialog-text">Рады приветствовать вас в рядах пользователей нашего...</div>
      </div>

      
    </div>
    <div class="messages__fotter">
      <button class="button basic-button icn-right icn-right__add--pr">Новый диалог</button>
    </div>
  </div>
  <div class="messages__chat--empty">
    <div class="messages__new-chat-icn"></div>
    <div class="messages__new-chat-text">Выберите диалог в ленте слева, чтобы просмотреть сообщения</div>
  </div>
</div>
