<div class="modal-counterparties-view modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap mb30">
      <h2>ТП Альянс Триумф Корпарэйшн</h2>
    </div>
    <div class="modal__title-cont--mb12 block__cont">
      <div class="block__row">
          <div class="tabs">
            <ul class="tabs__links">
            <li class="tabs__link tabs__link--active"><a href="tabs-counterparties-general-info" class="">Общая информация </a></li>
            <li class="tabs__link"><a href="tabs-counterparties-general-place" class="">Места приёма и передачи</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
  <div class="modal__view">
     
     <div id="tabs-counterparties-general-info" class="tabs__cont tabs__cont--active">
      <div class="modal__subview mt10">
        <div class="step-block__sep--blank">
          //= general-info/general-info.html
        </div>
        <div class="step-block__sep--blank">
          //= main-requisites/main-requisites.html
        </div>
        <div class="step-block__sep--blank">
          //= contacts/contacts.html
        </div>

        <div class="input-field">
            <div id="pseudoElementTextAria" class="input-field__cont pseudoClassTextAria"></div>
            <div class="input-field__label">
                <label for="pseudoElementTextAria__id">Комментарий:</label> 
            </div>
        </div>  

      </div>
     </div>     

     <div id="tabs-counterparties-general-place" class="tabs__cont">
     <div class="modal__subview"> 
      <div id="dataGridСounterpartiesPlace" class="datagrid--remove"></div>
        <!-- <div id="dataGridСounterpartiesPlace" class="datagrid--remove datagrid--no-filters"></div> -->
      </div> <!-- modal__subview -->
      </div>

  </div> 
</div>


  <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Сохранить</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>
</template>
