<div class="modal-counterparties-view modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap mb30">
      <h2>ТП Альянс Триумф Корпарэйшн</h2>
    </div>
    <div class="modal__title-cont--mb12 block__cont">
      <div class="block__row">
          <div class="tabs">
            <ul class="tabs__links">
            <li class="tabs__link tabs__link--active"><a href="tabs-counterparties-general-info" class="">Общая информация </a></li>
            <li class="tabs__link"><a href="tabs-counterparties-general-place" class="">Места приёма и передачи</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
<div class="scrollView">
  <div class="modal__view">

     <div id="tabs-counterparties-general-info" class="tabs__cont tabs__cont--active">
      <div class="modal__subview mt10">
        <div class="step-block__sep--blank">
          //= general-info/general-info.html
        </div>
        <div class="step-block__sep--blank">
          //= main-requisites/main-requisites.html
        </div>
        <div class="step-block__sep--blank">
          //= contacts/contacts.html
        </div>

        <div class="input-field">
            <div id="pseudoElementTextAria" class="input-field__cont pseudoClassTextAria"></div>
            <div class="input-field__label">
                <label for="pseudoElementTextAria__id">Комментарий:</label> 
            </div>
        </div>  

      </div>  
    </div>

     <div id="tabs-counterparties-general-place" class="tabs__cont">
      <div class='modal__step-container modal__step-container-point'>
        <div class='modal__step'>
         <div class="modal__view modal__subview"> 

          <div id="dataGridСounterpartiesPlace" class="datagrid datagrid--remove"></div>
            <div class="dg-wsum__summary">
              <div class="dg-wsum__summary-row" style="padding-left:155px;">
                <button class='btn__rnd btn__rnd--add app-lnk'><span class='btn__rnd-cap btn__rnd-cap--nodash'>Добавить</span><img src="img/btn__rnd-sm--add.svg" class="svg"></button>
              </div>
            </div>
            <!-- <div id="dataGridСounterpartiesPlace" class="datagrid--remove datagrid--no-filters"></div> -->
          </div> <!-- modal__subview -->
        </div>

        <div class='modal__step'>
         <div class='modal__block-cap'>
           <img src="img/modal-city--next-btn.svg" class="modal__block-prev svg">
            <a class='modal__block-back'>Восстановление пароля </a>
         </div>
          <div class="modal__view modal__subview">
            <div class="step-block__sep--blank">
              //= general-info-person/general-info-person.html
            </div>
            <div class="step-block__sep--blank">
              //= contacts/contacts.html
            </div>
             <div class="input-field">
              <div id="pseudoElementTextAria" class="input-field__cont pseudoClassTextAria"></div>
                <div class="input-field__label">
                 <label for="pseudoElementTextAria__id">Комментарий:</label> 
                </div>
             </div> 
           </div>
         </div>
       </div>
      </div>
  </div>
</div>

  <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Сохранить</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>


</template>

<!-- шаблон master detail для таблицы -->
<template id="counterparties-view-modal-details">
  <div class="block__cont datagrid__master-detail">
  <div class="block__row block__row--gap20">
    <div class="input-field" style="width: 256px;">
      <div class="input-field__cont pseudoClassTextEditor"></div>
      <div class="input-field__label">
        <label for="pseudoElementTextEditor__id">Тип места:</label> 
      </div>
    </div>
    <div class="input-field">
        <div id="" class="input-field__cont input-field__city"></div>
        <div class="input-field__btn">
            <img src="/img/btn__earth.svg" class="svg">
        </div>
        <div class="input-field__label">
            <label for="city-btn__id">Населённый пункт:</label> 
        </div>
    </div>  
    </div>

    <div class="block__row block__row--gapb30">
      <div class="input-field">
        <div class="input-field__cont pseudoClassTextEditor"></div>
        <div class="input-field__label">
          <label for="pseudoElementTextEditor__id">Почтовый адрес (фактический):</label> 
        </div>
    </div>
    </div>

    <div class="block__row">
      <div class="ft-common--1315">Контактные лица:</div>
    </div>

    <div class="block__row block__row--gapb30">
          <ul class="counterparties__detail-ls">
             <li class="counterparties__detail-itm">
               <button class='btn__rnd btn__rnd--add app-lnk modal__block-next'><span class='btn__rnd-cap btn__rnd-cap--mr16'>Олег Пастухов</span><img src="img/icn-next-arrow.svg" class="svg"></button>
             </li>
             <li class="counterparties__detail-itm">
                <button class='btn__rnd btn__rnd--add app-lnk modal__block-next'><span class='btn__rnd-cap btn__rnd-cap--mr16'>Константин Константинопольский</span><img src="img/icn-next-arrow.svg" class="svg"></button>
             </li>
             <li class="counterparties__detail-itm">
               <button class='btn__rnd btn__rnd--add app-lnk modal__block-next'><span class='btn__rnd-cap btn__rnd-cap--mr16'>Екатерина Валерьевна Михалковско-Наречинская</span><img src="img/icn-next-arrow.svg" class="svg"></button>
             </li>
             <li class="counterparties__detail-itm">
               <button class='btn__rnd btn__rnd--add app-lnk'><span class='btn__rnd-cap'>Добавить контактное лицо</span><img src="img/btn__rnd-sm--add.svg" class="svg"></button>
             </li>
           </ul> 
    </div>
    <div class="block__row">
    <button class="button purple-button mr20">Сохранить</button>
    <button class="button basic-button">Отменить</button>
  </div>
  </div>
</template>
