//цветовая схема
$clr-yellow:     #FFBA08;
$clr-dark: 		 #00171F;
$clr-dark-light: #373F51;
$clr-dark-blue:  #23419B ;
$clr-blue:       #0073BE ;
//1377BF  проверить svg
$clr-purple:     #5C2D91;
$clr-grey-v1:    #B4B8C5;
$clr-grey-v2:    #D5D7E1;
$clr-grey-v3:    #E4ECF2;
$clr-grey-v4:    #F3F3F3;
$clr-red: 	     #E63946;
$clr-green:      #02C39A; 
$clr-white:      #FFFFFF;

//дериктория img для build-а
$imgFolder: '../img/';

.font-h1Header {
font-family: Fira Sans; 
font-style: normal; 
font-weight: 500; 
line-height: normal; 
font-size: 25px; 
letter-spacing: 0.01em; 
color: $clr-dark;
}

.font-h2Header {
	font-family: Fira Sans; 
	font-style: normal; 
	font-weight: 500; 
	line-height: normal; 
	font-size: 22px; 
	letter-spacing: 0.01em; 
	color: $clr-dark-light;
}

.font-common{
  font-family: Lucida Grande; 
  font-style: normal; 
  font-weight: normal; 
  line-height: 21px; 
  font-size: 14px; 
  color: rgba(0, 0, 0, 0.7); 
}

//миксин lucida
@mixin font-lucida ($color, $size, $height) {
	font-family: Lucida Grande, Tahoma, Arial;
	line-height: $height;
	font-size: $size;
	color: $color;
	font-style: normal;
	font-weight: normal;

}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@mixin font-fira ($color, $size, $height) {
	font-family: 'Fira Sans', sans-serif;
	line-height: $height;
	font-size: $size;
	color: $color;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.01em;

}

.app-lnk {
	color: $clr-blue;
	text-decoration: none;
}
.app-lnk:hover {
	color: $clr-purple;
}

.app-lnk-disable {
	color: $clr-dark-light !important;
  	// cursor: not-allowed;	
}

.app-lnk-img {
	background-color: $clr-blue;
}
.app-lnk-img:hover {
	background-color: $clr-purple;
}


.basic-button {
	outline: none; height: 36px; width: 155px; background: $clr-white; border: 1px solid $clr-purple; box-sizing: border-box; box-shadow: inset 0px -3px 0px rgba(97, 93, 162, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: $clr-purple;cursor: pointer;
}
.basic-button:hover {
	background: #F8F7FF;
}

.basic-button:active {
	box-shadow: none;
}

.purple-button {
	height: 36px; padding-left: 24px; padding-right: 14px; background: #5C2D91; box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: #FFFFFF; cursor: pointer;
	&__arrow{
		transform: rotate(180deg);
		margin-left: 17px;
		transform: rotate(180deg);
	}
}
.purple-button:hover {
	background: #615DA2; box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
}

.purple-button:active {
	box-shadow: none;
}


//эффект поворота кнопок угольных
.btn-rotate180:before {
	transform: rotate(180deg);
	transition: transform .3s;
}
.btn-rotate180:after {
	transform: rotate(180deg);
	transition: transform .3s;
}


*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	outline: none; //так дизайнер попросил
}

.view::-webkit-scrollbar{
     // display: none;    
}


	// //скрол IE
	// -ms-overflow-style: none;
	// //скрол Chrome Opera
	// &::-webkit-scrollbar {
	// 	width: 0;

	// }

html 
	{
	 height: 100%;
	 ///overflow: hidden;
	 box-sizing: border-box;
	 margin: 0;
}

*:before, *:after
{
	box-sizing: inherit;
}

body{
	font-size: 20px;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-family: Fira Sans; 
	font-style: normal; 
	font-weight: 500; 
	line-height: normal; 
	font-size: 25px; 
	letter-spacing: 0.01em; 
	color: $clr-dark;	
}

h2{
	font-family: Fira Sans; 
	font-style: normal; 
	font-weight: 500; 
	line-height: normal; 
	font-size: 22px; 
	letter-spacing: 0.01em; 
	color: $clr-dark-light;
}
.layout {
	// background-color: blue;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	min-width: 1640px; //есть баги в mozilla
	position: relative;

}

// .navbar {
// 	// background: yellow;
// 	// flex: 0 0 78px;
// 	// min-width: 78px;
// 	// overflow-y: auto;
// 	// overflow-x: none;
// }

.main-content {
	flex: 1 1 auto;
	///overflow-y: auto;
	///overflow-x: hidden;
	overflow: hidden;
	min-height: 670px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	height: 100%;
	min-width: 1550px;
}


.progress-header {
	flex: 0 1 80px;
	min-height: 60px;
	background-color: #B5E2FA;
}

.view {
	flex: 1 1 auto;
	// padding: 54px 30px 0 30px;
	overflow-y: auto;
	position: relative;
    // height: calc(100vh);
    // margin-top: -230px;
    // padding-top: 284px;
    // -ms-overflow-style: none; //скролл для IE

	&-container {
		padding: 54px 30px 97px 30px;

	}
}





