$clr-yellow:     #FFBA08;
$clr-dark: 		 #00171F;
$clr-dark-light: #373F51;
$clr-dark-blue:  #23419B ;
$clr-blue:       #0073BE ;
//1377BF  проверить svg
$clr-purple:     #5C2D91;
$clr-grey-v1:    #B4B8C5;
$clr-grey-v2:    #D5D7E1;
$clr-grey-v3:    #E4ECF2;
$clr-grey-v4:    #F3F3F3;
$clr-red: 	     #E63946;
$clr-green:      #02C39A; 
$clr-white:      #FFFFFF;


$imgFolder: '../img/';

.font-h1Header {
font-family: Fira Sans; 
font-style: normal; 
font-weight: 500; 
line-height: normal; 
font-size: 25px; 
letter-spacing: 0.01em; 
color: $clr-dark;
}

.font-h2Header {
	font-family: Fira Sans; 
	font-style: normal; 
	font-weight: 500; 
	line-height: normal; 
	font-size: 22px; 
	letter-spacing: 0.01em; 
	color: $clr-dark-light;
}

.font-common{
  font-family: Lucida Grande; 
  font-style: normal; 
  font-weight: normal; 
  line-height: 21px; 
  font-size: 14px; 
  color: rgba(0, 0, 0, 0.7); 
}


@mixin font-lucida ($color, $size, $height) {
	font-family: Lucida Grande, Tahoma, Arial;
	line-height: $height;
	font-size: $size;
	color: $color;
	font-style: normal;
	font-weight: normal;

}

.app-lnk {
	color: $clr-blue;
	text-decoration: none;
}
.app-lnk:hover {
	color: $clr-purple;
}


.basic-button {
	outline: none; height: 36px; width: 155px; background: $clr-white; border: 1px solid $clr-purple; box-sizing: border-box; box-shadow: inset 0px -3px 0px rgba(97, 93, 162, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: $clr-purple;
}
.basic-button:hover {
	background: #F8F7FF;
}

.basic-button:active, {
	box-shadow: none;
}

//эффект поворота кнопок угольных
.btn-rotate180:before {
	transform: rotate(180deg);
	transition: transform .3s;
}
.btn-rotate180:after {
	transform: rotate(180deg);
	transition: transform .3s;
}


.btn-rotate180-hor {
	transform: rotate(180deg);
	transition: transform .3s;
}

*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html 
	{
	 height: 100%;
	 overflow: hidden;
	box-sizing: border-box;
	margin: 0;
}

*, *:before, *:after
{
	box-sizing: inherit;
}

body{
font-size: 20px;
}

.layout {
	background-color: blue;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;

}

// .navbar {
// 	// background: yellow;
// 	// flex: 0 0 78px;
// 	// min-width: 78px;
// 	// overflow-y: auto;
// 	// overflow-x: none;
// }

.main-content {
	background: green;
	flex: 1 1 auto;
	min-width: 1450px;
	// min-width: 1330px;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 670px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

// .header {
// 	flex: 0 0 auto;
// 	display: flex;
// 	flex-direction: column;
// }

// .curr-header {
// 	flex: 0 0 44px;
// 	min-height: 44px;
// 	background-color: #FFC09F;
// }
// .main-header {
// 	flex: 0 0 92px;
// 	min-height: 92px;
// 	background-color: #A0CED9;

// 	text-align: center;

// }

.progress-header {
	flex: 0 1 80px;
	min-height: 60px;
	background-color: #B5E2FA;
}

.view {
	flex: 1 0 auto;
	 min-height: 690px; // чтобы стики хедер не уходил в 0 при скроле вверх
	 height: 900px;
	background-color: #ADF7B6;

	&--understicky {
		padding-top: 202px;
	}
}
