<field-set class="field-set step-block__sep40--blank">
	<legend class="field-set__cap">
		Контакты
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">E-mail (основной):</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">E-mail (дополнительный):</label> 
				    </div>
				</div>
			</div>
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Основной телефон:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Факс:</label> 
				    </div>
				</div>
			</div>
			<div class="block__row" style="width: 360px;">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Адрес сайта:</label> 
				    </div>
				</div>
			</div>	
		</div>
	</div>
</field-set>