.pay-date {
	
	&__item {

		display: flex;
		width: 643px;
		margin-bottom: 20px;
		&:last-child {
		margin-bottom: 0px;
		}

		& .input-field:nth-child(3){
			min-width: 274px;
		}

		& .input-field {
			margin-right: 20px;
		}
	}
}