.footer {
	flex: 0 0 76px;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0 30px;
	border-top: 1px solid $clr-grey-v2;
	//position: fixed;
	///bottom: 0px;
	///width: calc(100% - 78px);
	height: 76px;
	background-color: $clr-white;

	/// &--fix313 {
	/// 	width: calc(100% - 313px);
	/// 	transition: width .3s; //при переходе в fix header плавность вместе с меню
	/// }

	&__button {
		 margin-right: 20px;
	}

	&__saved-msg {
		@include font-lucida (#999999, 12px, normal);
		display: none;
	}

	&__wrap-left {
		display: flex;
		flex: 1 0 auto;
		align-items: center;
	}

	&__wrap-right {
		display: flex;
    	flex: 0 0 852px;
    	max-width: 852px;
	}
}

.foo-chkbox {
	padding-bottom: 0;
	align-self: center;
}
