<field-set class="field-set">
<legend class="field-set__cap">
	Страхование груза: да, по выбору
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Контрактная стоимость груза:</td>
		    <td>124 984 €</td> 
		  </tr>
		  <tr>
		    <td>Балансовая (заявляемая) стоимость:</td>
		    <td>130 000 €</td>  
		  </tr>
		  <tr>
		    <td>Страховая компания:</td>
		    <td>ВСК</td> 
		  </tr>
		  <tr>
		    <td>Страховать от:</td>
		    <td>Хищение, Ошибка в документах, Дорожно-транспортное происшествие</td>  
		  </tr>
		  <tr>
		    <td>Страховать на участке пути:</td>
		    <td>Авиа (экспорт/импорт), Ж/д (импорт), Ж/д (транзит)</td>  
		  </tr>
		</table>
	</div>		
</div>
</field-set>