<field-set class="field-set" style="width: 790px;">
	<legend class="field-set__cap">
		Общая информация
	</legend>
	<div class="field-set__items">
		<div class="block__cont" style="min-width: 424px;">
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Имя:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Отчество:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Фамилия:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Занимаемая должность:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Как к вам обращаться:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
					<div class="input-field input-field__datebox">
					    <div id="date-field" class="input-field__cont input-field__icn-calendar"></div>
					    <div class="input-field__label">
					    	<label for="date-field__id">Дата рождения:</label> 
					    </div>
					</div>
				</div>
		</div>
		<div class="block__cont ml30">
			<div class="input-field">
			    <form class="photo-prof" method="post" action="" enctype="multipart/form-data">
				  <img src="img/photo-upl.svg" class="svg">
				  <div class="photo-prof__input">
				    <input class="photo-prof__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
				    <div>Перенесите сюда изображение или нажмите <label class="app-dash-lnk" for="file">выбрать</label></div>
				  </div>
				  <div class="photo-prof__rem">максимальные размер 1000px, jpg или png, 2MB</div>
				</form>
			    <div class="input-field__label">
			    	<label for="date-field__id">Фотография:</label> 
			    </div>
			</div>
			
		</div>
	</div>
</field-set>