<field-set class="field-set step-block__sep--blank" style="width: 790px;">
	<legend class="field-set__cap">
		Общая информация
	</legend>
	<div class="field-set__items">
		<div class="block__cont" style="min-width: 424px;">
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Имя:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Отчество:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Фамилия:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Занимаемая должность:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Как к вам обращаться:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
					<div class="input-field input-field__datebox">
					    <div id="date-field" class="input-field__cont input-field__icn-calendar"></div>
					    <div class="input-field__label">
					    	<label for="date-field__id">Дата рождения:</label> 
					    </div>
					</div>
				</div>
		</div>
		<div class="block__cont ml30">
			<div class="input-field">
				<div class="photo-prof--wcont">
					<button class="photo-prof__btn-del"><img src="img/btn-rnd--dell24.svg"></button>
					<div class="photo-prof__img">
						<img src="img/usr-prof-img.png" alt="user-pic">
					</div>
				</div>

			    <div class="input-field__label">
			    	<label for="date-field__id">Фотография:</label> 
			    </div>
			</div>
			
		</div>
	</div>
</field-set>