<field-set class="field-set field-set--tween-top field-set--tween-bottom">
<legend class="field-set__cap">
	Данные о месте экспертизы в пункте отправления
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
				<div class="input-field" style="width: 266px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Страна, город:</label> 
				    </div>
				</div>
		  		<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Адрес места экспертизы:</label> 
				    </div>
				</div>
		  </div>
		  <div class="block__row block__row--gap20">
				<div class="input-field" style="width: 266px;">
				    <div class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>
				    <div class="input-field__label">
				    	<label for="pseudoClassSelectBox__id">Место экспертизы:</label> 
				    </div>
				</div>
		  		<div class="input-field" style="width: 266px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Контактный телефон:</label> 
				    </div>
				</div>
		  </div>
	</div>		
</div>
</field-set>