<field-set class="field-set field-set--tween-top field-set--tween-bottom">
<legend class="field-set__cap">
	Данные о месте экспертизы в пункте отправления
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Страна, город:</td>
		    <td>Россия, Махачкала</td> 
		  </tr>
		  <tr>
		    <td>Адрес места экспертизы:</td>
		    <td>ул. Махачколовская, 123, корпус №9991</td>  
		  </tr>
		  <tr>
		    <td>Место экспертизы:</td>
		    <td>Склад</td>  
		  </tr>
		  <tr>
		    <td>Контактный телефон:</td>
		    <td>+7 (929)123 45 678</td>  
		  </tr>
		</table>
	</div>		
</div>
</field-set>