.documentary-credit {
	&__wrap {
		display: flex;
		flex-direction: column;
	}
	&__item {
		margin-bottom: 20px;
		display: block;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&__cap {
		@include font-lucida (rgba(0, 0, 0, 0.7),14px,normal);
	}
}