<field-set class="field-set">
<legend class="field-set__cap">
	Уведомления
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Сторона для уведомления</label> 
			    </div>
			</div>
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Агент по доставке:</label> 
			    </div>
			</div>
		</div>
	</div>		
</div>
</field-set>