
.step-block {
	&__depart-destination {
		display: block;
	}

	&__capsep {
		display: flex;
    	align-items: center;
    	width: 100%;
    	margin: 40px 0 20px 0;

    	&--first {
    		margin: 0 0 20px 0;
    	}
    }


	&__sep {
		display: flex;
    	align-items: center;
    	width: 100%;
    	margin: 40px 0 30px 0;

    	&--first {
    		margin: 0 0 30px 0;
    	}
		
		&--blank{
			margin: 0 0 50px 0;
		}


    	&-line{
		flex: 1;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 1px;
        background-image: linear-gradient(to right, transparent 50%, $clr-grey-v2 50%);
    	background-size: 4px 100%;
		// margin: 40px 0;


		}
		
		&-cap,&-cap--add {
		flex: 0 1 auto;
		margin-right: 18px;

		&--add {
			color: $clr-blue;
	
		}
		}

		&-btn-close {
			margin-left: 21px;
		}

		&-btn-add {
			margin-right: 21px;
		}
	}
	
	 
	&__type-need-volume {
		    display: grid;
		    grid-gap: 30px;
		    width: fit-content;
		    grid-column: 1fr 1fr 1fr;
		    grid-template-columns: auto auto auto;
		    align-items: flex-start;
		    grid-template-areas: "a   b   c";

		}
	

}

