.picon{
	display: flex;
	align-items: center;
	&__conn{
			&:before{
				content: url('#{$imgFolder}icn-connect.svg');
				width: 20px;
				height: 20px;
			}
		}

	&__calc{
		&:before{
				content: url('#{$imgFolder}icn-calc.svg');
			}

	}

	&__newattach{
		&:before{
				content: url('#{$imgFolder}icn-newattach.svg');
			}

	}

	&__clock-yel{
		&:before{
				content: url('#{$imgFolder}icn-clock-yellow.svg');
				width: 22px;
				height: 22px;
			}

	}
}