.icn{
    padding-left: 14px;
	&__conn{
			&:before{
				content: url('#{$imgFolder}icn-connect.svg');
				width: 20px;
				height: 20px;
			}
		}

	&__calc{
		&:before{
				content: url('#{$imgFolder}icn-calc.svg');
			}

		&-gr {
			&:before{
				content: url('#{$imgFolder}icn-calc-gr.svg');
			}
		}	

	}

	&__newattach{
		&:before{
				content: url('#{$imgFolder}icn-newattach.svg');
			}

	}

	&__clock-y{
		&:before{
				content: url('#{$imgFolder}icn-clock-yellow.svg');
				width: 22px;
				height: 22px;
			}

	}
	&__clock-bl{
		&:before{
				content: url('#{$imgFolder}icn-clock-bl.svg');
				width: 22px;
				height: 22px;
			}

	}
	&__clock-gr{
		&:before{
				content: url('#{$imgFolder}icn-clock-gr.svg');
				width: 22px;
				height: 22px;
			}

	}

	&__edit--wh{
		&:before{
				content: url('#{$imgFolder}icn-edit-wh.svg');
				// width: 22px;
				// height: 22px;
			}

	}
	&__edit--pr{
		&:before{
				content: url('#{$imgFolder}icn-edit-prpl.svg');
				// width: 22px;
				// height: 22px;
			}

	}
}