<div class="modal-req-start modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
 <!--  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Экспертиза товара: да, нужно по выбору </h2>
    </div>
  </div> -->
</template>

<template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview flx-c flx-alc">
          <img src="/img/icn-req-start.svg" class="mb20">
          <div class="ft-h2 mb20">Заявка на формирование сделки</div>
          <div class="ft-common">Здесь будет какой-то формальный текст, поясняющий, что после нажатия кнопки будет начата/запущена сделка. Т.е. запрос перейдёт в работу, а проект приложения переходит в приложение)...</div>
      </div>
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center w100">
        <button class="button basic-button green-button" role="button" tabindex="0">
          <div class="dx-button-content">Запустить сделку</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

</template>
