
.field-set {
	display: flex;
	border: 1px solid $clr-grey-v2;
	box-sizing: border-box;
	border-radius: 3px;
	position: relative;
	max-height: min-content;
	width: fit-content;
	width: 100%;
	
	&--tween-top{
		border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
    	& > .field-set__items{
    		padding-bottom: 41px;
    	}
    	& > .field-set__items-r{
    		padding-bottom: 15px;
    	}

	}
	&--tween-bottom {

		border-top-left-radius: 0;
    	border-top-right-radius: 0;
    	border-top-width: 0px;
	}


	&__items{
		padding: 30px 30px 20px 20px;
		width: 100%;	
		display: inline-flex;

		//custom для готовности груза
		.field-set__cargo-ready &{
			display: flex;
			flex-direction: column;
	}
	&-r {
		padding: 14px 0 0 0;
	}

	&--rem{
		flex-wrap: wrap;
	}
	

	}

	&__depart {
		width: 918px;
		

		& .input-field{
			margin-right: 30px;
		}
		& .input-field:last-child{
			margin-right: 0px;
		}
	}

	&__destination {
		width: 918px;


		& .input-field{
			margin-right: 30px;
		}
		& .input-field:last-child{
			margin-right: 0px;
		}		 
	}

	&__cap {
		padding-left: 12px;
	    padding-right: 10px;
	    margin-left: 0px;
	    border: none;
	    @include font-fira ($clr-dark-light, 17px, normal);
	    background-color: $clr-white;
	    margin-left: 10px;
	   	//for IE legend
        position:absolute;
	    margin-top:-11px;
	    background: $clr-white;
	}

	&__type-deal {
		width: 250px;
		// height: 100px;
	}
	&__what-need {
		// width: 432px; //автоматом
	}
	&__volume-cargo {
		width: 168px;
	}
	&__cargo-receiver {
		width: 388px;
	}
	&__cargo-ready {
		width: 530px;
	}

	&__cargo-cheracter{
		width: 307px;
	}
	&__transport-mod{
		width: 258px;	
	}
	&__special-conditions{
		width: 398px;
	}

	&__additional-character {
		width: 334px;
	}

	&--error {
		border: 1px solid #E63946;

		& .field-set__cap:before {
			content: url(#{$imgFolder}input-field-err.svg);
    		margin-right: 5px;
    		vertical-align: -3px;
		}
	}	

	&--w286{
		width: 286px;
	}

	&--h190{
		min-height: 190px;

	}

	&--h160{
		min-height: 160px;
	}

	&__rem {
		flex: 1 0 100%;
		@include font-lucida (#999999, 12px, normal);
		line-height: 14px;
		margin-top: 20px;
	}

	&--b-gr{
		border: 1px solid $clr-green;
	}
		
}