<field-set class="field-set step-block__sep40--blank" style="width: 632px;">
	<legend class="field-set__cap">
		Паспортные данные
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Серия:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Номер:</label> 
				    </div>
				</div>
				<div class="input-field input-field__datebox" style="min-width: 266px;">
				    <div id="date-field" class="input-field__cont input-field__icn-calendar"></div>
				    <div class="input-field__label">
				    	<label for="date-field__id">Когда выдан:</label> 
				    </div>
				</div>
			</div>
			<div class="block__row block__row--gap20">
				<div class="input-field" style="min-width: 424px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Кем выдан:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Код подразделения:</label> 
				    </div>
				</div>
			</div>
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Адрес регистрации:</label> 
				    </div>
				</div>				
			</div>		
		</div>
	</div>
</field-set>