<field-set class="field-set" style="width: 790px;">
	<legend class="field-set__cap">
		Основные реквизиты
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field" style="min-width: 500px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Наименование банка:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">БИК:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Расчётный счёт:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Корреспондентский счет:</label> 
				    </div>
				</div>
				</div>
		</div>
	</div>
</field-set>