.treeview {

	display: flex;
	flex-wrap: no-wrap;
	align-items: center;
	 @include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
	 &__code {
	 	color: #000000;
	 	margin-right: 8px;

	 }

	 &__radio {
	 	margin-right: 8px;
	 }

	 &__btn{
	 	margin-right: 8px;
	 	display: flex;
    	align-items: center;
	 }
	 &__tx {
	 	margin-right: 8px;	
	 }
	
}

.dx-treeview-toggle-item-visibility {

	background-image: url(/img/custom-tree-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
	// border: 2px solid blue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	left: -1px;
  	top: 5px;
  	font-size:0px;

  	&:before {
  		content: '';
  	}
}

.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened {

	transform: rotate(180deg);
    font: 14px/1 DXIcons;
    font-size:0px;
    text-align: center;
    line-height: 22px;
    top: 0;
    left: -1px;
    top: 5px;
}



.dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
  color: #333;
  background-color: #e6e6e6;
}

.dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-toggle-item-visibility {
  background-color: #e6e6e6;
}

.dx-treeview-item-without-checkbox.dx-state-focused  > .dx-treeview-toggle-item-visibility {
 background-color: #ECF4FA;
}



.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
  background-color: #ECF4FA;

	 & .treeview__code {
	 	color: #000000;
	 }

	 & .treeview__tx {
	 	color: rgba(0, 0, 0, 0.7);
	 }


}

.dx-treeview-item {
    padding: 5px 36px;
    transform: translate(-20px,0);
    min-height: 32px;
}