.treeview {

	display: flex;
	flex-wrap: no-wrap;
	align-items: flex-start;
	 @include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
	 &__code {
	 	color: #000000;
	 	// margin-right: 0px;
	 	// margin-left: 10px;
	 	min-width: 72px;
	 }

	 &__radio {
	 	margin-right: 8px;
	 }

	 &__btn{
	 	margin-right: 8px;
	 	display: flex;
    	align-items: center;
	 }
	 &__tx {
	 	margin-right: 8px;
	 	// border-bottom: 1px dashed  $clr-blue;
	 	// color: $clr-blue;
	 	color: rgba(0, 0, 0, 0.7);	
	 }

	 &__last {
	 	
	 	& > .treeview__code{
			margin-right: 5px;
	 	} 
	 }

	 // & 
	
}
.chkbox-cont input:checked .treeview__last .treeview__tx {
      color: yellow !important;
    }

.dx-treeview-toggle-item-visibility {

	background-image: url(#{$imgFolder}custom-tree-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
	// border: 2px solid blue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	left: -1px;
  	top: 5px;
  	font-size:0px;

  	&:before {
  		content: '';
  	}

  	&:hover {
		background-image: url(#{$imgFolder}custom-tree-btn-hov.svg);
		
  	}
}



.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened {

	transform: rotate(180deg);
	background-image: url(#{$imgFolder}custom-tree-btn-opn.svg);
    font: 14px/1 DXIcons;
    font-size:0px;
    text-align: center;
    line-height: 22px;
    top: 0;
    left: -1px;
    top: 5px;
}






.dx-treeview-node.dx-state-focused > .dx-treeview-item {
  background-color: #ECF4FA;

	 & .treeview__code {
	 	color: #000000;
	 }
	
	  & .treeview__tx {
	  	//убрали линию
	 	// border-bottom: 1px dashed $clr-purple;
	 	  // color: $clr-purple;
	 	  color: rgba(0, 0, 0, 0.7);	
	 }


}

.dx-treeview-item {
    margin-left: 10px;


    &.dx-state-hover {
    	& .treeview__tx {
	 	//убрали линию
	 	// border-bottom: 1px dashed $clr-purple;
	 	  // color: $clr-purple;
	 	  color: rgba(0, 0, 0, 0.7);
	 }
    }

}


// .dx-treeview-node-container dx-treeview-node-container-opened
// ul:not([class]) li { /* красота */ }
.dx-treeview-node[aria-expanded="true"]{

	& > .dx-item .treeview__tx {
		border-bottom: none;
	 	color: #000000;
	}
}


.dx-treeview-node.dx-treeview-node-is-leaf  > .dx-item .treeview__tx {
		color: rgba(0, 23, 31, 0.6);
		border-bottom: none;
}


