<field-set class="field-set field-set--tween-bottom field-set--dash">
<legend class="field-set__cap">
	1. Маршрут
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">От (город, страна):</label> 
                </div>
            </div>
            <div class="input-field" style="width: 266px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Тип места:</label> 
				    </div>
			</div>
			<div class="input-field" style="width: 236px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Контактный телефон:</label> 
				    </div>
			</div>
		  </div>
		  <div class="block__row ft-common--1416">
				<div>Адрес от: ул. Ленинско-коммунистическая, корпус№6, дом 3</div>
		  </div>
	</div>		
</div>
</field-set>

<field-set class="field-set field-set--tween-top field-set--tween-bottom">
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">До (город, страна):</label> 
                </div>
            </div>
            <div class="input-field" style="width: 266px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Тип места:</label> 
				    </div>
			</div>
			<div class="input-field" style="width: 236px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Контактный телефон:</label> 
				    </div>
			</div>
		  </div>
		  <div class="block__row ft-common--1416">
				<div>Адрес до: ул. Карло-Марксовская, дом 65</div>
		  </div>
	</div>
</div>
</field-set>