<div class="step-history">
	
	<span class="step-history__cap">Добавленные соглашения </span>
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<p class="step-history__item-text--bf">Дополнительное соглашение №1 (ТЭО)</p><p>ТЭО груза</p>
			</li>
			<li class="step-history__item">
				<p class="step-history__item-text--bf">Дополнительное соглашение №3 (Покупка)</p> <p>Приобретение товара, услуги импортёра</p>
			</li>
			<li class="step-history__item">
				<p class="step-history__item-text--bf">Дополнительное соглашение №4 (Юридические услуги)</p><p>Юридическое сопровождение сделок</p>
			</li>
			
			 
		</ul>


	</div>
</div>