<div class="cntr-action">
	
	<span class="cntr-action__cap">Действия</span>
	<div class="cntr-action__items">
		<ul>
			<li class="cntr-action__item">
				<div class="cntr-action__item-icn"><img src="/img/icn-show-hide.svg" class="svg"></div>
				<div class="cntr-action__item-cap app-dash-lnk">Свернуть весь текст</div>
			</li>
			<li class="cntr-action__item cntr-action__item--act">
				<div class="cntr-action__item-icn"><img src="/img/icn-show-all.svg" class="svg"></div>
				<div class="cntr-action__item-cap app-dash-lnk">Показать все изменения договора</div>
			</li>
			<li class="cntr-action__item">
				<div class="cntr-action__item-icn"><img src="/img/icn-edit-pen.svg" class="svg"></div>
				<div class="cntr-action__item-cap app-dash-lnk">Показать изменённые пункты</div>
			</li>
			<li class="cntr-action__item">
				<div class="cntr-action__item-icn"iv><img src="/img/icn-add-gr.svg" class="svg"></div>
				<div class="cntr-action__item-cap app-dash-lnk">Показать добавленные пункты</div>
			</li>
			<li class="cntr-action__item">
				<div class="cntr-action__item-icn"iv><img src="/img/icn-del-rd.svg" class="svg"></div>
				<div class="cntr-action__item-cap app-dash-lnk">Показать исключённые пункты</div>
			</li>

		</ul>


	</div>
</div>