.rangeselector {
	width: 744px;
    position: relative;
}

.rangeselector__back {
	// width: 703px;
    height: 3px;
    background-image: url(../img/rangeselector__back.svg);
    position: relative;
    bottom: 35px;
    z-index: -1;
    left: 19px;

}

// .dxrs-range-selector-elements {
// transform: scale(0.97) translate(15px);
// }