
<!-- <div id="loadPanel">
  <div class="app-loadpanel">
    <svg class="app-loadpanel__crl" viewBox="22 22 44 44">
      <circle class="app-loadpanel__path" cx="44" cy="44" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</div> -->
<div id="loadPanel" class="loadpanel__wrap">
  <div class="loadpanel__spin">
    <div class="loadpanel__inner">
      <div class="loadpanel__gap"></div>
      <div class="loadpanel__lft">
        <div class="loadpanel__half-circle"></div>
      </div>
      <div class="loadpanel__rght">
        <div class="loadpanel__half-circle"></div>
      </div>
    </div>
  </div>
</div>


	
