<div class="step-history">
	
	<a href="#" class="app-lnk  icn icn__conn step-history__cap-lnk">Связанный запрос на покупку товара № L0012</a>
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<div class="step-history__item-cap">Наименование запроса:<span class="step-history__item-text"> Покупка Кока-Колы </span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Информация о продавце:<span class="step-history__item-text">ООО «Coca-Cola Corp»</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Валюта расчёта:<span class="step-history__item-text">Рубль (RUB)</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Испытание образцов перед оплатой:<span class="step-history__item-text">Да, необходимо </span></div>		
			</li>
		</ul>
	</div>

	<div class="step-block__sep40--blank"></div>
	<span class="step-history__cap">Выбрано на 1-м шаге</span>
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<div class="step-history__item-cap">Направление перевозки:<span class="step-history__item-text">Владивосток, Россия (CY) → Петропавловск-Камчатский, Россия (CY)</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Предварительные условия сделки:<span class="step-history__item-text">РФ (Внутринациональная), Доставить груз, груз до 5 м³</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Готовность груза:<span class="step-history__item-text"> 06.12.2018 – 14.02.2019 </span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Получатель груза:<span class="step-history__item-text"> Физическое лицо</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Валюта расчёта: <span class="step-history__item-text">Рубль (RUB)</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Приоритет сделки: <span class="step-history__item-text">Быстрее, дешевле</span></div>
			</li>
			 
		</ul>


	</div>

	<div class="step-block__sep40--blank"></div>
	<span class="step-history__cap">Выбрано на 2-м шаге</span>
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<div class="step-history__item-cap"> Экспертиза товара:<span class="step-history__item-text">Самостоятельно</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Выпуск HB/L:<span class="step-history__item-text">Уже выпущен, имеется</span></div>	
			</li> 
		</ul>
	</div>
</div>
