.spoiler {
	display: flex;
	align-items: center;
	justify-content: center;
	@include font-lucida ($clr-blue, 14px, 16px);
	margin-top: 30px;
	position: relative;

	&__cap {
		margin-left: 8px;
		border-bottom: 1px dashed $clr-blue;
	}
	
	&--show {
		margin-top: 0px;

		& > .spoiler__bg {
			width: 100%;
			height: 100px;
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 33.61%, #FFFFFF 79%);
			position: absolute;
			bottom: 0;
		}
	}
	&--show > svg {
        transform: rotate(180deg);
      }

	&--show &__cap:after {
		content: "Показать запрос";

	}
	
	&__cap:after {
		content: "Свернуть запрос";

	}

	&:hover &__cap {
		border-bottom: 1px dashed $clr-purple;
	}
}