<h2>Дополнительные опции</h2>

<div class="additional-option__block-wrap">
	<field-set id="field-set__HBL" class="field-set field-set--w286 field-set--h190 field-set__HBL">
		<legend class="field-set__cap">
			HB/L (сквозной коносамент)
		</legend>
		<div class="field-set__items">
			<div id="HBL__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
	<field-set id="field-set__сargo-escort" class="field-set field-set--w286 field-set--h190 field-set__сargo-escort">
		<legend class="field-set__cap">
			Сопровождение груза
		</legend>
		<div class="field-set__items">
			<div id="сargo-escort__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
	<field-set id="field-set__сargo-exam" class="field-set field-set--w286 field-set--h190 field-set__сargo-exam">
		<legend class="field-set__cap">
			Экспертиза груза			
		</legend>
		<div class="field-set__items">
			<div id="сargo-exam__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>
	<field-set id="field-set__сargo-insura" class="field-set field-set--w286 field-set--h160 field-set__сargo-insura">
		<legend class="field-set__cap">
			Страхование груза			
		</legend>
		<div class="field-set__items">
			<div id="сargo-insura__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>

	<field-set id="field-set__custom-clear" class="field-set field-set--w286 field-set--h160 field-set__custom-clear">
		<legend class="field-set__cap">
			Таможенная очистка			
		</legend>
		<div class="field-set__items">
			<div id="custom-clear__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>

	<field-set id="field-set__product-exam" class="field-set field-set--w286 field-set--h160 field-set__product-exam">
		<legend class="field-set__cap">
			Экспертиза товара			
		</legend>
		<div class="field-set__items">
			<div id="product-exam__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>

	<field-set id="field-set__сargo-payment" class="field-set field-set--w286 field-set--h160 field-set__сargo-payment">
		<legend class="field-set__cap">
			Расчёт за перевозку груза			
		</legend>
		<div class="field-set__items">
			<div id="сargo-payment__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>

	<field-set id="field-set__product-payment" class="field-set field-set--w286 field-set--h160 field-set__product-payment">
		<legend class="field-set__cap">
			Расчёт за поставку товара			
		</legend>
		<div class="field-set__items">
			<div id="product-payment__radioGroup" class="radiogroup"></div>
		</div>
	</field-set>


	<field-set id="field-set__transact-priority" class="field-set field-set--w286 field-set--h160 field-set__transact-priority">
		<legend class="field-set__cap">
			Основные приоритеты сделки
		</legend>
		<div class="field-set__items checkbox-items">
			<div id="safer__checkbox" class="checkbox"></div>	
			<div id="faster__checkbox" class="checkbox"></div>
			<div id="cheaper__checkbox" class="checkbox"></div>		
		</div>
	</field-set>

</div>




