<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
    <title>Эстив</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/png" href="/img/favicon-32x32.png"/>
     <!-- DevExtreme themes -->
	<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.4/css/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.4/css/dx.light.css" />
	
	<link rel="stylesheet" href="css/style.css">
</head>
<body>


