
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.2.4/js/dx.all.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stickybits/3.5.8/stickybits.min.js"></script> -->
<!-- <script type="text/javascript" src="js/stickyfill.min.js"></script> -->

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/svg-inliner.js"></script>
</body>
</html>