<div id="loadPanel">
<!--   <div class="ap-loadpanel">
    <svg class="ap-loadpanel__crl" viewBox="25 25 50 50">
      <circle class="ap-loadpanel__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div> -->


  <!-- <div class="lds-ring"><div></div><div></div><div></div><div></div></div> -->

<!--   <div class="spinner">
  <div class="spinner-wrapper">
    <div class="rotator">
      <div class="inner-spin"></div>
      <div class="inner-spin"></div>
    </div>
  </div>
</div> -->


<!-- <div class="loader">Loading...</div> -->

<svg class="circular" height="40" width="40">
  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
</svg>

</div>