<div class="step-history">
	
	<a href="#" class="app-lnk  icn icn__conn step-history__cap-lnk">Связанный запрос на Доставить груз № L0012 (53) от 19.04.2019, 12:14:17 </a>
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<div class="step-history__item-cap">Наименование запроса:<span class="step-history__item-text"> Имя связанного запроса</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Направление перевозки:<span class="step-history__item-text">Владивосток, Россия (CY) → Петропавловск-Камчатский, Россия (CY)</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Предварительные условия сделки:<span class="step-history__item-text">РФ (Внутринациональная), Доставить груз, груз до 5 м³</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Готовность груза:<span class="step-history__item-text"> 06.12.2018 – 14.02.2019 </span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Получатель груза:<span class="step-history__item-text"> Физическое лицо</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Валюта расчёта: <span class="step-history__item-text">Рубль (RUB)</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Приоритет сделки: <span class="step-history__item-text">Быстрее, дешевле</span></div>
			</li>
			 
		</ul>


	</div>
</div>