<h2>Предварительный выбор условий будущей сделки</h2>

<div class="input-field input-field__requestName">
    <div class="input-field__label">
    	<label for="requestName__id">Наименование запроса:</label> 
    </div>
    <div id="requestName" class="input-field__cont"></div>
    <div class="input-field__remark"">Обозначьте название для сделки, чтобы её легко можно было найти позднее</div>
</div>



<div class="depart-destination">
	<fieldset class="fieldset fieldset__depart">
		<legend class="fieldset__cap">
			Отправление →
		</legend>
	</fieldset>
	<fieldset class="fieldset fieldset__destination">
		<legend class="fieldset__cap">
			→ Назначение
		</legend>
	</fieldset>
</div>