<h2>Предварительный выбор условий будущей сделки</h2>

<div class="input-field input-field__requestName">
    <div class="input-field__label">
    	<label for="requestName__id">Наименование запроса:</label> 
    </div>
    <div id="requestName" class="input-field__cont"></div>
    <div class="input-field__remark"">Обозначьте название для сделки, чтобы её легко можно было найти позднее</div>
</div>

<div class="step-block__sep"></div>

<div class="step-block__depart-destination">
	<field-set class="field-set field-set__depart">
		<legend class="field-set__cap">
			Отправление ➔
		</legend>
		<div class="field-set__items">

			<div class="input-field input-field__departName">
			    <div class="input-field__label">
			    	<label for="departName__id">Выберите пункт отправления:</label> 
			    </div>
			    <div id="departName" class="input-field__cont"></div>
			    <button class="input-field__btn" onclick=""><div class="input-field__btn-img app-lnk-img"></div></button>
			</div>

			<div class="input-field input-field__condition">
			    <div class="input-field__label">
			    	<label for="conditionDepart__id">Выберите условия:</label> 
			    </div>
			    <div id="conditionDepart" class="input-field__cont"></div>			    
			</div>

		</div>
	</field-set>
	<field-set class="field-set field-set__destination">
		<legend class="field-set__cap">
			➔ Назначение
		</legend>
		<div class="field-set__items">
			<div class="input-field input-field__destName">
			    <div class="input-field__label">
			    	<label for="desttName__id">Выберите пункт отправления:</label> 
			    </div>
			    <div id="destName" class="input-field__cont"></div>
			    <button class="input-field__btn" onclick=""><div class="input-field__btn-img app-lnk-img"></div></button>			    
			</div>

			<div class="input-field input-field__condition">
			    <div class="input-field__label">
			    	<label for="conditionDest__id">Выберите условия:</label> 
			    </div>
			    <div id="conditionDest" class="input-field__cont"></div>
			</div>
		</div>
	</field-set>
</div>