<div class="header-currency">
	<div class="header-currency__leftside">
		<a href="http://cbr.ru/" target="_blank" class="header-currency__title app-lnk" title="Курсы ЦБ РФ">Курс ЦБ РФ</a>
		<div class="header-currency__item">
			<a class="header-currency__curname app-lnk" href="">USD</a>
			<div class="header-currency__curprice">65,7400</div>
			<div class="header-currency__curdelta--up">(+0,1200)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname app-lnk" href="">EUR</a>
			<div class="header-currency__curprice">74,9800</div>
			<div class="header-currency__curdelta--down">(-0,1000)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname app-lnk" href="">JPY</a>
			<div class="header-currency__curprice">58,5300</div>
			<div class="header-currency__curdelta--up">(+0,1200)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname app-lnk" href="">CNY</a>
			<div class="header-currency__curprice">94,6000</div>
			<div class="header-currency__curdelta--up">(+0,0500)</div>
		</div>			
		<div><a class="header-currency__dynamic-link app-lnk" href="https://estiw.ru/info/exchange" target="_blank" title="Посмотреть динамику">Посмотреть динамику</a></div>
	</div>
	<div class="header-currency__rightside">
		<a href="javascript:void(0);" class="header-currency__lang app-lnk" title="Переключить язык">Eng
		<!-- 	<a href="" class="header-currency__lang-btn"></a> -->
		</a>
	</div>		
</div>