<div class="header-currency">
	<div class="header-currency__leftside">
		<div class="header-currency__title">Курс ЦБ РФ</div>
		<div class="header-currency__item">
			<a class="header-currency__curname" href="">USD</a>
			<div class="header-currency__curprice">65,7400</div>
			<div class="header-currency__curdelta--up">(+0,1200)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname" href="">EUR</a>
			<div class="header-currency__curprice">74,9800</div>
			<div class="header-currency__curdelta--down">(-0,1000)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname" href="">JPY</a>
			<div class="header-currency__curprice">58,5300</div>
			<div class="header-currency__curdelta--up">(+0,1200)</div>
		</div>
		<div class="header-currency__item">
			<a class="header-currency__curname" href="">CNY</a>
			<div class="header-currency__curprice">94,6000</div>
			<div class="header-currency__curdelta--up">(+0,0500)</div>
		</div>			
		<div><a class="header-currency__dynamic-link app-lnk" href="https://estiw.ru/info/exchange" target="_blank">Посмотреть динамику</a></div>
	</div>
	<div class="header-currency__rightside">
		<div class="header-currency__lang">Eng
			<a href="" class="header-currency__lang-btn"></a></div>
	</div>		
</div>