	<div class="header-sticky__main">
		<div class="header-sticky__main-logo">
			<img src="img/hs-estiw_logo.svg">
		</div>
		<div class="header-sticky__main-timezone">
			<div class="timezone-popup-menu">
			<div class="timezone-popup-menu__title">		
			<div class="timezone-popup-menu__title-city">Владивосток
				<a href="javascript:void(0);" class="timezone-popup-menu__title-btn"></a>
				<div class="timezone-popup-menu__title-datetime">15:45, 24 ноября 2018</div>
			</div>
			</div>
				<div class="timezone-popup-menu__add">
					<div class="timezone-popup-menu__group">
						<ul>
							<li>fdsf</li>
							<li>fdsfs</li>
							<li>fdsfds</li>
							<li>dsfdsf</li>
							<li>fdsfs</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>

		<div class="header-sticky__main-people">
			<div class="user-popup-menu user-popup-menu-mngr">
				<div class="user-popup-menu__title">
					<div class="user-popup-menu__title-pic"><img  src="img/hs-manager.png"></div>
					<div class="user-popup-menu__title-info">
						<div class="user-popup-menu__title-info-name">Светлана Александровна Шманская
							<a href="javascript:void(0);" class="user-popup-menu__title-btn"></a>
						</div>
						<div class="user-popup-menu__title-info-descript">Ваш персональные менеджер</div>
				    </div>			    
				</div>
				<div class="user-popup-menu__add">
					<div class="user-popup-menu__group">
						<a href="tel:+7(924)12345678" class="user-popup-menu__tel">+7 924 123 456 78</a>
					</div>
					<div class="user-popup-menu__group">
						<button class="basic-button">Задать вопрос</button>
					</div>
				</div>
			</div>

				<div class="user-popup-menu user-popup-menu-user">
				<div class="user-popup-menu__title">
					<div class="user-popup-menu__title-pic">
						<img  src="img/hs-client.png">
						<div class="user-popup-menu__title-pic-msg">2</div>
					</div>
					<div class="user-popup-menu__title-info">
						<div class="user-popup-menu__title-info-name">Константин Константинопольский
							<a href="javascript:void(0);" class="user-popup-menu__title-btn"></a></div>
						<div class="user-popup-menu__title-info-descript">Название организации</div>
					</div>	
				</div>

				<div class="user-popup-menu__add">
					<div class="user-popup-menu__group">
							<div class="user-popup-menu__msg-title">
								У вас 7 непрочитанных уведомлений
								<a href="" class="user-popup-menu__show-msg" title="Показать сообщения"></a>
							</div>

							<ul class="user-popup-menu__ul">
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 12:46</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Новое сообщение к запросу</a>
								</li>
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 11:34</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Заявка №1234567890 прошла модерацию</a>
								</li>
								<li>
									<div class="user-popup-menu__msg-date">Сегодня, в 11:34</div>
									<a href="" class="user-popup-menu__msg-value app-lnk">Новый счёт к оплате</a>
								</li>
							</ul>
					</div>
					<div class="user-popup-menu__group user-popup-menu__group-settexit">
						<a href="" class="user-popup-menu__settings app-lnk">Настройка аккаунта</a>
						<a href="" class="user-popup-menu__exit app-lnk">Выход</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

