<div class="main-menu">
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--new-doc"></div>Подать запрос</legend>
		<ul  class="main-menu__block-items">
			<li><a href="" class="app-lnk">Профессиональный запрос</a></li>
			<li><a href="" class="app-lnk">Поиск и приобретение товара</a></li>
			<li><a href="" class="app-lnk">Перевезти любой груз более 10 т</a></li>
			<li><a href="" class="app-lnk">Перевезти любой груз менее 10 т</a></li>    
		</ul>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--prp">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--settings"></div>Настройки</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--yl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--message"></div>Сообщения</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--docs"></div>Запросы
		</legend>
				<ul  class="main-menu__block-items">
					<li><a href="" class="app-lnk">Неоптравленные</a></li>
					<li><a href="" class="app-lnk">Отправленные</a></li>
					<li><a href="" class="app-lnk">Принятые</a></li>
					<li><a href="" class="app-lnk">Обработанные</a></li>
					<li><a href="" class="app-lnk">Отклоненные</a></li>
					<li><a href="" class="app-lnk">Мои шаблоны</a></li>  
					<li><a href="" class="app-lnk">Архив запросов</a></li>     
				</ul>   
		      

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--rd">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--request"></div>Заявки</legend>
				<ul  class="main-menu__block-items">
					<li><a href="" class="app-lnk">Отправить заявку по приложению</a></li>
					<li><a href="" class="app-lnk">Созданные</a></li>
					<li><a href="" class="app-lnk">Отправленные</a></li>
					<li><a href="" class="app-lnk">Принятые</a></li> 
					<li><a href="" class="app-lnk">Отклоненные</a></li>  
					<li><a href="" class="app-lnk">Архив заявок</a></li>     
				</ul>     
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--gr">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--deal"></div>Сделки</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--or">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--finance"></div>Финансы</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--pn">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--statistic"></div>Статистика</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--drk-bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--contract"></div>Договор</legend>

	</fieldset>

</div>