<div class="main-menu">
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--new-doc"></div>Подать запрос</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--prp">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--settings"></div>Настройки</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--yl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--message"></div>Сообщения</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--docs"></div>Запросы</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--rd">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--request"></div>Заявки</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--gr">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--deal"></div>Сделки</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--or">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--finance"></div>Финансы</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--pn">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--statistic"></div>Статистика</legend>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--drk-bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--contract"></div>Договор</legend>

	</fieldset>

</div>