<div class="main-menu">
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--new-doc"></div>Подать запрос</legend>
		<ul  class="main-menu__block-items">
			<li><a href="" class="app-lnk">Профессиональный запрос</a></li>
			<li><a href="" class="app-lnk">Поиск и приобретение товара</a></li>
			<li><a href="" class="app-lnk">Перевезти любой груз более 10 т</a></li>
			<li><a href="" class="app-lnk">Перевезти любой груз менее 10 т</a></li>    
		</ul>

	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--prp">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--settings"></div>Настройки</legend>
			<ul  class="main-menu__block-items">
				<li><a href="" class="app-lnk">Добавить пользователя</a></li>
				<li><a href="" class="app-lnk">Редактировать профиль</a></li>
				<li><a href="" class="app-lnk">Настройка уведомлений</a></li>
				<li><a href="" class="app-lnk">Управление пользователями</a></li>    
			</ul>
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--yl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--message"></div>Сообщения</legend>
			<ul  class="main-menu__block-items">
				<li><a href="" class="app-lnk">Запросы</a></li>
				<li><a href="" class="app-lnk">Заявки</a></li>
				<li><a href="" class="app-lnk">Сделки</a></li>
				<li><a href="" class="app-lnk">Прочее</a></li>    
			</ul>  
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--docs"></div>Запросы
		</legend>
				<ul  class="main-menu__block-items">
					<li><a href="" class="app-lnk">Неоптравленные</a></li>
					<li><a href="" class="app-lnk">Отправленные</a></li>
					<li><a href="" class="app-lnk">Принятые</a></li>
					<li><a href="" class="app-lnk">Обработанные</a></li>
					<li><a href="" class="app-lnk">Отклоненные</a></li>
					<li><a href="" class="app-lnk">Мои шаблоны</a></li>  
					<li><a href="" class="app-lnk">Архив запросов</a></li>     
				</ul>
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--rd">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--request"></div>Заявки</legend>
				<ul  class="main-menu__block-items">
					<li><a href="" class="app-lnk">Отправить заявку по приложению</a></li>
					<li><a href="" class="app-lnk">Созданные</a></li>
					<li><a href="" class="app-lnk">Отправленные</a></li>
					<li><a href="" class="app-lnk">Принятые</a></li> 
					<li><a href="" class="app-lnk">Отклоненные</a></li>  
					<li><a href="" class="app-lnk">Архив заявок</a></li>     
				</ul>     
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--gr">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--deal"></div>Сделки</legend>
			<ul  class="main-menu__block-items">
					<li><a href="" class="app-lnk">Приложения на подпись</a></li>
					<li><a href="" class="app-lnk">В работе</a></li>
					<li><a href="" class="app-lnk">Приостановленные</a></li>
					<li><a href="" class="app-lnk">Претензии</a></li> 
					<li><a href="" class="app-lnk">Завершенные</a></li>  
					<li><a href="" class="app-lnk">Архив сделок</a></li>     
				</ul>
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--or">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--finance"></div>Финансы</legend>
			<ul  class="main-menu__block-items">
				<li><a href="" class="app-lnk">Сделать предоплату</a></li>
				<li><a href="" class="app-lnk">Счета к оплате</a></li>
				<li><a href="" class="app-lnk">Оплачено</a></li>
				<li><a href="" class="app-lnk">Зачислено</a></li>    
			</ul>  
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--pn">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--statistic"></div>Статистика</legend>
			<ul  class="main-menu__block-items">
				<li><a href="" class="app-lnk">Настроить отчет</a></li>
				<li><a href="" class="app-lnk">Грузополучатели/отправители</a></li>
				<li><a href="" class="app-lnk">Номенклатура груза</a></li>
				<li><a href="" class="app-lnk">История платежей</a></li>    
			</ul> 
	</fieldset>
	<fieldset class="main-menu__block main-menu__block-color--drk-bl">
		<legend class="main-menu__block-cap"><div class="main-menu__block-icn main-menu__block-icn--contract"></div>Договор</legend>
			<ul  class="main-menu__block-items">
				<li><a href="" class="app-lnk">Текущий договор</a></li>
				<li><a href="" class="app-lnk">Доп. соглашения</a></li>
				<li><a href="" class="app-lnk">Изменения и дополнения</a></li>
				<li><a href="" class="app-lnk">Приложения </a></li>    
			</ul> 
	</fieldset>

</div>