<nav class="navbar">

	<div class="navbar__head navbar__head-main-menu" title="Главное меню">
		<a href="javascript:void(0);" class="navbar__item-link navbar__item-main-menu-link">
		</a>
		<p class="navbar__item-copyright">© Эстив 2008 - 2018</p>	
	</div>
	<div class="navbar__head navbar__head-open-btn">
		<a href="javascript:void(0);" class="navbar__item-link navbar__item-main-menu-link-2w navbar__item-main-menu-link-whide" title="Главное меню"></a>
		<a href="javascript:void(0);" class="navbar__item-link navbar__item-open-btn-link" title="Свернуть/показать меню"></a>
	</div>

<ul class="navbar-ul">



<!-- 	

	<li class="navbar__item navbar__item-new-doc" title="Подать запрос">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-link navbar__item-link-tosubmenu"><img src="img/nav-newdoc.svg"></a>	
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Подать запрос</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Профессиональный запрос</a>
		 	<a class="navbar__submenu-item" href="">Поиск и приобретение товара</a>
		 	<a class="navbar__submenu-item" href="">Привезти любой груз более 10 т</a>
		 	<a class="navbar__submenu-item" href="">Привезти любой груз менее 10 т</a>
		</div>
	</li>
	<li class="navbar__item navbar__item-docs" title="Запросы">
		<div class="navbar__item-header">
			<a href="javascript:void(0);" class="navbar__item-link navbar__item-link-tosubmenu"><img src="img/nav-docs.svg"></a>	
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Запросы</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
		<div class="navbar__submenu">
			<a class="navbar__submenu-item" href="">Неотправленные</a>
		 	<a class="navbar__submenu-item" href="">Отправленные</a>
		 	<a class="navbar__submenu-item" href="">Принятые</a>
		 	<a class="navbar__submenu-item" href="">Обработанные</a>
		 	<a class="navbar__submenu-item" href="">Отклоненные</a>
		 	<a class="navbar__submenu-item" href="">Мои шаблоны</a>
		 	<a class="navbar__submenu-item" href="">Архив запросов</a>
		</div>
		
	</li>
	<li class="navbar__item navbar__item-request">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-request.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Заявки</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-deal">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-deal.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Сделки</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-message">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-message.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Сообщения</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-finance">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-finance.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Финансы</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-statistic">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-statistic.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Статистика</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-contract">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-contract.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Договор</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li>
	<li class="navbar__item navbar__item-settings">
		<div class="navbar__item-header">
			<a href="" class="navbar__item-link"><img src="img/nav-settings.svg"></a>
			<div class="navbar__item-caption"> <a href="" class="navbar__item-link-caption">Настройки</a>	
				<div class="navbar__item-btn-submenu"></div>
			</div>
		</div>
	</li> -->


</ul>
</nav>