<div class="wrap__w918">
	//= basic-info/basic-info.html
<div class="step-block__sep--blank"></div>
 	//= party/party-01.html
 	<div class="step-block__sep--blank"></div>
 	//= party/party-02.html
 	//= container/container20.html
 	//= container/container40.html
 	//= total/total.html
 	<div class="step-block__sep--blank"></div>
 	//= customs-clearance/customs-clearance.html
 	<div class="step-block__sep--blank"></div>
 	//= incoterms-2010/incoterms-2010.html
 	<div class="step-block__sep--blank"></div>
	//= party-goods/party-goods.html
	<div class="step-block__sep--blank"></div>
	//= party-goods/party-goods-02.html
	<div class="step-block__sep--blank"></div>
	//= certificate/certificate.html
	<div class="step-block__sep--blank"></div>
	//= customs-transit/customs-transit.html
	<div class="step-block__sep--blank"></div>
	//= calc-performer/calc-performer.html
	<div class="step-block__sep--blank"></div>
	//= doc-credit/doc-credit.html
	<div class="step-block__sep--blank"></div>
	//= cargo-exam/cargo-exam.html
	<div class="step-block__sep--blank"></div>
	//= goods-exam/goods-exam.html
	<div class="step-block__sep--blank"></div>
	//= cargo-insure-choice/cargo-insure-choice.html
	<div class="step-block__sep--blank"></div>
	//= cargo-escort/cargo-escort.html
	<div class="step-block__sep--blank"></div>
	//= HBL/HBL.html
	<div class="spoiler">
		<div class="spoiler__cap  app-lnk">
			<img src="/img/icn-show-hide.svg" class="svg">
			<div class="spoiler__cap-t"></div>
		</div>	
	</div>
</div>