<field-set class="field-set" style="width: 444px;">
	<legend class="field-set__cap">
		Общая информация
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Имя:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Отчество:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Фамилия:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">ИНН:</label> 
				    </div>
				</div>
				</div>
				<div class="block__row">
				<div class="input-field">
                	<div id="pseudoElementTextAria" class="input-field__cont pseudoClassTextAria"></div>
                	<div class="input-field__label">
                   	 <label for="pseudoElementTextAria__id">Почтовый адрес:</label> 
                	</div>
            	</div>
            	</div>
		</div>
	</div>
</field-set>