<field-set class="field-set">
<legend class="field-set__cap">
	Данные о получателе
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование получателя:</label> 
			    </div>
			</div>
		</div>
		<div class="block__row">
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Фактический адрес:</label> 
                </div>
            </div>
		</div>
		<div class="block__row">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Контактное лицо:</label> 
			    </div>
			</div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field" style="width: 266px;">
			    <div class="input-field__cont pseudoClassTextEditor"></div>
			    <div class="input-field__label">
			    	<label for="pseudoElementTextEditor__id">Место выгрузки:</label> 
			    </div>
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Адрес места выгрузки:</label> 
                </div>
            </div>
		</div>
		<div class="block__row">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Контактное лицо на месте выгрузки:</label> 
			    </div>
			</div>
		</div>
	</div>		
</div>
</field-set>