<div class="chat">
	<div class="chat__header">
		<img  class="chat__pic" src="img/chat-pic-usr.png">
		<a href="#" class="newmsg-cnt newmsg-cnt--chat">1</a>
		<div class="chat__cap">
			<div class="chat__cap-t ft-form app-lnk">Запрос №Т0014</div>
			<div class="chat__cap-rm">Вопросы по заявкам</div>
		</div>
	</div>
	<div class="chat__body">
		<div class="chat__dialog">
			<div class="chat__dialog-rw chat__mngr-rw">
				<div class="chat__from-name app-lnk">Дмитриенко Ольга Ивановна</div>
				<div class="chat__msg">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем в папке request.</div>
				<div class="chat__msg-tm">11:15</div>
			</div>
			<div class="chat__dialog-rw chat__user-rw">
				<div class="chat__from-name">Константин Константинопольский (вы)</div>
				<div class="chat__msg">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем...</div>
				<div class="chat__msg-tm">11:15</div>
			</div>
			<div class="chat__dialog-rw chat__mngr-rw">
				<div class="chat__from-name app-lnk">Дмитриенко Ольга Ивановна</div>
				<div class="chat__msg">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем в папке request.</div>
				<div class="chat__msg-tm">11:15</div>
			</div>
			<div class="chat__dialog-rw chat__user-rw chat__msg--rd">
				<div class="chat__from-name">Константин Константинопольский (вы)</div>
				<div class="chat__msg">Совокупность компонентов каждого раздела так же организуем отдельными каталогами. Например раздел подачи, навигации запроса оформляем...</div>
				<div class="chat__msg-tm">11:15</div>
			</div>
		</div>
		<div class="chat__send">
			<div class="input-field chat__new-msg mb16">
			    <div class="input-field__cont input-field__cont--resize pseudoClassTextAriaAutoHeight"></div>
			    <button class="button basic-button chat__send-btn"><img src="img/icn-btn-send.svg"></button> 
			</div>
			<div class="fileUploader--full fileUploader--full--2r"></div>
		</div>
	</div>
</div>