.input-field {
// height: auto; 
// background: #F3F3F3; 
// border-radius: 3px;
// width: 200px;

	&__cont{
		height: 36px;
		width: 200px;
	}

	&__label {
		@include font-lucida ($clr-dark-light, 13px, normal);
	}

	&__value{
		// background: $clr-grey-v4 !important; 
		border-radius: 3px !important;
		border: 0px !important;
	}
}
//input элемента
.dx-texteditor-input {
	background: $clr-grey-v4 !important;
}


.dx-texteditor.dx-state-focused.dx-editor-filled,
.dx-texteditor.dx-state-active.dx-editor-filled,
.dx-texteditor.dx-state-focused.dx-editor-underlined,
.dx-texteditor.dx-state-active.dx-editor-underlined,
.dx-texteditor.dx-state-focused.dx-editor-outlined,
.dx-texteditor.dx-state-active.dx-editor-outlined {


background: blue !important; 
border: 1px solid #D5D7E1 !important; 
box-sizing: border-box;
}