<div class="wrap__w918">
	//= basic-info/basic-info.html
	<div class="step-block__capsep">
 		<h2 class="step-block__sep-cap">Информация о товаре</h2>
 		<div class="step-block__sep-line"></div>
 	</div>

 	<div class="input-field">
	 <div class="fileUploader--full"></div>
		<div class="input-field__label">
			<label>Вложить спецификацию на товар(ы):</label> 
		</div>
	</div>

	<div class="step-block__sep40--blank"></div>

	//= coast-incoterms/coast-incoterms.html
	<div class="step-block__sep--blank"></div>
	//= articul-ready/articul-ready.html
	<div class="step-block__sep--blank"></div>
	//= goods-accept/goods-accept-v2.html
	<div class="step-block__sep--blank"></div>
	//= goods-transfer/goods-transfer-v2.html
	<div class="step-block__sep--blank"></div>
	//= after-pay/after-pay.html
	<div class="step-block__sep40--blank"></div>
</div>