<div class="modal-manufactures-view modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title modal__title--nb">
    <div class="modal__title-cap">
      <h2>APL Co Pte Ltd (Singapore)</h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
    <div class="modal__view modal__subview">
        <div class="block__cont">
            <div class="block__row block__row--gap20">
                    <div class="input-field">
                        <div class="input-field__cont pseudoClassTextEditor"></div>
                            <div class="input-field__label">
                            <label for="pseudoElementTextEditor__id">Наименование:</label> 
                        </div>
                    </div>
                    <div class="input-field">
                        <div id="" class="input-field__cont input-field__city"></div>
                            <div class="input-field__btn">
                                <img src="/img/btn__earth.svg" class="svg">
                            </div>
                            <div class="input-field__label">
                                <label for="city-btn__id">Населёный пункт:</label> 
                            </div>
                    </div>
            </div>
            <dib class="block__row">
                    <div class="input-field">
                        <div class="input-field__cont pseudoClassTextEditor"></div>
                            <div class="input-field__label">
                            <label for="pseudoElementTextEditor__id">Почтовый адрес (фактический):</label> 
                        </div>
                    </div>
            </dib>
        </div>
    </div>
    <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center">
        <button class="button purple-button" role="button" tabindex="0">
          <div class="dx-button-content">Сохранить</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

</template>