.gridblock {
 	display: grid;
	&__cell {
		&--1{
			grid-area: a;
			align-items: center;
		}
		&--2{
			grid-area: b;
		}
		&--3{
			grid-area: c;
		}
		&--4{
			grid-area: d;
		}
		&--5{
			grid-area: e;
		}
		&--6{
			grid-area: f;
		}
		&--7{
			grid-area: g;
		}
		&--8{
			grid-area: h;
		}
		&--9{
			grid-area: i;
		}
		&--10{
			grid-area: k;
		}
		&--11{
			grid-area: l;
		}
		&--12{
			grid-area: m;
		}
		&--13{
			grid-area: n;
		}
		&--14{
			grid-area: o;
		}
		&--15{
			grid-area: p;
		}
		&--16{
			grid-area: r;
		}
	} 

	&__firststep-consignment{
	    grid-gap: 30px;
	    width: fit-content;
	    grid-template-columns: auto auto auto auto;
	    align-items: flex-start;
	    grid-template-areas: "a   b   c   d";

	}

	&__type-need-volume {
		    grid-gap: 30px;
		    width: fit-content;
		    grid-template-columns: auto auto auto;
		    align-items: flex-start;
		    grid-template-areas: "a   b   c";
		}
	&__additional-option{
		margin-top: 20px;
		grid-gap: 41px 30px;
	    width: fit-content;
	    grid-template-columns: auto auto auto;
	    grid-template-rows: auto auto auto;
	    align-items: flex-start;
	    grid-template-areas: "a   b   c"
	    					 "d   e   f"
	    					 "g   h   i";
	}

	&__common-cargo-params {
		 grid-gap: 20px;
		 width: fit-content;
		 // width: 100%;
		 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		 grid-template-rows: auto auto auto;		
		 grid-template-areas:
		   "a   b   b   c   d   e"
		   "f   g   h   i   k  l"
		   "m   m   m   n   n  n";			
		}

		&__ccp {

			&-sim-many-nopack {
				 grid-gap: 20px;
				 width: fit-content;
				 // width: 100%;
				 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				 grid-template-rows: auto auto auto;		
				 grid-template-areas:
				   "a   a   a   a   a  a"
				   "b   c   d   e   f  g"
				   "h   h   h   i   i  i";			
				}

				&-sim-nmany-npack-cont {
				 grid-gap: 20px;
				 width: fit-content;
				 // width: 100%;
				 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				 grid-template-rows: auto auto auto auto;		
				 grid-template-areas:
				   "a   b   c   d   e  f"
				   "g   h   i   k   k  k"
				   "l   l   l   l   z  z"
				   "m   m   m   n   n  n";			
				}
				&-loaded-cont-soc {
					 grid-gap: 20px;
					 width: fit-content;
					 // width: 100%;
					 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					 grid-template-rows: auto auto auto;		
					 grid-template-areas:
					   "a   b   b   c   d   e"
					   "f   g   g   h   i  k"
					   "l   l   m   m   m  m";			
					}
				&-loaded-cont-coc {
					 grid-gap: 20px;
					 width: fit-content;
					 // width: 100%;
					 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					 grid-template-rows: auto auto auto;		
					 grid-template-areas:
					   "a   b   b   c   d   e"
					   "f   g   g   h   i  k"
					   "l   l   l   l   l  l";			
					}	
		}

	



		&__common-goods-params {
		 grid-gap: 20px;
		 width: fit-content;
		 // width: 100%;
		 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		 grid-template-rows: auto auto;		
		 grid-template-areas:
		   "a   b   b   c   d   e"
		   "f   g   h   i   k  l";			
		}

	&__customs-clearence {
		 grid-gap: 10px 30px;
		 width: 100%;
		 // width: 100%;
		 grid-template-columns: 119px auto;
		 grid-template-rows: 1fr 1fr;		
		 grid-template-areas:
		   "a   b"
		   "c   d";		
		}
	&__customs-clearence-gd {
		 grid-gap: 10px 30px;
		 width: 100%;
		 // width: 100%;
		 grid-template-columns: 185px auto;
		 grid-template-rows: 1fr 1fr;		
		 grid-template-areas:
		   "a   b"
		   "c   d";		
		}	

	&__cargo-insurance {
		 grid-gap: 20px;
		 width: fit-content;
		 // width: 100%;
		 grid-template-columns: 240px 275px;
		 grid-template-rows: auto auto auto auto;		
		 grid-template-areas:
		 "a   b"
		 "c   d"
		 "e   e"
		 "f   f";				
	}
				

}