.popup__info-newmsg .dx-toast-content {
    @include font-lucida (#000000, 15px, normal);
    background: #FFFFFF;
	border: 1px solid #D5D7E1;
	box-sizing: border-box;
	box-shadow: 0px 8px 30px rgba(55, 63, 81, 0.2);
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}

.popup__info-newmsg .dx-toast-icon:before {
    content: url(#{$imgFolder}popup__info-newmsg.svg);

}
.popup__info-newmsg .dx-toast-icon {
	width: 20px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 25%;
}

.popup__info-newmsg .dx-toast-message {
    border-left: 1px solid $clr-grey-v2;
	display: flex;
	align-items: center;
	padding: 10px 16px;

}
