.field-set__period-begin-exp{
		display: flex;
    	margin-top: 20px;

    	&-img {
    		width: 7.4px;
    		height: 12px;
		    margin-left: 38px;
		    margin-right: 38px;
		    margin-bottom: 11px;
		    align-self: flex-end;
		    position: relative;
    	}
}