.counterparties {

	&__detail-ls {
		display: flex;
    	flex-direction: column;
	}


	&__detail-itm {
		margin: 7px 0;

		&:first-child {
			margin: 0 0 7px 0;
		}

		&:last-child {
			margin: 7px 0 0 0;
		}
	}

	&__header-cell {
		display: flex;
		align-items: center;

	}

	&__btn-add-header{
		height: 16px !important;
    	margin-right: 10px;
		min-width: 16px !important;
		border: none;
    	cursor: pointer;
	}
}