
<p class="ft-common mb20">
	г. Владивосток, 05 января 2019 г.
</p>
<p class="ft-common mb30">ООО «Эстив», в лице Генерального директора Волкова А.Н., действующего на основании Устава, именуемое в дальнейшем «Исполнитель», с одной стороны и ООО «», в лице , действующего на основании , именуемый в дальнейшем «Заказчик», с другой стороны заключили настоящий договор о нижеследующем: </p>
	<ol class="contract__body">
		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Общие определения</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">28</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>			
			<ol>
				<li><div class="contract__line"><p><span>«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
				<li><div class="contract__line"><p><span>«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
				<li><div class="contract__line"><p><span>«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
			</ol>
		</li>
		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Предмет договора</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">5</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>
			<ol>
				<li><div class="contract__line"><p>В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div>
					<ol>
						<li><div class="contract__line"><p>Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
						<li><div class="contract__line"><p>Услуги по приобретению товаров;</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
						<li><div class="contract__line"><p>Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
					</ol>
				</li>
				<li><div class="contract__line"><p>Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div> 
				</li>

			</ol>
		</li>

		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Права и обязанности сторон</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">3</div>
					<div class="contract__count--edit">1</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>

			<ol>
				<li><div class="contract__line"><p>Права Заказчика</p></div>
					<ol>
						<li><div class="contract__line"><p>Своевременно получать от Исполнителя информацию о возможности предоставления необходимых услуг и их стоимости в соответствии с Запросами, переданными в установленной форме.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
						<li><div class="contract__line"><p>Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
					</ol>
				</li>
			</ol>
		</li>

		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Заключительные положения</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">28</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>
			<ol>
				<li><div class="contract__line"><p>Обмен Сторонами информацией и документами в рамках исполнения Договора посредством факсимильной, электронной или иной связи признается обеими Сторонами при условии, что полученные данные позволяют достоверно определить, что они исходят от одной из Сторон по Договору.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
				<li><div class="contract__line"><p>Стороны вправе согласовать порядок Электронного обмена данными путём подписания соответствующего Дополнительного соглашения к настоящему Договору.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
				<li><div class="contract__line"><p>Документы, предназначенные для предоставления заинтересованным пользователям, оформляются на бумажных носителях в соответствии с требованиями законодательства РФ.</p><img src="/img/icn-edit.svg" class="contract__action contract__action-edit svg"><img src="/img/btn-rnd-del22.svg" class="contract__action contract__action-del svg"></div></li>
			</ol>
		</li>

	</ol>



	<!-- <ol>
		<li class="ft-common-bl">
			<div class="contract__cap-edit">
				<button class="contract__btn-show-hide contract__par app-lnk">
					    <span>Общие определения</span>
					    <img src="/img/icn-show-hide.svg" class="svg">
				</button>
			</div>
			<ol class="ft-common">
				<li><div class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</div></div></li>
				<li><div class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </div></div></li>
				<li><div class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</div></div></li>
			</ol>
		</li>
		<li class="ft-common-bl"><div class="contract__par contract__par-cap">Предмет договора</div>
			<ol class="ft-common">
				<li><div class="contract__par"><div class="contract__par-tx">В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:</div></div>
					<ol>
						<li><div class="contract__par"><div class="contract__par-tx">Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </div></div></li>
						<li><div class="contract__par"><div class="contract__par-tx">Услуги по приобретению товаров;</div></div></li>
						<li><div class="contract__par"><div class="contract__par-tx">Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</div></div></li>
					</ol>
				</li>
				<li><div class="contract__par"><div class="contract__par-tx">Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями.</div> 
				</li>

			</ol>
		</li>

		<li class="ft-common-bl"><div class="contract__par contract__par-cap">Права и обязанности сторон</div>
			<ol class="ft-common">
				<li><div class="contract__par"><div class="contract__par-tx">Права Заказчика</div></div>
					<ol>
						<li><div class="contract__par"><div class="contract__par-tx">Своевременно получать от Исполнителя информацию о возможности предоставления необходимых услуг и их стоимости в соответствии с Запросами, переданными в установленной форме.</div></div></li>
						<li><div class="contract__par"><div class="contract__par-tx">Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</div></div></li>
					</ol>
				</li>
			</ol>
		</li>

		<li class="ft-common-bl"><div class="contract__par contract__par-cap">Заключительные положения</div>
			<ol class="ft-common">
				<li><div class="contract__par"><div class="contract__par-tx">Обмен Сторонами информацией и документами в рамках исполнения Договора посредством факсимильной, электронной или иной связи признается обеими Сторонами при условии, что полученные данные позволяют достоверно определить, что они исходят от одной из Сторон по Договору.</div></div></li>
				<li><div class="contract__par"><div class="contract__par-tx">Стороны вправе согласовать порядок Электронного обмена данными путём подписания соответствующего Дополнительного соглашения к настоящему Договору.</div></div></li>
				<li><div class="contract__par"><div class="contract__par-tx">Документы, предназначенные для предоставления заинтересованным пользователям, оформляются на бумажных носителях в соответствии с требованиями законодательства РФ.</div></div></li>
			</ol>
		</li>

		<li class="ft-common-bl"><div class="contract__par contract__par-cap">Реквизиты сторон</div>
			<div class="contract__requisites">
			<div class="contract__customer ft-common">
				<p class="ft-common-bl">Заказчик: ООО «Эстив»</p>
				<p>ИНН 2540100243 </p><p>КПП 254001001</p> 
				<p>ОГРН 1032502279446</p><p> Адрес места нахождения: г. Владивосток, ул. Стрельникова, 9 </p><p>Почтовый адрес: 690065 г. Владивосток, ул. Стрельникова, 9 </p><p>Тел/факс: +7 (423) 2302-999, +7 (423) 2301-103, 8-800-234-0-234 (бесплатный звонок по РФ) </p><p>E-mail: estiw@estiw.ru </p><p>р/счет: 40702810900060000717 в ПАО «Дальневосточный банк»</p> <p>к/счет: 30101810900000000705</p><p> БИК 040507705 </p><p>ОКПО 71527627 </p><p>Генеральный директор _______________________ /А.Н. Волков/</p></div>
			<div class="contract__executive ft-common"><p class="ft-common-bl">Исполнитель: ООО «Эстив»</p>
				<p>ИНН 2540100243 </p><p>КПП 254001001</p> 
				<p>ОГРН 1032502279446</p><p> Адрес места нахождения: г. Владивосток, ул. Стрельникова, 9 </p><p>Почтовый адрес: 690065 г. Владивосток, ул. Стрельникова, 9 </p><p>Тел/факс: +7 (423) 2302-999, +7 (423) 2301-103, 8-800-234-0-234 (бесплатный звонок по РФ) </p><p>E-mail: estiw@estiw.ru </p><p>р/счет: 40702810900060000717 в ПАО «Дальневосточный банк»</p> <p>к/счет: 30101810900000000705</p><p> БИК 040507705 </p><p>ОКПО 71527627 </p><p>Генеральный директор _______________________ /А.Н. Волков/</p></div>
			</div>
		</li>

	</ol> -->
