<p class="ft-common mb30" style="width: 956px;">
	Наше сотрудничество в полном объеме может быть возможным после заключения договора на оказание услуг. После заключения договора вы сможете использовать все функции личного кабинета, а мы будем исполнять ваши заявки и поручения. Процесс согласования договора также возможен в нашей системе электронного редактирования on-line. Копию подписанного и распечатанного договора и дополнений к нему необходимо отправить факсом на номер +7 (423) 2301-103 или по электронной почте на email: <a href="#" class="app-lnk">estiw@estiw.ru</a> в течении 15 суток. Оригинал подписанного договора следует отправить по адресу: ООО «Эстив», 690065, г. Владивосток, ул. Стрельникова, 9.
</p>
<div class="input-field mb30" style="width: 480px;">
    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
    <div class="input-field__label">
        <label for="pseudoClassSelectBox__id">Выберите редакцию пакета документов:</label> 
    </div>        
</div>
<table class="contract-tb" style="width: 1392px;">
	<tr class="contract-tb__row">
		<th class="contract-tb__header">Наименование документа</th>
		<th class="contract-tb__header">Статус</th>
		<th class="contract-tb__header">Действие</th>
		<th class="contract-tb__header">Дата заключения</th>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell contract-tb__cell--lock">Основной договор<img src="/img/icn-lock.svg"></td>
		<td class="contract-tb__cell">Согласовывается</td>
		<td class="contract-tb__cell"></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell contract-tb__cell--edit">↳ Солгасования к основному договор</td>
		<td class="contract-tb__cell">Редактируется вами</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Продолжить редактирование</a><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">История согласований</a></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell app-lnk">↳ Доп. соглашение №1 (ТЭО)</td>
		<td class="contract-tb__cell">Добавлен</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell contract-tb__cell--lock">↳ Доп. соглашение №2 (LCL)<img src="/img/icn-lock.svg"></td>
		<td class="contract-tb__cell"> Согласовывается</td>
		<td class="contract-tb__cell"></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell contract-tb__cell--edit contract-tb__cell--sub">↳ Согласование к доп. соглашению №2 (LCL)</td>
		<td class="contract-tb__cell">Отправлен на согласование</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Продолжить редактирование</a><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">История согласований</a></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell app-lnk">↳ Доп. соглашение №3 (Покупка)</td>
		<td class="contract-tb__cell">Не заключён</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell app-lnk">↳ Доп. соглашение №4 (Юр. услуги)</td>
		<td class="contract-tb__cell">Не заключён</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell app-lnk">↳ Доп. соглашение №5 (ЭОД)</td>
		<td class="contract-tb__cell">Заключён</td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">Распечатать/просмотреть pdf-версию</a></td>
		<td class="contract-tb__cell">13.03.2019</td>
	</tr>
</table>
