<p class="font-common mb30" style="width: 956px;">
	Наше сотрудничество в полном объеме может быть возможным после заключения договора на оказание услуг. После заключения договора вы сможете использовать все функции личного кабинета, а мы будем исполнять ваши заявки и поручения. Процесс согласования договора также возможен в нашей системе электронного редактирования on-line. Копию подписанного и распечатанного договора и дополнений к нему необходимо отправить факсом на номер +7 (423) 2301-103 или по электронной почте на email: <a href="#" class="app-lnk">estiw@estiw.ru</a> в течении 15 суток. Оригинал подписанного договора следует отправить по адресу: ООО «Эстив», 690065, г. Владивосток, ул. Стрельникова, 9.
</p>
<div class="input-field mb30" style="width: 480px;">
    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
    <div class="input-field__label">
        <label for="pseudoClassSelectBox__id">Выберите редакцию пакета документов:</label> 
    </div>        
</div>

<div>
		<table class="contract-tb" style="width: 1392px;">
			<tr>
				<th>Наименование документа</th>
				<th>Статус</th>
				<th>Действие</th>
				<th>Дата заключения</th>
			</tr>
			<tr>
				<td>Основной договор<img src="/img/icn-lock.svg"></td>
				<td>Согласовывается</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="contract-tb__row--edit">↳ Солгасования к основному договор</td>
				<td>Редактируется вами</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Продолжить редактирование</a><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">История согласований</a></td>
				<td></td>
			</tr>
			<tr>
				<td>↳ Доп. соглашение №1 (ТЭО)</td>
				<td>Добавлен</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
				<td></td>
			</tr>
			<tr>
				<td class="contract-tb__row--edit">↳ Доп. соглашение №2 (LCL)<img src="/img/icn-lock.svg"></td>
				<td> Согласовывается</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>↳ Согласование к доп. соглашению №2 (LCL)</td>
				<td>Отправлен на согласование</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Продолжить редактирование</a><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">История согласований</a></td>
				<td></td>
			</tr>
			<tr>
				<td>↳ Доп. соглашение №3 (Покупка)</td>
				<td>Не заключён</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
				<td></td>
			</tr>
			<tr>
				<td>↳ Доп. соглашение №4 (Юр. услуги)</td>
				<td>Не заключён</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-conclude.svg" class="svg">Заключить</a><a href="#" class="app-lnk"><img src="/img/icn-edit.svg" class="svg">Изменить</a></td>
				<td></td>
			</tr>
			<tr>
				<td>↳ Доп. соглашение №5 (ЭОД)</td>
				<td>Заключён</td>
				<td><a href="#" class="app-lnk"><img src="/img/icn-print.svg" class="svg">Распечатать/просмотреть pdf-версию</a></td>
				<td>13.03.2019</td>
			</tr>
		</table>
</div>