<p class="ft-common mb30">
	Проект договора будет сформирован автоматически после выбора вами всех необходимых атрибутов и внесённых данных
</p>

<field-set class="field-set" style="width: 620px;">
		<legend class="field-set__cap">
			Форма организации
		</legend>
		<div class="field-set__items">
			<div id="orgaization-form__radioGroup" class="radiogroup"></div>
		</div>
</field-set>
<div class="step-block__sep--blank"></div>
<field-set class="field-set" style="width: 620px;">
		<legend class="field-set__cap">
			Ваш статус
		</legend>
		<div class="field-set__items field-set__items--rem">
			<div id="you-status__radioGroup" class="radiogroup"></div>
			<div class="field-set__rem"><p>Статус в соответствии с п. 6, 7 ст. 1 Федерального закона</p><p> «О валютном регулировании и валютном контроле»</p></div>
		</div>
</field-set>
<div class="step-block__sep--blank"></div>
<field-set class="field-set" style="width: 620px;">
		<legend class="field-set__cap">
			По отношению к грузу
		</legend>
		<div class="field-set__items">
			<div id="tocargo__radioGroup" class="radiogroup"></div>
		</div>
</field-set>

<div class="step-block__sep--blank"></div>

<field-set class="field-set" style="width: 620px;">
		<legend class="field-set__cap">
			Заключить Дополнительные соглашения (вместе с договором)
		</legend>
		<div class="field-set__items checkbox-items">
			<div id="suppagree1__checkbox" class="checkbox"></div>
			<div class="checkbox__rem">ТЭО груза</div>	
			<div id="suppagree2__checkbox" class="checkbox"></div>
			<div class="checkbox__rem">Организация перевозок сборных грузов и их ТЭО</div>
			<div id="suppagree3__checkbox" class="checkbox"></div>
			<div class="checkbox__rem">Приобретение товара, услуги импортёра</div>
			<div id="suppagree4__checkbox" class="checkbox"></div>
			<div class="checkbox__rem">Юридическое сопровождение сделок</div>
			<div id="suppagree5__checkbox" class="checkbox"></div>
			<div class="checkbox__rem"><p>Правила и порядок электронного обмена данными в системе «ЭСКОРТ».</p><p>Обязателен для физических лиц. Для юридических лиц с 2016 года.</p></div>		
		</div>
	</field-set>
<div class="step-block__sep40--blank"></div>
<div class="summary-error">
	<h2 class="summary-error__cap">Пожалуйста, исправте ошибки</h2>
	<div class="summary-error__items"></div>
	<div class="summary-error__custom-items"></div>
</div>