<p class="ft-common mb30" style="width: 956px;">
	Наше сотрудничество в полном объеме может быть возможным после заключения договора на оказание услуг. После заключения договора вы сможете использовать все функции личного кабинета, а мы будем исполнять ваши заявки и поручения. Процесс согласования договора также возможен в нашей системе электронного редактирования on-line. Копию подписанного и распечатанного договора и дополнений к нему необходимо отправить факсом на номер +7 (423) 2301-103 или по электронной почте на email: <a href="#" class="app-lnk">estiw@estiw.ru</a> в течении 15 суток. Оригинал подписанного договора следует отправить по адресу: ООО «Эстив», 690065, г. Владивосток, ул. Стрельникова, 9.
</p>
<div class="input-field mb30" style="width: 480px;">
    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
    <div class="input-field__label">
        <label for="pseudoClassSelectBox__id">Выберите редакцию пакета документов:</label> 
    </div>        
</div>
<table class="contract-tb" style="width: 1392px;">
	<tr class="contract-tb__row">
		<th class="contract-tb__header">Наименование документа</th>
		<th class="contract-tb__header">История согласования документа</th>
		<th class="contract-tb__header">Статус</th>
		<th class="contract-tb__header">Дата заключения</th>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к основному договору (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 7.12.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №1 (ТЭО) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 28.12.2018 </a></td>
		<td class="contract-tb__cell">Отправлен на согласование</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №2 (LCL) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 12.11.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к основному договору (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 7.12.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №1 (ТЭО) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 28.12.2018 </a></td>
		<td class="contract-tb__cell">Отправлен на согласование</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №2 (LCL) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 12.11.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к основному договору (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 7.12.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №1 (ТЭО) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 28.12.2018 </a></td>
		<td class="contract-tb__cell">Отправлен на согласование</td>
		<td class="contract-tb__cell"></td>
	</tr>
	<tr class="contract-tb__row">
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Согласование к доп. соглашению №2 (LCL) (проект)</a></td>
		<td class="contract-tb__cell"><a href="#" class="app-lnk">Протокол согласования разногласий от 12.11.2018</a></td>
		<td class="contract-tb__cell">Отменено</td>
		<td class="contract-tb__cell"></td>
	</tr>
</table>
