
<p class="ft-common mb20">
	г. Владивосток, 05 января 2019 г.
</p>
<p class="ft-common mb30">ООО «Эстив», в лице Генерального директора Волкова А.Н., действующего на основании Устава, именуемое в дальнейшем «Исполнитель», с одной стороны и ООО «», в лице , действующего на основании , именуемый в дальнейшем «Заказчик», с другой стороны заключили настоящий договор о нижеследующем: </p>
<div class="mb30">
	<ol>
		<li class="contract__block-cap ft-common-bl">Общие определения
			<ol class="ft-common">
				<li><span class="ft-common-bl">«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</li>
				<li><span class="ft-common-bl">«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </li>
				<li><span class="ft-common-bl">«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</li>
			</ol>
		</li>
		<li class="contract__block-cap ft-common-bl">Предмет договора
			<ol class="ft-common">
				<li>В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:
					<ol>
						<li>Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </li>
						<li>Услуги по приобретению товаров;</li>
						<li>Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</li>
					</ol>
				</li>
				<li>Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями. </li>

			</ol>
		</li>
	</ol>
	<!-- <ol>
  		<li>one</li>
	    <li>two
		  <ol>
			   <li>two.one</li>
			   <li>two.two</li>
		   	   <li>two.three</li>
		  </ol>
		</li>
		<li>three 
		  <ol>
			   <li>three.one</li>
		  	   <li>three.two</li>
		  <ol>
		       <li>three.two.one</li>
		       <li>three.two.two</li>
		  </ol>
		  </ol>
	    </li> 
	  <li>four</li>
	</ol> -->
</div>







<div class="contract__block mb10">
	<p>Сторона внесения редакции: <span class="ft-common-bl"> Заказчик</span></p>
	<p>Дата внесения: <span class="ft-common-bl"> 28.12.2018</span></p>
	<p>Вид редакции: <span class="ft-common-bl">Изменить</span></p>
</div>
<p class="ft-form mb6">Редакция</p>
<p class="ft-common mb10">Исполнитель оказывает и/или организует оказание услуг, связанных с перевозками консолидированных контейнерных грузов Заказчика, в том числе на условиях от двери до двери (DOOR TO DOOR), с использованием любых видов транспорта, а Заказчик оплачивает вышеуказанные услуги в порядке и сроки, установленные настоящим Дополнительным соглашением.</p>
<p class="contract__block ft-common-bl mb20">Решение противоположной стороны: <span class="ft-red">Без ответа</span></p>
<div class="step-block__sep-line mb30"></div>
<p class="ft-h2 mb20">Редакции по пункту 1.4</p>

<div class="contract__block mb10">
	<p>Сторона внесения редакции: <span class="ft-common-bl"> Заказчик</span></p>
	<p>Дата внесения: <span class="ft-common-bl"> 28.12.2018</span></p>
	<p>Вид редакции: <span class="ft-common-bl">Изменить</span></p>
</div>
<p class="ft-form mb6">Редакция</p>
<p class="ft-common mb10">Перевозка сборных (консолидированных) контейнерных грузов — организация перевозки Исполнителем партий грузов Заказчика вместе с грузами третьих лиц по одному транспортному документу с использованием одного транспортного средства.</p>
<p class="contract__block ft-common-bl mb20">Решение противоположной стороны: <span class="ft-green">Согласовано/принято</span></p>
