	<ol class="contract__body">
		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Общие определения</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">28</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>			
			<ol>
				<li><div class="contract__line"><p><span>«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line"><p><span>«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line"><p><span>«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line"><p><span>«Электронная подпись»</span> — средство защиты электронных данных, позволяющее идентифицировать Заказчика (индивидуальный пользовательский логин и пароль и/или независимое аппаратное средство, генерирующее уникальный цифровой ключ доступа к электронным данным)</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line-add">
					<button class="btn__rnd btn__rnd--add app-lnk">
    				    <span class="btn__rnd-cap">Добавить пункт</span>
     				    <img src="img/btn__rnd-sm--add.svg" class="svg">
     				</button>
					<button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg">
	  				</button>
     			</div>
     			</li>
			</ol>
		</li>
		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Предмет договора</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">5</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>
			<ol>
				<li><div class="contract__line"><p>В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div>
					<ol>
						<li><div class="contract__line"><p>Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
						<li><div class="contract__line"><p>Услуги по приобретению товаров;</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
						<li><div class="contract__line"><p>Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
					</ol>
				</li>
				<li><div class="contract__line"><p>Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div> 
				</li>
				<li><div class="contract__line-add">
					<button class="btn__rnd btn__rnd--add app-lnk">
    				    <span class="btn__rnd-cap">Добавить пункт</span>
     				   	<img src="img/btn__rnd-sm--add.svg" class="svg">
     				</button>
     				<button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg">
	  				</button>
     			</div>
     			</li>
			</ol>
		</li>

		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Права и обязанности сторон</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">3</div>
					<div class="contract__count--edit">1</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>

			<ol>
				<li><div class="contract__line"><p>Права Заказчика</p></div>
					<ol>
						<li><div class="contract__line"><p>Своевременно получать от Исполнителя информацию о возможности предоставления необходимых услуг и их стоимости в соответствии с Запросами, переданными в установленной форме.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div>
						</li>
						<li class="contract__mod-block contract__mod-block--blue"><div class="contract__line contract__line--edit"><p>Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div>

							<div class="contract__mod-block-cap app-lnk">
								<span class="">Редактируется</span>
								<img src="/img/icn-show-hide.svg" class="svg">
							</div> 	
							<div class="contract__mod-block-cont">
								<div class="contract__dialog-row">
									<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Ваша редакция:</div>
			  							<div class="contract__dialog-mod-date">от 08.01.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  						</div>
			  						<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Редакция Estiw:</div>
			  							<div class="contract__dialog-mod-date">от 21.09.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  							<div class="contract__dialog-comment">
			  								<div class="contract__dialog-comment-cap">Комментарий:</div>
			  								<div class="contract__dialog-comment-text">Давайте попробуем вот так в этом случае...</div>
			  							</div>
			  						</div>
								</div>
								<div class="contract__dialog-row">
									<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Ваша редакция:</div>
			  							<div class="contract__dialog-mod-date">от 22.09.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  							<div class="contract__dialog-comment">
			  								<div class="contract__dialog-comment-cap">Комментарий:</div>
			  								<div class="contract__dialog-comment-text">Короткий текст комментария к редакции</div>
			  							</div>
			  						</div>
									<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Редакция Estiw:</div>
			  							<div class="contract__dialog-mod-date">от 21.09.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  							<div class="contract__dialog-comment">
			  								<div class="contract__dialog-comment-cap">Комментарий:</div>
			  								<div class="contract__dialog-comment-text">Давайте попробуем вот так в этом случае...</div>
			  							</div>
			  						</div>
								</div>
								<div class="contract__dialog-row">
									<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Ваша редакция:</div>
			  							<div class="contract__dialog-mod-date">от 21.09.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы. </div>
			  							<div class="contract__dialog-comment">
			  								<div class="contract__dialog-comment-cap">Комментарий:</div>
			  								<div class="contract__dialog-comment-text">Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данны </div>
			  							</div>
			  						</div>
			  						<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Редакция Estiw:</div>
			  							<div class="contract__dialog-mod-date">Ожидает отправки документа на согласование</div>
			  						</div>
								</div>			
								<div class="contract__dialog-btn contract__dialog-btn-cl">
									
										<button class="button basic-button">Сохранить измененият</button>
											<button class="btn__rnd btn__rnd--add app-lnk">
				    						<span class="btn__rnd-cap">Вернуть начальную редакцию</span>
		  								</button>
		  						
								</div>
		  					</div>
						</li>
						<li class="contract__mod-block contract__mod-block--blue"><div class="contract__line contract__line--edit"><p>Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div>

							<div class="contract__mod-block-cap app-lnk">
								<span class="">Редактируется</span>
								<img src="/img/icn-show-hide.svg" class="svg">
							</div> 	
							<div class="contract__mod-block-cont">
								<div class="contract__dialog-row">
									<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Ваша редакция:</div>
			  							<div class="contract__dialog-mod-date">от 08.01.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  						</div>
			  						<div class="contract__dialog contract__dialog--blue">
										<div class="contract__dialog-edition-owner">Редакция Estiw:</div>
			  							<div class="contract__dialog-mod-date">от 21.09.2019 17:31</div>
			  							<div class="contract__dialog-text">Выдавать Заказчику экспедиторские документы, предусмотренные п.6 Постановления Правительства РФ от 08.09.2006 №554 "Об утверждении Правил транспортно-экспедиционной деятельности". В частности могут быть выданы: экспедиторский коносамент, мультимодальный транспортный коносамент ФИАТА, необоротная мультимодальная транспортная накладная ФИАТА и прочие подобные документы.</div>
			  							<div class="contract__dialog-comment">
			  								<div class="contract__dialog-comment-cap">Комментарий:</div>
			  								<div class="contract__dialog-comment-text">Давайте попробуем вот так в этом случае...</div>
			  							</div>
			  						</div>
								</div>		
								<div class="contract__dialog-btn contract__dialog-btn-esw">
										<button class="button green-button">Принять редакцию</button>
										<button class="button basic-button"> Предложить свой вариант</button>
										<button class="btn__rnd btn__rnd--add app-lnk">
				    						<span class="btn__rnd-cap">Вернуть начальную редакцию</span>
		  								</button>
		  						
								</div>
		  					</div>

						</li>
					</ol>
				</li>
				<li><div class="contract__line-add">
					<button class="btn__rnd btn__rnd--add app-lnk">
			    		<span class="btn__rnd-cap">Добавить пункт</span>
			   			 <img src="img/btn__rnd-sm--add.svg" class="svg">
	  				</button>
	  				<button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg">
	  				</button>
				</li>
			</ol>
		</li>

		<li class="contract__block">
			<div class="contract__1st-line">
				<div class="contract__block-cap app-lnk"><span class="contract__block-cap-tx">Заключительные положения</span>
					<img src="/img/icn-show-hide.svg" class="svg">
				</div>
				<div class="contract__counts">
					<div class="contract__count--all">28</div>
					<div class="contract__count--edit">0</div>
					<div class="contract__count--add">0</div>
					<div class="contract__count--exc">0</div>
				</div>
			</div>
			<ol>
				<li><div class="contract__line contract__line--del"><p>Обмен Сторонами информацией и документами в рамках исполнения Договора посредством факсимильной, электронной или иной связи признается обеими Сторонами при условии, что полученные данные позволяют достоверно определить, что они исходят от одной из Сторон по Договору.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div>
				
				<div class="contract__block--ch"> 					
	  					<div class="contract__mod-cl">
	  					<div class="input-field">
			                <div id="pseudoElementTextAria" class="input-field__cont input-field__cont--resize pseudoClassTextAriaAutoHeight"></div>
			                <div class="input-field__label">
			                    <label for="pseudoElementTextAria__id">Причина исключения пункта:</label> 
			                </div>
			            </div> 
						</div>
						<div class="contract__mod-ew">
							<div class="contract__mod-ewcap">Редакция Estiw:</div>
							<div class="contract__mod-ewstat">Ожидает отправки документа на согласование</div>
						</div>
						
						<div class="contract__mod-btn">
							<button class="button basic-button">Исключить пукнт </button>
							<button class="btn__rnd btn__rnd--add app-lnk">
			    				<span class="btn__rnd-cap">Вернуть начальную редакцию</span>
	  						</button>
	  					</div>
	  				</div>

				</li>
				<li><div class="contract__line"><p>Стороны вправе согласовать порядок Электронного обмена данными путём подписания соответствующего Дополнительного соглашения к настоящему Договору.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line"><p>Документы, предназначенные для предоставления заинтересованным пользователям, оформляются на бумажных носителях в соответствии с требованиями законодательства РФ.</p><button class="contract__actn contract__actn-edit"><img src="/img/icn-edit.svg" class="svg"></button><button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg"></button></div></li>
				<li><div class="contract__line-add contract__line-add--act">
					<button class="btn__rnd btn__rnd--add app-lnk">
			    		<span class="btn__rnd-cap">Добавить пункт</span>
			   			 <img src="img/btn__rnd-sm--add.svg" class="svg">
	  				</button>
	  				<button class="contract__actn contract__actn-del "><img src="/img/btn-rnd-del22.svg" class="svg">
	  				</button>
	  				</div>

	  				<div class="contract__block--ch"> 					
	  					<div class="contract__mod-cl">
	  					<div class="input-field">
			                <div id="pseudoElementTextAria" class="input-field__cont input-field__cont--resize pseudoClassTextAriaAutoHeight"></div>
			                <div class="input-field__label">
			                    <label for="pseudoElementTextAria__id">Описание экспертизы:</label> 
			                </div>
			            </div> 
						</div>
						<div class="contract__mod-ew">
							<div class="contract__mod-ewcap">Редакция Estiw:</div>
							<div class="contract__mod-ewstat">Ожидает отправки документа на согласование</div>
						</div>
						
						<div class="contract__mod-btn">
							<button class="button basic-button">Добавить пункт</button>
							<button class="btn__rnd btn__rnd--add app-lnk">
			    				<span class="btn__rnd-cap">Отменить</span>
	  						</button>
	  					</div>
	  				</div>

	  			</li>
			</ol>
		</li>

	</ol>
