
<p class="ft-common mb20">
	г. Владивосток, 05 января 2019 г.
</p>
<p class="ft-common mb30">ООО «Эстив», в лице Генерального директора Волкова А.Н., действующего на основании Устава, именуемое в дальнейшем «Исполнитель», с одной стороны и ООО «», в лице , действующего на основании , именуемый в дальнейшем «Заказчик», с другой стороны заключили настоящий договор о нижеследующем: </p>




	<ol>
		<li class="contract__par contract__par-cap ft-common-bl">Общие определения
			<ol class="ft-common">
				<li class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</div></li>
				<li class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </div></li>
				<li class="contract__par"><div class="contract__par-tx"><span class="ft-common-bl">«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</div></li>
			</ol>
		</li>
		<li class="contract__par contract__par-cap ft-common-bl">Предмет договора
			<ol class="ft-common">
				<li class="contract__par"><div class="contract__par-tx">В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:</div>
					<ol>
						<li class="contract__par"><div class="contract__par-tx">Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </div></li>
						<li class="contract__par"><div class="contract__par-tx">Услуги по приобретению товаров;</div></li>
						<li class="contract__par"><div class="contract__par-tx">Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</div></li>
					</ol>
				</li>
				<li class="contract__par"><div class="contract__par-tx">Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями.</div> 
				</li>

			</ol>
		</li>

		<li class="contract__par contract__par-cap ft-common-bl">Права и обязанности сторон
			<ol class="ft-common">
				<li class="contract__par"><div class="contract__par-tx">Права Заказчика</div>
					<ol>
						<li class="contract__par"><div class="contract__par-tx">Своевременно получать от Исполнителя информацию о возможности предоставления необходимых услуг и их стоимости в соответствии с Запросами, переданными в установленной форме.</div></li>
						<li class="contract__par"><div class="contract__par-tx">Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</div></li>
					</ol>
				</li>
			</ol>
		</li>

		<li class="contract__par contract__par-cap ft-common-bl">Заключительные положения
			<ol class="ft-common">
				<li class="contract__par"><div class="contract__par-tx">Обмен Сторонами информацией и документами в рамках исполнения Договора посредством факсимильной, электронной или иной связи признается обеими Сторонами при условии, что полученные данные позволяют достоверно определить, что они исходят от одной из Сторон по Договору.</div></li>
				<li class="contract__par"><div class="contract__par-tx">Стороны вправе согласовать порядок Электронного обмена данными путём подписания соответствующего Дополнительного соглашения к настоящему Договору.</div></li>
				<li class="contract__par"><div class="contract__par-tx">Документы, предназначенные для предоставления заинтересованным пользователям, оформляются на бумажных носителях в соответствии с требованиями законодательства РФ.</div></li>
			</ol>
		</li>

		<li class="contract__par contract__par-cap ft-common-bl">Реквизиты сторон
			<div class="contract_rl">
			<div class="contract_l"></div>
			<div class="contract_r"></div>
			</div>
		</li>

	</ol>
