
<p class="ft-common mb20">
	г. Владивосток, 05 января 2019 г.
</p>
<p class="ft-common mb30">ООО «Эстив», в лице Генерального директора Волкова А.Н., действующего на основании Устава, именуемое в дальнейшем «Исполнитель», с одной стороны и ООО «», в лице , действующего на основании , именуемый в дальнейшем «Заказчик», с другой стороны заключили настоящий договор о нижеследующем: </p>
	<ol class="contract__body">
		<li><p>Общие определения</p>
			<ol>
				<li><p><span>«Договор»</span> — настоящий Договор вместе с Дополнительными соглашениями и Приложениями к нему, являющимися его неотъемлемыми частями.</p></li>
				<li><p><span>«Дополнительное соглашение»</span> — неотъемлемая часть Договора, определяющая основные положения по оказанию Исполнителем определённого вида услуг. </p></li>
				<li><p><span>«Приложение»</span> — Приложение к соответствующему Дополнительному соглашению, являющееся его неотъемлемой частью, которое фиксирует условия и Цену одной или нескольких Сделок.</p></li>
			</ol>
		</li>
		<li>Предмет договора
			<ol>
				<li><p>В порядке и на условиях, предусмотренных Договором, Дополнительными соглашениями и Приложениями к нему, на основании Заявок Заказчика Исполнитель организует, а Заказчик оплачивает:</p>
					<ol>
						<li><p>Услуги по перевозке грузов и их транспортно-экспедиционное обслуживание; </p></li>
						<li><p>Услуги по приобретению товаров;</p></li>
						<li><p>Иные услуги связанные с транспортировкой, перегрузкой, хранением, оформлением грузов и товаров.</p></li>
					</ol>
				</li>
				<li><p>Перечень и стоимость услуг, необходимых Заказчику, определяются Сторонами и оформляются соответствующими Приложениями.</p> 
				</li>

			</ol>
		</li>

		<li>Права и обязанности сторон
			<ol>
				<li><p>Права Заказчика</p>
					<ol>
						<li><p>Своевременно получать от Исполнителя информацию о возможности предоставления необходимых услуг и их стоимости в соответствии с Запросами, переданными в установленной форме.</p></li>
						<li><p>Давать письменные указания Исполнителю в соответствии с Договором, в том числе, в рамках текущих Сделок. Данные указания должны быть правомерными, конкретными и осуществимыми. В случае, если в рамках текущей Сделки Заказчик даёт указания, противоречащие данным ранее, — условия Сделки подлежат пересмотру. Ответственность за последствия изменения условий Сделки возлагается в данном случае на Заказчика.</p></li>
					</ol>
				</li>
			</ol>
		</li>

		<li>Заключительные положения
			<ol>
				<li><p>Обмен Сторонами информацией и документами в рамках исполнения Договора посредством факсимильной, электронной или иной связи признается обеими Сторонами при условии, что полученные данные позволяют достоверно определить, что они исходят от одной из Сторон по Договору.</p></li>
				<li><p>Стороны вправе согласовать порядок Электронного обмена данными путём подписания соответствующего Дополнительного соглашения к настоящему Договору.</p></li>
				<li><p>Документы, предназначенные для предоставления заинтересованным пользователям, оформляются на бумажных носителях в соответствии с требованиями законодательства РФ.</p></li>
			</ol>
		</li>

		<li>Реквизиты сторон
			<div class="contract__requisites">
			<div class="contract__customer ft-common">
				<p class="ft-common-bl">Заказчик: ООО «Эстив»</p>
				<p>ИНН 2540100243 </p><p>КПП 254001001</p> 
				<p>ОГРН 1032502279446</p><p> Адрес места нахождения: г. Владивосток, ул. Стрельникова, 9 </p><p>Почтовый адрес: 690065 г. Владивосток, ул. Стрельникова, 9 </p><p>Тел/факс: +7 (423) 2302-999, +7 (423) 2301-103, 8-800-234-0-234 (бесплатный звонок по РФ) </p><p>E-mail: estiw@estiw.ru </p><p>р/счет: 40702810900060000717 в ПАО «Дальневосточный банк»</p> <p>к/счет: 30101810900000000705</p><p> БИК 040507705 </p><p>ОКПО 71527627 </p><p>Генеральный директор _______________________ /А.Н. Волков/</p></div>
			<div class="contract__executive ft-common"><p class="ft-common-bl">Исполнитель: ООО «Эстив»</p>
				<p>ИНН 2540100243 </p><p>КПП 254001001</p> 
				<p>ОГРН 1032502279446</p><p> Адрес места нахождения: г. Владивосток, ул. Стрельникова, 9 </p><p>Почтовый адрес: 690065 г. Владивосток, ул. Стрельникова, 9 </p><p>Тел/факс: +7 (423) 2302-999, +7 (423) 2301-103, 8-800-234-0-234 (бесплатный звонок по РФ) </p><p>E-mail: estiw@estiw.ru </p><p>р/счет: 40702810900060000717 в ПАО «Дальневосточный банк»</p> <p>к/счет: 30101810900000000705</p><p> БИК 040507705 </p><p>ОКПО 71527627 </p><p>Генеральный директор _______________________ /А.Н. Волков/</p></div>
			</div>
		</li>

	</ol>
