
	<footer class="footer">
	<div class="footer__wr">
	<div class="footer__wr-lf">
		<button id="footer__button-prev" class="button basic-button button-prev footer__button"><img class="button-prev__arrow" src="img/button-prev__arrow.svg">Назад</button>
		<button id="footer__button-next" class="button purple-button button-next footer__next-btn">Далее<img class="purple-button__arrow" src="img/navbar-btn-close.svg"></button>
	</div>
	<div class="footer__wr-rg">
		<button id="footer__button-next" class="button green-button footer__button">Заключить договор</button>
	</div>
	</div>
	<div id="contrct-iagree-checkbox" class="checkbox foo-chkbox ml20"></div>
</footer>