.contract-tb {
	@include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
	border: 1px solid #D5D7E1;
	// box-sizing: border-box;
	border-radius: 3px;
	border-spacing: 0;

	&__header {
		height: 48px;
		background: #F3F3F3;
		text-align: left;
		padding-left: 21px;
		font-size: 13px;
		font-weight: normal;
	}

	&__cell {
		padding-left: 21px;
		font-size: 14px;
		line-height: 16px;
		height: 56px;
		position: relative;

		& > img {
			vertical-align: middle;
			margin-left: 12px;
		}

		& > a {
			margin-left: 32px;
			&:first-child {
				margin-left: 0;
			}

			& > img, & > svg {
				vertical-align: middle;
				margin-right: 10px;
			}
		}

		&:first-child {
			color: #373F51;
		}

		&--edit {
			&:before{
				height: 56px;
				width: 4px;
				content: '';
				background-color: $clr-green;
				position: absolute;
   				left: 0;
    			top: 0;
			}
		}

		&--sub {
			padding-left: 41px;
		}


	}
	
	&__row {
		&:nth-child(odd){
			background-color: rgba(243, 243, 243, 0.5);
		}

	
 		&:hover {
			background-color: #ECF4FA;
		}

	}
}

