.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-bottom: 1px solid $clr-grey-v2;
}

.dx-datagrid-headers .dx-datagrid-table .dx-datagrid-filter-row > td {
    border-bottom: 0px solid $clr-grey-v2;
}

.dx-row.dx-column-lines.dx-header-row > td {
    border-left: 0px solid $clr-grey-v2;
    border-right: 0px solid $clr-grey-v2;
}

.dx-datagrid .dx-column-lines > td {
    border-left: 0px solid $clr-grey-v2;
    border-right: 0px solid $clr-grey-v2;
}

.datagrid--remove .dx-datagrid .dx-column-lines > td:nth-last-child(2) {
    border-right: 0px solid $clr-grey-v2;
}
.datagrid--remove .dx-datagrid .dx-column-lines > td:nth-last-child(1) {
    border-left: 0px solid $clr-grey-v2;
    position: relative;
}


.datagrid .dx-texteditor.dx-editor-outlined.dx-state-focused input {
    background-color: #FAFAFA;
}

.datagrid--remove .dx-datagrid-headers .dx-datagrid-table .dx-datagrid-filter-row > td:nth-last-child(1) {
    background-color: $clr-grey-v4;
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
    background: #F3F3F3;
}

// .dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td, .dx-datagrid-rowsview .dx-selection.dx-row > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > tr > td {
  .dx-datagrid-rowsview .dx-selection.dx-row > td {  
    background-color: #ECF4FA;
    color: $clr-dark-light;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) > td:not(.dx-focused) {
    background-color: #ECF4FA;
    color: $clr-dark-light;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > tr > td {
  	background-color: #ECF4FA;
    color: $clr-dark-light;
}
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-focused) > td {
    border-top: none;
}

.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon, .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
    background-color: transparent;
    border-color: transparent;
    color: #333;
    opacity: 1;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-dropdowneditor {
     margin-left: 0px; 
    padding-left: 1px;
}

.datagrid .dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.datagrid .dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
}

.dx-datagrid-focus-overlay {
    border: none;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
     vertical-align: middle; 
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    // width: 16px;
    height: 16px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url(../img/btn-rnd-del.svg);
    

}


.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link:hover{
  background-image: url(../img/btn-rnd-del-h.svg);
}
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link::before {
   content: '';
  
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit.dx-command-edit-with-icons {
    width: 60px;
    min-width: 60px;
}
