<field-set class="field-set field-set--tween-top">
<legend class="field-set__cap">
	Выпуск HB/L: Самостоятельно для этой сделки
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Количество оригиналов:</td>
		    <td>Два оригинала</td> 
		  </tr>
		  <tr>
		    <td>Тип коносамента:</td>
		    <td>На предъявителя</td>  
		  </tr>
		  <tr>
		    <td>Номер и дата выпуска:</td>
		    <td>1263826648, от 22.06.2019</td>  
		  </tr>
		  <tr>
		    <td>Кто выпустил:</td>
		    <td>ООО «Наименование организации»</td> 
		  </tr>
		  <tr>
		    <td>Где выпущен:</td>
		    <td>Россия, г. Владивосток</td>  
		  </tr>
		  <tr>
		    <td>Наименование отправителя:</td>
		    <td>ОАО «Организация-отправитель»</td>  
		  </tr>
		  <tr>
		    <td>Пункт отправления:</td>
		    <td>Россия, г. Владивосток, ул. Калинина, 22-239</td> 
		  </tr>
		  <tr>
		    <td>Наименование получателя:</td>
		    <td>ОАО «Организация-получатель»</td>  
		  </tr>
		  <tr>
		    <td>Пункт назначения:</td>
		    <td>Россия, г. Владивосток, ул. Калинина, 22-239</td>  
		  </tr>
		</table>
	</div>		
</div>
</field-set>