<field-set class="field-set field-set--tween-top">
<legend class="field-set__cap">
	Выпуск HB/L: Самостоятельно для этой сделки
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row ft-common--1416">
				<div>Введите данные HBL и порядок наших действий для урегулирования ваших отношений с партнером по поставке</div>
		</div>
		<div class="block__row">
			<div id="hbl-app-radio" class="radiogroup"></div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field" style="width: 204px;">
			    <div class="input-field__cont pseudoClassTextEditor"></div>
			    <div class="input-field__label">
			    	<label for="pseudoElementTextEditor__id">Номер:</label> 
			    </div>
			</div>
			<div class="input-field input-field__datebox" style="width: 200px;">
			    <div id="date-field" class="input-field__cont input-field__icn-calendar"></div>
			    <div class="input-field__label">
			    	<label for="date-field__id">Дата выпуска:</label> 
			    </div>
			</div>
			<div id="hbl2-app-radio" class="radiogroup mt30"></div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Кто выпустил:</label> 
			    </div>
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Где выпущен:</label> 
                </div>
            </div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование отправителя:</label> 
			    </div>
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Пункт отправления:</label> 
                </div>
            </div>
		</div>
		<div class="block__row block__row--gap20">
			<div class="input-field">
  			  <div class="input-field__cont input-field__search"></div>
			    <div class="input-field__btn">
			        <img src="/img/btn__search.svg" class="svg">
			    </div>
			    <div class="input-field__label">
			        <label for="input-field__search-id">Наименование получателя:</label> 
			    </div>
			</div>
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Пункт назначения:</label> 
                </div>
            </div>
		</div>
	</div>		
</div>
</field-set>