.progress-bar {
	position: relative;
	width: 579px;
	min-height: 35px;
	display: flex;
    flex-direction: row;
	// margin-left: 16px;
    //потом когда решат какойвысоты блок- убрать
    margin-left: 38px;
	align-items: center;


	&__background {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
 		width: 100%;
		height: 2px;
		background-color: #D5D7E1;
		height: 2px;
	}

	&__status {
		background-color: #02BE96;
    	width: 10%;
    	position: absolute;
        top: 50%;
        transform: translate(0,-50%);
    	height: 2px;
    	transition: width .5s;
	}

	&__step{

    	position: absolute;
        height: 32px;
        width: 32px;
        top: 50%;
        transform: translate(-50%,-50%);

    	&-link{
    		position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
    		width: 24px;
			height: 24px;
			border-radius: 50%;
    		background-color: #D5D7E1;
    		display: flex;
    		align-items: center;
    		justify-content: center;
    		@include font-fira ($clr-dark, 12px, normal);
    		transition: all .5s;

            &:hover{
                background-color: $clr-purple;
                color: $clr-white;
            }

    		&--active{
    			background-color: #02BE96;
    			transition: all .5s;
    			@include font-fira ($clr-white, 12px, normal);
    		}
    	}
    	&-border{
    		position: absolute;
    		width: 32px;
			height: 32px;
			border-radius: 50%;
    		transition: transform .2s;
    		opacity: 0;
    		transition: opacity .5s;

    		&--hov{
				transform: scale(1.15,1.15);
				transition: transform .3s;
    		} 

    		&--active {
    			box-shadow: 0 0 0 1px #02BE96;
    			opacity: 1;
    			transition: opacity .5s;
    		}   		
    	}

	}

	&__first-step {
		left: calc(0%);
	}

	&__second-step {
		left: calc(50%);
	}

	&__third-step {
		left: calc(100%);
	}

}