<field-set class="field-set">
	<legend class="field-set__cap">
		Основные реквизиты
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">ИНН:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">КПП:</label> 
				    </div>
				</div>
			</div>
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">ОКПО:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">ОГРН:</label> 
				    </div>
				</div>
			</div>
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Почтовый адрес (фактический):</label> 
				    </div>
				</div>
			</div>
			<div class="block__row">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Адрес регистрации (юридический):</label> 
				    </div>
				</div>
			</div>	
		</div>
	</div>
</field-set>