.datagrid {
	// width: 984px;
	@include font-lucida ($clr-dark-light, 13px, normal);

	& tr.dx-row-lines.dx-column-lines:nth-child(2n) {
		background-color: rgba(243, 243, 243, 0.5);
	}

	& tr.dx-row-lines.dx-column-lines {
		// color: rgba(0, 0, 0, 0.7);
		@include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
		line-height: 16px;
	}

	& .dx-header-row {
		background-color: #F3F3F3;
		height: 48px;
	}

	& .dx-texteditor.dx-editor-outlined {
	   	 border-radius: 0px;
	}

	& .dx-texteditor-buttons-container {
		background-color: transparent;
	}

	& .dx-widget input, &.dx-widget textarea {
		@include font-lucida (rgba(0, 0, 0, 0.7), 13px, normal);
	}

	.dx-datagrid-headers {
  	  color: $clr-dark-light;
	}
	
	.dx-data-row &__link-cell{ 
		// white-space: normal;

		 a {
			cursor: pointer;
			color: $clr-blue;
			// line-height: 21px;	

			&:hover{
				color: $clr-purple;
			}
		}
	}

	.dx-data-row &__link-cell--dash{ 
		 a {
			cursor: pointer;
			color: $clr-blue;	
			border-bottom: 1px dashed $clr-blue;
			line-height: 21px;

			&:hover{
				color: $clr-purple;
				border-bottom: none;
			}
		}
	}
	
	& .dx-data-row > td {
		white-space: normal;
	}

	&__custom-radio-cell {
		display: flex;
	}

	& .dx-datagrid .dx-sort-up:before, & .dx-datagrid .dx-sort-down:before {
     color: $clr-blue; 
	}
	
	& .dx-datagrid .dx-row > td {
		padding: 15px 10px;
	}

	&__custom-cell--def {
		display: inline-block;


		&:before {
			content: "";
			width: 16px;
			height: 11px;
			display: inline-block;
			border-left: 2px solid $clr-green;
			border-bottom: 2px solid $clr-green;
			transform: rotate(-45deg);
			margin-right: 12px;
			vertical-align: 5px;
			// position: absolute;
		}
	}
	
	&__custom-cell--dsbl {
		opacity: 0.5;
	}

	&--no-filters {
		& .dx-datagrid-headers {
			border-bottom: none;
		}
	}

	& .dx-master-detail-cell {
		padding: 10px 0 30px 20px !important;
		background-color: #ffffff !important;
	}

	& &__master-detail {
		padding: 10px 30px 0px 0px;
	}

	& .dx-datagrid-filter-row .dx-selectbox .dx-texteditor-buttons-container {
		background: #FFFFFF;
		border: 1px solid $clr-grey-v2;
		border-radius: 3px;

		& .dx-dropdowneditor-icon:before {
			color: $clr-blue;
		}
	}
}

.dg{
	&-connected {
		border-left: 5px solid #5C2D91 !important;
	}

	&-row2nt {
		background-color: rgba(243, 243, 243, 0.5);
	}

	&-connection-sg:before{
		content: url(#{$imgFolder}dg-connected-cell.svg);
		position: absolute;
    	transform: translate(0,-50%);
    	left: 64px;
	}
	&__icn-after-pay:before{
		content: url(#{$imgFolder}dg-connected-cell.svg);
		vertical-align: -5px;
		margin-right: 10px;
	}

	&-wsum__summary {
		border: 1px solid $clr-grey-v2;
		border-top: none;
		min-height: 56px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;



		&-row {
			padding-left: 78px;
			display: flex;
			align-items: center;
			height: 56px;

			&--exp {
				background-color: #ECF4FA;
			}
		}
		&-cont {
			padding: 10px 0 30px 20px; 
		}
	}
}



