.datagrid {
	width: 984px;
	@include font-lucida ($clr-dark-light, 13px, normal);

	& tr.dx-row-lines.dx-column-lines:nth-child(2n) {
		background-color: rgba(243, 243, 243, 0.5);
	}

	& tr.dx-row-lines.dx-column-lines {
		// color: rgba(0, 0, 0, 0.7);
		@include font-lucida (rgba(0, 0, 0, 0.7), 14px, normal);
	}

	& .dx-header-row {
		background-color: #F3F3F3;
	}

	& .dx-texteditor.dx-editor-outlined {
	   	 border-radius: 0px;
	}

	& .dx-texteditor-buttons-container {
		background-color: transparent;
	}

	& .dx-widget input, &.dx-widget textarea {
		@include font-lucida (rgba(0, 0, 0, 0.7), 13px, normal);
	}

	.dx-datagrid-headers {
  	  color: $clr-dark-light;
	}
	
	.dx-data-row &__link-cell{ 

		// white-space: normal;

		 a {
			cursor: pointer;
			color: $clr-blue;	

			&:hover{
				color: $clr-purple;
			}
		}
	}
	
	& .dx-data-row > td {
		white-space: normal;
	}

	&__custom-radio-cell {
		display: flex;
	}

	& .dx-datagrid .dx-sort-up:before, & .dx-datagrid .dx-sort-down:before {
     color: $clr-blue; 
	}


}



