<field-set class="field-set">
	<legend class="field-set__cap">
		Общая информация
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Имя:</label> 
				    </div>
				</div>
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Фамилия:</label> 
				    </div>
				</div>
			</div>

			<div class="block__row block__row--gap20">
				<div class="input-field">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Отчество:</label> 
				    </div>
				</div>
				<div class="input-field">
			    	<div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>
			    		<div class="input-field__label">
			       	 <label for="pseudoClassSelectBox__id">Занимаемая должность:</label> 
			   		 </div>        
				</div>
			</div>

			<div class="block__row">
			<div class="input-field">
			    <div class="input-field__cont pseudoClassTextEditor"></div>
			    <div class="input-field__label">
			    	<label for="pseudoElementTextEditor__id">Обращение:</label> 
			    </div>
			</div>
			</div>
		</div>
	</div>
</field-set>