<field-set class="field-set field-set--tween-top">
<legend class="field-set__cap">
	Сопровождение груза: да, нужно, по выбору
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Количество сопровождающих на выбранном маршруте:</td>
		    <td>5 человек</td> 
		  </tr>
		  <tr>
		    <td>Адрес от:</td>
		    <td>Россия, г. Петропавловск-Камчатский, ул. Ленинская, дом 3</td> 
		  </tr>
		  <tr>
		    <td>Адрес до:</td>
		    <td>Россия, г. Петропавловск-Камчатский, ул. Ленинская, дом 3</td> 
		  </tr>
		</table>
	</div>		
</div>
</field-set>