.basic-button {
	outline: none; height: 36px; background: $clr-white; border: 1px solid $clr-purple; box-sizing: border-box; box-shadow: inset 0px -3px 0px rgba(97, 93, 162, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: $clr-purple;cursor: pointer;
}
.basic-button:hover{
	background: #F8F7FF;
}

.basic-button:active {
	box-shadow: none;
}

.button-prev {
		&__arrow{
		margin-right: 17px;
	}
}


.purple-button {
	height: 36px; min-width: 70px; background: #5C2D91; box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: #FFFFFF; cursor: pointer;
	&__arrow{
		transform: rotate(180deg);
		margin-left: 17px;
	}
}
.purple-button:hover {
	background: #615DA2; box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
}

.purple-button:active {
	box-shadow: none;
}

.green-button {
	outline: none; height: 36px; background: $clr-green; border: 1px solid $clr-green; box-sizing: border-box; box-shadow: inset 0px -3px 0px rgba(97, 93, 162, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: #FFFFFF;cursor: pointer;
}
.green-button:hover{
	background: #02A884;
}

.green-button:active {
	box-shadow: none;
}

.red-button {
	outline: none; height: 36px; background: $clr-red; border: 1px solid $clr-red; box-sizing: border-box; box-shadow: inset 0px -3px 0px rgba(97, 93, 162, 0.3); border-radius: 3px; font-family: Lucida Grande; font-style: normal; font-weight: bold; line-height: normal; font-size: 14px; color: #FFFFFF;cursor: pointer;
}
.red-button:hover{
	background: #02A884;
}

.red-button:active {
	box-shadow: none;
}

.button {
	display: flex;
	align-items: center;
	padding-left: 24px; padding-right: 24px;

	&-next {
		padding-left: 24px; padding-right: 22px;
	}

	&-prev {
		padding-left: 22px; padding-right: 24px;
	}

	&.icn:before {
		margin-right: 8px;
	}

	&:disabled {
		cursor: not-allowed;
		background: #F2F3FB;
		border: 1px solid #D5D7E1;
		box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.05);
		color: #B4B8C5;
	}
}
//эффект поворота кнопок угольных
.btn-rotate180:before {
	transform: rotate(180deg);
	transition: transform .3s;
}
.btn-rotate180:after {
	transform:translate(0,5px) rotate(180deg);
	transition: transform .3s;

}

.btn__rnd {
	border: none;
    cursor: pointer;
    height: 22px;
    // flex:0 0 22px;
    min-width: 22px;
    background-color: $clr-white;
    display: flex;
    align-items: center;

    &--crn {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 42px;
    	height: 42px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	transform: translate(50%,-50%);
    }

    &--crn-left {
		position: absolute;
    	top: 0;
    	right: 11px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	transform: translate(0%,-50%);
    }

    &--mrg-b7 {
    	margin-bottom: 7px;
    	align-self: flex-end;
    }
	&--add{
		background-color: transparent;
	}
	&--add:hover {
	    & path {
	    	fill: $clr-purple;
	    }
	}

	&--del:hover {
	    & path {
	    	fill: $clr-red;
	    }
	}

	&-cap {
		font-size: 14px;
		border-bottom: 1px dashed $clr-blue;
		margin-right: 8px;

		&:hover {
			border-bottom: 1px dashed $clr-purple;
		}
	}

	&-sm {
		width: 16px;
		height: 16px;
	}

	.app-lnk:hover > &-cap {
    	border-bottom: 1px dashed $clr-purple;
	}


}
// .button__del-ovl {

// 	background-image: url(#{$imgFolder}del-btn-ovl.svg);
//     width: 22px;
//     height: 22px;
//     background-repeat: no-repeat;

// }