<div style="width: 602px;">
<field-set class="field-set step-block__sep--blank">
	<legend class="field-set__cap">
		Для вашей компании
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row">
				<div id="company-checkbox" class="checkbox"></div>
			</div>
		</div>
	</div>
</field-set>


<field-set class="field-set step-block__sep--blank">
	<legend class="field-set__cap">
		<span id="company-cap-checkbox" class="checkbox"></span>
		Стандартное заключение договора
	</legend>
	<div class="field-set__items checkbox-items">
				<div id="company1-checkbox" class="checkbox"></div>
				<div id="company2-checkbox" class="checkbox"></div>
	</div>
</field-set>

<field-set class="field-set step-block__sep40--blank">
	<legend class="field-set__cap">
		<span id="company-cap-checkbox" class="checkbox"></span>
		Изменения к договору
	</legend>
	<div class="field-set__items checkbox-items">
				<div id="company3-checkbox" class="checkbox"></div>
				<div id="company4-checkbox" class="checkbox"></div>
				<div id="company5-checkbox" class="checkbox"></div>
				<div id="company6-checkbox" class="checkbox"></div>
				<div id="company7-checkbox" class="checkbox"></div>
				<div id="company8-checkbox" class="checkbox"></div>
				<div id="company9-checkbox" class="checkbox"></div>
				<div id="company10-checkbox" class="checkbox"></div>
				<div id="company11-checkbox" class="checkbox"></div>
	</div>
</field-set>

<div class="block__cont">
	<div class="block__row">
		<button class="button purple-button mr20">Сохранить</button>
		<button class="button basic-button">Отменить изменения</button>
	</div>
</div>
</div>

