<div class="step-history">
	<div class="step-history__items">
		<ul>
			<li class="step-history__item">
				<div class="step-history__item-cap">Статус заказчика относительно груза:<span class="step-history__item-text">Владелец</span></div>
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Дата регистрации:  <span class="step-history__item-text">РФ (12 ноября 2018</span></div>		
			</li>
			<li class="step-history__item">
				<div class="step-history__item-cap">Последнее изменение профиля:<span class="step-history__item-text"> 24.12.2018</span></div>		
			</li>			 
		</ul>
	</div>
</div>