<div style="width: 602px;">
<field-set class="field-set step-block__sep--blank">
	<legend class="field-set__cap">
		Для вашей компании
	</legend>
	<div class="field-set__items">
		<div class="block__cont">
			<div class="block__row">
				<div id="company-checkbox" class="checkbox"></div>
			</div>
		</div>
	</div>
</field-set>


<field-set class="field-set step-block__sep--blank">
	<legend class="field-set__cap">
		<span id="company-cap-checkbox" class="checkbox"></span>
		Стандартное заключение договора
	</legend>
	<div class="field-set__items checkbox-items">
				<div id="company1-checkbox" class="checkbox"></div>
				<div id="company2-checkbox" class="checkbox"></div>
	</div>
</field-set>

<field-set class="field-set step-block__sep40--blank">
	<legend class="field-set__cap">
		<span id="company-cap-checkbox" class="checkbox"></span>
		Изменения к договору
	</legend>
	<div class="field-set__items checkbox-items">
				<div id="company3-checkbox" class="checkbox"></div>
				<div id="company4-checkbox" class="checkbox"></div>
				<div id="company5-checkbox" class="checkbox"></div>
				<div id="company6-checkbox" class="checkbox"></div>
				<div id="company7-checkbox" class="checkbox"></div>
				<div id="company8-checkbox" class="checkbox"></div>
				<div id="company9-checkbox" class="checkbox"></div>
				<div id="company10-checkbox" class="checkbox"></div>
				<div id="company11-checkbox" class="checkbox"></div>
	</div>
</field-set>

<div class="block__cont">
	<div class="block__row">
		<button class="button purple-button mr20">Сохранить</button>
		<button class="button basic-button">Отменить изменения</button>
	</div>
</div>
</div>

<div class="ml20" style="width: 602px;">
	<field-set class="field-set step-block__sep--blank">
		<legend class="field-set__cap">
			Для вашей компании
		</legend>
		<div class="field-set__items">
			<div class="block__cont">
				<div class="block__row">
				<div class="switch">
					<div class="switch__toggle  switch--left"></div>
					<span class="switch__title--rt">Режим ознакомления</span>
					<div class="switch__rem">Короткое описание для режима, например, показываем подсказки при наведении к каждому элементу</div>
				</div>
				</div>
				<div class="block__row">			
				<div class="switch">
					<div class="switch__toggle  switch--left"></div>
					<span class="switch__title--rt">Показывать только дополнительные подсказки </span>
					<div class="switch__rem">Показываем только подсказки для специальных элементов интерфейса</div>
				</div>
				</div>
				<div class="block__row">
				<div class="switch">
					<div class="switch__toggle switch--left"></div>
					<span class="switch__title--rt">Выключить/не показывать подсказки</span>
					<div class="switch__rem">Подходит только для уверенных пользователей</div>
				</div>
				</div>
			</div>
		</div>
	</field-set>
</div>
