<div style="width: 1392px;">

<div class="dg-wsum">
<div id="dataGridCompanyReq" class="datagrid datagrid--remove datagrid--no-filters"></div>
<div class="dg-wsum__summary">
	<button class='btn__rnd btn__rnd--add app-lnk'><span class='btn__rnd-cap btn__rnd-cap--nodash'>Добавить</span><svg width='16' height='16' fill='none' class='svg replaced-svg'><path d='M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm0-2A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm1-7h3v2H9v3H7V9H4V7h3V4h2v3z' fill='#0073BE'></path></svg></button>
</div>
</div>

</div>
<!-- сделанно через шаблон, для удобства редактирования, нужный кусок html внутри div-а с классом company-req-templ -->
<div class="company-req-templ" style="display: none;">
  <div class="block__cont" style="width: 740px;">
  	<div class="block__row mb20">
  		<div id="company-req-radio" class="radiogroup"></div>
  	</div>
	<div class="block__row block__row--gap20 mb20">
		<div class="input-field" style="width: 556px;">
		    <div class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>
		    <div class="input-field__label">
		        <label for="pseudoClassSelectBox__id">Наименование банка:</label> 
		    </div>        
		</div>
  		<div class="input-field" style="width: 164px;">
		    <div class="input-field__cont pseudoClassTextEditor"></div>
		    <div class="input-field__label">
		    	<label for="pseudoElementTextEditor__id">БИК:</label> 
		    </div>
		</div>
  	</div>
  	<div class="block__row block__row--gap20 mb20">
  		<div class="input-field">
		    <div class="input-field__cont pseudoClassTextEditor"></div>
		    <div class="input-field__label">
		    	<label for="pseudoElementTextEditor__id">Корреспондентский счёт:</label> 
		    </div>
		</div>
		<div class="input-field">
		    <div class="input-field__cont pseudoClassTextEditor"></div>
		    <div class="input-field__label">
		    	<label for="pseudoElementTextEditor__id">Расчетный счёт:</label> 
		    </div>
		</div>
  	</div>
  	<div class="block__row block__row--gap20 mb20">
  		<div class="input-field">
		    <div class="input-field__cont pseudoClassTextEditor"></div>
		    <div class="input-field__label">
		    	<label for="pseudoElementTextEditor__id">Описание:</label> 
		    </div>
		</div>
  	</div>
  	<div class="block__row mb20">
  		<div id="company-req-def-checkbox" class="checkbox"></div>
  	</div>
  	<div class="block__row">
		<button class="button purple-button mr20">Сохранить</button>
		<button class="button basic-button">Отменить</button>
	</div>
  </div>
</div>
