<div class="wrap__w918">
 <div class="step-block__capsep step-block__capsep--first">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>

 <div class="request__consign-note">
	<div class="consign-note__item">
		<div class="consign-note__item-cap">Характеристики груза:</div>
		<div class="consign-note__item-text">Однородный в упаковке</div>
	</div>
	<div class="consign-note__item">
		<div class="consign-note__item-cap">Выбор способа перевозки:</div>
		<div class="consign-note__item-text">По решению исполнителя</div>
	</div>
	<div class="consign-note__item">
		<div class="consign-note__item-cap">Условия хранения и перевозки:</div>
		<div class="consign-note__item-text">Открытое хранение</div>
	</div>		

 </div>

 	<field-set class="field-set field-set--tween-top field-set__cargo-description">
		<legend class="field-set__cap">
			Описание груза
		</legend>
		<div class="field-set__items">
			<div class="input-field input-field__pseudoElement" style="width: 100%;">
			    <div id="pseudoElement" class="input-field__cont" tooltip="Наименование груза в свободной форме" flow="right"></div>
			    <div class="input-field__label">
			    	<label for="pseudoElement__id">Наименование груза в свободной форме:</label> 
			    </div>
			    </div>

		</div>

	</field-set>
	<field-set class="field-set field-set--tween-bottom field-set__common-cargo-param">
		<legend class="field-set__cap">
			Общие параметры груза и размеры грузовых мест в упаковке
		</legend>
		<div class="field-set__items">
		
		</div>
	</field-set>
</div>