<div class="wrap__w918">
 <div class="step-block__capsep step-block__capsep--first">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>

//= consign-note/consign-note.html

//= cargo-description/cargo-description-v2.html

//= common-cargo-param/ccp-liquid-wpack-liters.html

//= danger-cargo/danger-cargo.html


 <div class="step-block__capsep">
 	<h2 class="step-block__sep-cap">Партия №2</h2>
 	<div class="step-block__sep-line"></div>
 </div>

//= consign-note/consign-note.html

//= cargo-description/cargo-description-v2.html

//= common-cargo-param/ccp-liquid-wpack-liters-v2.html

 <div class="step-block__capsep">
 	<h2 class="step-block__sep-cap">Общая спецификация на товары</h2>
 	<div class="step-block__sep-line"></div>
 </div>

<div class="input-field">
 <div class="fileUploader--full"></div>
	<div class="input-field__label">
		<label>Вложить спецификацию на товар(ы):</label> 
	</div>
</div>


 <div class="step-block__capsep step-block__capsep-b40">
 	<h2 class="step-block__sep-cap">Товары, партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>
//= goods-party/goods-party-v2.html

//= common-goodies-params/common-goodies-params-v2.html

 <div class="step-block__capsep step-block__capsep-b40">
 	<h2 class="step-block__sep-cap">Товары, партия №2</h2>
 	<div class="step-block__sep-line"></div>
 </div>
//= goods-party/goods-party-v2.html

//= common-goodies-params/common-goodies-params-v2.html

<div class="step-block__sep step-block__sep--blank"></div>

//= customs-clearance-goods/customs-clearance-goods.html
<div class="step-block__sep step-block__sep--blank"></div>

//= coast-incoterms/coast-incoterms.html
<div class="step-block__sep step-block__sep--blank"></div>
//= goods-certificate/goods-certificate.html
<div class="step-block__sep step-block__sep--blank"></div>
//= customs-transit/customs-transit.html
</div>