  <div class="custom-clearance-3agent-modal modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Выберите контрагента – собственника контейнера</h2>
    </div>
    <div class="modal__title-cont--mb12 block__cont">
      <div class="block__row">
          <div class="tabs">
            <ul class="tabs__links">
            <li class="tabs__link tabs__link--active"><a href="tabs-3agent-list" class="">Выбрать из списка </a></li>
            <li class="tabs__link"><a href="tabs-3agent-newcontr" class="">Ввести данные нового контрагента</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="modal__view">
    
     <div id="tabs-3agent-list" class="tabs__cont tabs__cont--active">
       <div id="gridContainer" class="datagrid"></div>
     </div>     

     <div id="tabs-3agent-newcontr" class="tabs__cont"> 
      <!-- <div class="block__cont"> -->
          <div class="block__row block__row--gapb30">
             <div id="custom-clearence__3agent-radio" class="radiogroup"></div>
         </div>
          
          <field-set class="field-set">
          <legend class="field-set__cap">
            Основные данные контрагента
          </legend>
            <div class="field-set__items">
                <div class="block__cont">
                <div class="block__row block__row--gap20">

                  <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">Краткое название организации:</label> 
                      </div>
                  </div>
                  <div class="input-field">
                    <div class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>          
                      <div class="input-field__label">
                          <label for="pseudoClassSelectBox__id">Форма собственности:</label> 
                      </div>        
                  </div>
                  </div>
                  <div class="block__row">
                  <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">Полное название организации:</label> 
                      </div>
                  </div>
                  </div>
                  <div class="block__row">
                    <div class="input-field">
                        <div id="" class="input-field__cont input-field__city"></div>
                        <div class="input-field__btn">
                            <img src="/img/btn__earth.svg" class="svg">
                        </div>
                        <div class="input-field__label">
                            <label for="city-btn__id">Место расположения:</label> 
                        </div>
                    </div>
                  </div>
                  <div class="block__row">
                    <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">Почтовый адрес (фактический):</label> 
                      </div>
                  </div>
                  </div>
                  <div class="block__row">
                    <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">Адрес регистрации (юридический):</label> 
                      </div>
                  </div>
                  </div>
                  <div class="block__row">
                    <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">Офисный телефон:</label> 
                      </div>
                  </div>
                  <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">E-mail (основной):</label> 
                      </div>
                  </div>
                  </div>
                  <div class="block__row">
                    <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">ИНН:</label> 
                      </div>
                  </div>
                  <div class="input-field">
                      <div id="pseudoElementTextEditor" class="input-field__cont pseudoClassTextEditor"></div>
                      <div class="input-field__label">
                        <label for="pseudoElementTextEditor__id">КПП:</label> 
                      </div>
                  </div>
                  </div>
                
              </div>

            </div>
          </field-set>


      </div>

  </div> 


  <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Ok</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>
</template>
