  <div id="modal-city" class="custom-clearance-modal modal">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap">
      <h2>Выберите код товара согласно ТН ВЭД</h2>
    </div>
    <div class="modal__title-cont block__cont">
      <div class="block__row block__row--gap20">
        <div class="input-field">
            <div class="input-field__cont input-field__search"></div>
        </div>
        <div class="input-field">
            <div class="input-field__cont input-field__search"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__view">
    <div id="treeView"></div>
  </div>
  <div class="modal__foo">
    <div class="block__row block__row--gap20">
      <button class="button basic-button purple-button" role="button" tabindex="0">
        <div class="dx-button-content">Ok</div>
      </button>
      <button class="button basic-button" role="button" tabindex="0">
        <div class="dx-button-content">Отмена</div>
      </button>
    </div>
  </div>
  </div>