<div class="wrap__w918">
 <div class="step-block__capsep step-block__capsep--first">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>

//= consign-note/consign-note.html

//= cargo-description/cargo-description.html

//= common-cargo-param/common-cargo-params.html

<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

//= form-calc/form-calc.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= delivery-invoice-form/delivery-invoice-form.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

//= cargo-escort/cargo-escort.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>



//= cargo-expertise/cargo-expertise.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= cargo-insurance/cargo-insurance.html



</div>