<div class="wrap__w918">
	
 <div class="step-block__capsep step-block__capsep--first">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>

//= consign-note/consign-note.html

//= cargo-description/cargo-description.html

//= common-cargo-param/common-cargo-params.html

<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

//= transp-fact/transp-fact.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= deliver-byself/deliver-byself.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= deliver-byself/deliver-byself__top.html

//=	pay-date/pay-date.html

<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= documentary-credit/documentary-credit.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

//= deliver-another-pay/deliver-another-pay.html

//=	pay-date/pay-date.html

<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= deliver-executor/deliver-executor.html


</div>