<div class="wrap__w918">
	
 <div class="step-block__capsep step-block__capsep--first">
 	<h2 class="step-block__sep-cap">Партия №1</h2>
 	<div class="step-block__sep-line"></div>
 </div>

//= consign-note/consign-note.html

//= cargo-description/cargo-description.html

//= common-cargo-param/common-cargo-params.html

<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

//= form-calc/form-calc.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= delivery-invoice-form/delivery-invoice-form.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= delivery-invoice+pay-part/delivery-invoice+pay-part.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= documentary-credit/documentary-credit.html
<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>

<field-set class="field-set field-set--tween-top delivery-invoice__fs">
<legend class="field-set__cap">
	 Форма расчета за поставку товара: другие способы оплаты
</legend>
<div class="field-set__items">
	<div id="delivery-invoice-form__radioGroup3" class="radiogroup"></div>

</div>
</field-set>
<field-set class="field-set field-set--tween-bottom">
<legend class="field-set__cap">
	 Укажите части платежей и время их производства
</legend>
<div class="field-set__items  wrap__flx-cl">

	<div class="pay-part__item">
			<div class="input-field">
			    <div id="" class="numberbox input-field__cont pseudoClassNumberBox" tooltip="Часть платежа (%)" flow="right"></div>
			    <div class="input-field__label">
			    	<label for="pseudoNameElementNumberBox__id">Часть платежа (%):</label> 
			    </div>
			</div>
			<div class="input-field">
			    <div id="" class="numberbox input-field__cont pseudoClassNumberBox" tooltip="В течение раб. дней" flow="right"></div>
			    <div class="input-field__label">
			    	<label for="pseudoNameElementNumberBox__id">В течение раб. дней:</label> 
			    </div>
			</div>
			<div class="input-field">
				    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>			
					<div class="input-field__label">
				    	<label for="pseudoClassSelectBox__id">Начиная с даты:</label> 
				    </div>        
			</div>

			<button class="button__del-ovl button__round">
				<img src="/img/del-btn-ovl.svg">
			</button>
		</div>
		
</div>
</field-set>


<div class="step-block__sep">
	<div class="step-block__sep-line"></div>
</div>
//= payment-delivery/payment-delivery.html


</div>