.header  
{  
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
    z-index: 3;

	&--fix78 {
        width: calc(100% - 78px);
    }

    &--fix313 {
        width: calc(100% - 313px);
        transition: width .3s; 
    }
}
