
.input-field {
	position: relative;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // justify-content: flex-end;

	&__label {
		@include font-lucida ($clr-dark-light, 13px, normal);
		margin-bottom: 6px;
		display: flex;
		flex-direction: row;
		width: 100%;
		order: -1;
		height: 17px; //for icn error


		&--err:before{
			content: url(#{$imgFolder}input-field-err.svg);
			margin-right: 5px;

		}
	}

	&__cont{
		height: 36px;
		flex: 1 0 auto;
		width: 100%;
		// border-radius: 3px !important;

		border: 1px solid $clr-grey-v4; //перекрываем свойство dexpr
		&.dx-invalid{
			border: 1px solid #E63946 !important;
		}

		&.input-field__city, &.input-field__search{
			width: auto;
		}


	}

	&__value{
		background: $clr-grey-v4;
		// /border: 1px solid $clr-grey-v4; 
		@include font-lucida ($clr-dark-light, 15px, normal);
		padding-left: 10px !important;

		&:focus{
			background-color: #FAFAFA; 
			// border: 1px solid $clr-grey-v2; 
			box-sizing: border-box; 
			border-radius: 3px;
		}

		&:hover {

		}
	}

	&__remark {
		@include font-lucida ($clr-dark-light, 12px, normal);
		margin-top: 6px;
		align-self: flex-end;
	}


	&__requestName {
		display: flex;
    	flex-direction: column;
    	width: 602px;
    	margin-top: 20px;
	}

	&__destName,&__departName {
		flex: 1 0 627px;
		max-width: 627px;
	}


	&__condition {
		flex: 1 0 221px;
		max-width: 221px;
	}

	&__btn {
		width: 36px;
		height: 36px;
		background-color: #FFFFFF;
		border: 1px solid #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
    	cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;

		&:hover path {
			fill: $clr-purple;
			// transition: fill .3s;
		}

		&.dx-button .dx-button-content {
			padding: 0;
    		display: flex;
	     	align-items: center;
    		justify-content: center;
		}

		&.dx-button-mode-contained.dx-state-hover {
  			background-color: $clr-white;
		}		

		&.dx-button-normal.dx-state-hover .dx-button-content,
		&.dx-button-back.dx-state-hover .dx-button-content {
			border-radius: 0px;
			}
		}

	&__currency-calc {
		width: 480px;
		margin-top: 30px;
	}


	&--readonly {
		width: 128px;
		
		.dx-texteditor.dx-editor-outlined {
		    background: #ffffff;
		    border:none;
		    border-bottom: 2px solid #02C39A;
		    border-radius: 0px;
		}
		& .input-field__value{
			background-color: #ffffff;
			border: none;	
   	   	}

		& .dx-texteditor.dx-state-focused.dx-editor-outlined {
		  border-color: #02C39A;
		}
	}

	&__w128{
		width: 128px;
	}

	&--over {
		white-space: pre;
	}

	&__show-pass{
			// content: url(#{$imgFolder}input-field__pass-show.svg);
			cursor: pointer;
			position: absolute;
			top: 24px;
			right: 0;
			margin-right: 10px;
			border: none;
 			background-color: transparent;
 			height: 34px;
 			width: 25px;
 			display: flex;
 			align-items: center;
 			justify-content: center;
	}
	&__show-pass:hover {
		& path {
 				fill: $clr-blue;
 			}
	}

}

.dx-state-disabled + .input-field__label {
			color:rgba(0, 23, 31, 0.6);;
		}




