<field-set class="field-set field-set--tween-top field-set--tween-bottom">
<legend class="field-set__cap">
	Участок пути <span class="field-set__bcap--r">ОТ</span>
</legend>
<div class="field-set__items field-set__items-r">
	<div class="block__cont block__cont-r"> 
		<table>
		  <tr>
		    <td>Город, страна:</td>
		    <td>Shanghai, Китай</td> 
		  </tr>
		  <tr>
		    <td>Тип места:</td>
		    <td>Офис</td>  
		  </tr>
		  <tr>
		    <td>Контактный телефон:</td>
		    <td>Контактный телефон:</td>  
		  </tr>
		</table>
	</div>		
</div>
</field-set>