<field-set class="field-set field-set--tween-bottom">
<legend class="field-set__cap">
	Участок пути <span class="field-set__bcap--r">ОТ</span>
</legend>
<div class="field-set__items">
	<div class="block__cont"> 
		<div class="block__row block__row--gap20">
			<div class="input-field">
                <div id="" class="input-field__cont input-field__city"></div>
                <div class="input-field__btn">
                    <img src="/img/btn__earth.svg" class="svg">
                </div>
                <div class="input-field__label">
                    <label for="city-btn__id">Город, страна:</label> 
                </div>
            </div>
            <div class="input-field" style="width: 266px;">
			    <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div> 
			    <div class="input-field__label">
			        <label for="pseudoClassSelectBox__id">Тип места:</label> 
			    </div>        
			</div>
            <div class="input-field" style="width: 236px;">
				    <div class="input-field__cont pseudoClassTextEditor"></div>
				    <div class="input-field__label">
				    	<label for="pseudoElementTextEditor__id">Контактный телефон:</label> 
				    </div>
			</div>
		  </div>
	</div>		
</div>
</field-set>
