.header-sticky__progress {
	height: 126px;
	background: #F2F3FB;
	transition:height 1s;
	display: flex;
	flex-direction: column;
	// align-items: center;
	padding-left: 30px;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 24px;

	&--slim {
		height: 74px;
		transition:height 1s;
	}
}

