.header-sticky {
    background: $clr-white;
    // width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    &--active {
            position: fixed;
            top: 0;
            // width: 313px;
            z-index: 3;
    }
}

// .header-sticky--stick + .view {
//   padding-top: 218px;
// }

    