.header-sticky {
    background: $clr-white;
    // width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    &--active {
            position: fixed;
            top: 0;
             // width: 100%;
            z-index: 3;
    }

    &--fix78 {
        width: calc(100% - 78px);
    }

    &--fix313 {
        width: calc(100% - 313px);
        transition: width .3s; //при переходе в fix header плавность вместе с меню
    }
}
   