<div class="wrap__w918">
	//= basic-info-readonly/basic-info-readonly.html
	<div class="step-block__capsep step-block__capsep-b30">
 		<h2 class="step-block__sep-cap">Информация о товаре</h2>
 		<div class="step-block__sep-line"></div>
 	</div>
 	//= articul-description-readonly/articul-description-readonly.html
 	<div class="step-block__sep--blank"></div>
 	//= coast-incoterms-readonly/coast-incoterms-readonly.html
 	<div class="step-block__sep--blank"></div>
 	//= goods-accept-readonly/goods-accept-readonly.html
 	<div class="step-block__sep--blank"></div>
 	//= goods-transfer-readonly/goods-transfer-readonly.html
 	<div class="step-block__sep--blank"></div>
 	//= after-pay-readonly/after-pay-readonly.html
</div>