<footer class="footer">
	<div class="footer__wr">
	<div class="footer__wr-lf">
		<button id="footer__button-prev" class="button basic-button button-prev footer__button"><img class="button-prev__arrow" src="img/button-prev__arrow.svg">Назад</button>
		<button class="button red-button footer__button">Отменить запрос</button>
	</div>
	<div class="footer__wr-rg">
		<button type="button"  id="footer__button-prev" class="button basic-button  footer__button">Сохранить правки</button>
		<div class="footer__edit-msg">Внесенно 3 правки</div>
		<button id="footer__button-prev" class="button green-button footer__button">Отправить на согласование</button>
	</div>
	</div>
</footer>