<div class="modal-versions-compare-view modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap mb30">
      <h2>Удалить запрос №0001?</h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview">

        //= ../request-readonly/basic-info/basic-info.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/party/party-01.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/party/party-02-agreement.html
        //= ../request-readonly/container/container20.html
        //= ../request-readonly/container/container40.html
        //= ../request-readonly/total/total.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/customs-clearance/customs-clearance-agreement.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/incoterms-2010/incoterms-2010.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/party-goods/party-goods.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/party-goods/party-goods-02.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/certificate/certificate.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/customs-transit/customs-transit.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/calc-performer/calc-performer.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/doc-credit/doc-credit.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/cargo-exam/cargo-exam.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/goods-exam/goods-exam.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/cargo-insure-choice/cargo-insure-choice.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/cargo-escort/cargo-escort.html
        <div class="step-block__sep--blank"></div>
        //= ../request-readonly/HBL/HBL.html

      </div>
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center w100">
        <button class="button basic-button purple-button" role="button" tabindex="0">
          <div class="dx-button-content">OK</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
        <button class="button basic-button icn icn__edit--pr ml-a">Внести изменения в запрос</button>
      </div>
    </div>

</template>
