<div class="modal-versions-compare-edit3 modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap mb30">
      <h2>Температурный режим груза</h2>
      <div class="modal__title-rem">Редактируется версия запроса № T0019 (33) от 04.02.2019</div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview">

      <div class="input-field">
      <div class="switch">
              <div class="init-switch switch__double"></div>
              <span class="switch__pre-title lu-fnt">°C</span>
              <span class="switch__title">°F</span>
      </div>  
         <div id="rangeSelector" class="rangeselector"></div>
      </div>    

      </div>
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center w100">
        <button class="button basic-button purple-button" role="button" tabindex="0">
          <div class="dx-button-content">Сохранить</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

</template>
