<div class="modal-versions-compare-edit4 modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title">
    <div class="modal__title-cap mb30">
      <h2>Действия при погрузке в контейнер</h2>
      <div class="modal__title-rem">Редактируется версия запроса № T0019 (33) от 04.02.2019</div>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview">
        
      <div class="input-field mb20" style="width: 424px;">
        <div id="" class="input-field__cont input-field__icn-dropdown pseudoClassSelectBox"></div>  <div class="input-field__label">
          <label for="pseudoClassSelectBox__id">При погрузке в контейнер:</label> 
        </div>        
      </div> 
      <div class="input-field">
        <div id="" class="input-field__cont input-field__city"></div>
        <div class="input-field__btn">
          <img src="img/btn__earth.svg" class="svg">
        </div>
        <div class="input-field__label">
          <label for="city-btn__id">Пункт приёма:</label> 
        </div>
      </div> 
        

      </div>
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center w100">
        <button class="button basic-button purple-button" role="button" tabindex="0">
          <div class="dx-button-content">Сохранить</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

</template>