<div id="version-compare_hdr__radio" class="radiogroup mb30"></div>



<div class="ver-comp">
	<div class="ver-comp__hd">
		<table>
			<tr>
				<td></td>
				<td>
					<img src="/img/usr-comp-av.png">
					<div class="ver-comp__hd-cap">
						<div class="app-lnk">Константин Константинопольский</div>
						<div class="ver-comp__hd-caprem">Ваша версия запроса</div>
					</div>
				</td>
				<td>
					<img src="/img/mng-comp-av.png">
					<div class="ver-comp__hd-cap">
						<div class="app-lnk">Иван Петрович</div>
						<div class="ver-comp__hd-caprem">Персональный менеджер</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="ver-comp__mpar">
		<div class="ver-comp__mpar-h">
			<table>
				<tr>
					<td>↓ Парметры запроса</td>
					<td>
						<div class="input-field" style="width: 394px;">
					    	<div class="input-field__cont input-field__search input-field__icn-dropdown pseudoClassSelectBox"></div> 
					    	<div class="input-field__btn">
        						<img src="/img/btn-srch-plus.svg" class="svg">
					    	</div>                
						</div>
					</td>
					<td>
						<div class="input-field" style="width: 394px;">
					    <div id="" class="input-field__cont input-field__search input-field__icn-dropdown pseudoClassSelectBox"></div>
					    <div class="input-field__btn">
        						<img src="/img/btn-srch-plus.svg" class="svg">
					    	</div>                 
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="ver-comp__mpar-cnt ver-comp__bl">
			<table>
				<tr>
					<td>Готовность груза:</td>
					<td>20.02.2019
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>20.02.2019</td>
				</tr>
				<tr class="ver-comp__chg-block ver-comp__arch-block">
					<td>Получателем груза будет:</td>
					<td class="ver-comp__ft-bl">Юридическое лицо
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td class="ver-comp__ft-bl">Физическое лицо</td>
				</tr>
				<tr>
					<td>В какой валюте рассчитать:</td>
					<td>Рубль (RUB)₽
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Рубль (RUB)₽</td>
				</tr>
				<tr>
					<td>Основные приоритеты сделки:</td>
					<td>Надёжнее, Дешевле
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Надёжнее, Дешевле</td>
				</tr><tr>
					<td>Юридическое сопровождение сделки:</td>
					<td>Да, нужно
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Да, нужно</td>
				</tr>
				<tr class="ver-comp__chg-block ver-comp__arch-block">
					<td>Дополнительные характеристики:</td>
					<td class="ver-comp__ft-bl">Гуманитарная помощь, Б/У
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td class="ver-comp__ft-bl">Опасный, Негабаритный</td>
				</tr>
			</table>
		</div>	
	</div>
	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Таможенная очистка: необходима таможенная очистка</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Таможенная очистка:</td>
					<td><p>Для экспорта из Германия: Пункт на границе в Konstanz, Германия</p>
						<p>Для импорта в Россия: На границе</p>
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td><p>Для экспорта из Германия: Пункт на границе в Konstanz, Германия</p>
						<p>Для импорта в Россия: На границе</p>
					</td>
				</tr>
				<tr class="ver-comp__chg-block ver-comp__arch-block">
					<td>Стоимость по контракту на условиях Incoterms-2010:</td>
					<td><span class="ver-comp__ft-bl">Стоимость: 125,055 $</span>, Условия: CPT, Место: Konstanz, Германия
					<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td><span class="ver-comp__ft-bl">Стоимость: 125,039 $</span>, Условия: CPT, Место: Konstanz, Германия</td>
				</tr>
				<tr>
					<td>Будет выпущено классификационное решение ФТС РФ:</td>
					<td>Нет
					<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Нет</td>
				</tr>
				<tr>
					<td>Сертификаты товара:</td>
					<td>Есть готовые, Будут выпущены
					<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Есть готовые, Будут выпущены</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Форма расчёта за поставку товара: другие способы оплаты</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Способ оплаты за товар:</td>
					<td>Уставной капитал
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Уставной капитал
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Форма расчёта за перевозку груза: документарный аккредитив</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Укажите Ваши предпочтения для открытия аккредитива:</td>
					<td><p>Аккредитив: Отзывный, Акцептный, Срок действия: до 24.06.2019,</p>
						<p>Валюта: Жэньминьби</p>
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td><p>Аккредитив: Отзывный, Акцептный, Срок действия: до 24.06.2019,</p>
						<p>Валюта: Жэньминьби</p>
					</td>
				</tr>
				<tr>
					<td>Укажите предпочитаемый банк-эмитент:</td>
					<td>Значение не задано
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Значение не задано
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Экспертиза товара: да, нужно по выбору</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Произвести экспертизу товара в пункте(ах):</td>
					<td>В пункте отправления, Дополнительно в другом месте: Москва, Россия;
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>В пункте отправления, Дополнительно в другом месте: Москва, Россия;
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Экспертиза груза: да, при приёмке и сдаче груза</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Произвести экспертизу груза:</td>
					<td><p>При приёмке (укажите место): В пункте отправления</p>
						<p>При сдаче (укажите место): Новосибирск, Россия</p>
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td><p>При приёмке (укажите место): В пункте отправления</p>
						<p>При сдаче (укажите место): Новосибирск, Россия</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Страхование груза: да, по выбору</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Контрактная стоимость груза:</td>
					<td>155 002 €
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>155 002 €
					</td>
				</tr>
				<tr>
					<td>Балансовая (заявляемая) стоимость:</td>
					<td>155 002 €
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>155 002 €
					</td>
				</tr>
				<tr>
					<td>Балансовая (заявляемая) стоимость:</td>
					<td>155 002 €
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>155 002 €
					</td>
				</tr>
				<tr class="ver-comp__chg-block">
					<td>Страховая компания:</td>
					<td class="ver-comp__ft-bl">ВСК
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td class="ver-comp__ft-bl">Росгосстрах
					</td>
				</tr>
				<tr class="ver-comp__chg-block">
					<td>Страховать от:</td>
					<td class="ver-comp__ft-bl">Хищение, Ошибка в документах
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td class="ver-comp__ft-bl">Ошибка в документах
					</td>
				</tr>
				<tr>
					<td>Страховать на участке пути:</td>
					<td><p>От:Konstanz, Германия, адрес</p>
						<p>До:Москва, Россия, адрес </p>
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td><p>От:Konstanz, Германия, адрес</p>
						<p>До:Москва, Россия, адрес </p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Сопровождение груза: да, нужно на всём пути</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>Количество сопровождающих:</td>
					<td class="ver-comp__just-chng">2 человека
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>1 человек
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ver-comp__bl">
		<div class="ver-comp__bl-h">
			<div class="app-lnk__clhd app-lnk__clhd--opn">
				<img src="/img/icn-show-hide.svg" class="svg">
				<div class="app-lnk__clhd-cp app-lnk__clhd-cp--rgh">Партия №1: наименование партии</div>
			</div>
		</div>
		<div class="ver-comp__bl-cnt">
			<table>
				<tr>
					<td>При погрузке в контейнер, Пункт приёма (если есть)</td>
					<td>Использовать только контейнер отправителя
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Использовать только контейнер отправителя
					</td>
				</tr>
				<tr class="ver-comp__chg-block ver-comp__arch-block">
					<td>Температурный режим</td>
					<td class="ver-comp__ft-bl">от +9°C до +13°C
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td class="ver-comp__ft-bl">от +21°C до +32°C
				</tr>
				<tr>
					<td>Негабаритность по РЖД</td>
					<td>Низ:1, Блок:12, Верх:23, Сверх:1
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Низ:1, Блок:12, Верх:23, Сверх:1
					</td>
				</tr>
				<tr>
					<td>Чертёж для негабаритности по РЖД</td>
					<td>-
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>-
					</td>
				</tr>
				<tr>
					<td>Класс опасности</td>
					<td>Класс 3.3
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>Класс 3.3
					</td>
				</tr>
				<tr>
					<td>Номера аварийных карт ООН:</td>
					<td>228 1.2G
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>228 1.2G
					</td>
				</tr>
				<tr>
					<td>Паспорт безопасности</td>
					<td>safety-passport.png
						<button class="ver-comp__actn app-lnk"><img src="/img/icn-edit.svg" class="svg"></button>
					</td>
					<td>safety-passport.png
					</td>
				</tr>
			</table>
		</div>
	</div>


</div>
