<div class="modal-versions-compare-send modal"></div>

<template class="modal__title-templ">
  <div class='modal__btn-close'>&times;</div>
  <div class="modal__title modal__title--nb">
    <div class="modal__title-cap">
      <h2>Отправить запрос на согласование</h2>
    </div>
  </div>
</template>

<template class="modal__content-templ">
  <div class="scrollView">
      <div class="modal__view modal__subview">
        <div class="ft-coomon">
          Вы уверены, что хотите отправить изменённые данные запроса (<span class="ft-bl">сохраненная версия №123 от 23.03.2019</span>) на согласование исполнителю?
        </div>
      </div>
    </div>
      <div class="modal__foo">
      <div class="block__row block__row--gap20 block__row--center w100">
        <button class="button basic-button green-button" role="button" tabindex="0">
          <div class="dx-button-content">Отправить на согласование</div>
        </button>
        <button class="button basic-button" role="button" tabindex="0">
          <div class="dx-button-content">Отмена</div>
        </button>
      </div>
    </div>

</template>
